bubbles{
  overflow: hidden;
  margin:1em auto;
}
.node{
  cursor:pointer;
}
.tooltip{
  color:#333;
  position:fixed;
  padding:1em;
  background-color: rgba(255,255,255,1);
  border:1px solid #d7dddd;
  z-index:99;
  min-width: 250px;
  &::after, &::before {
  	right: 100%;
  	top: 50%;
  	border: solid transparent;
  	content: " ";
  	height: 0;
  	width: 0;
  	position: absolute;
  	pointer-events: none;
  }

    &::after {

  	border-right-color: #fff;
  	border-width: 10px;
  	margin-top: -10px;
  }
  &::before {

  	border-right-color: #d7dddd;
  	border-width: 11px;
  	margin-top: -11px;
  }
  .close-it{
    position:absolute;
    top:2px;
    right:4px;
    cursor:pointer;
    color:#d7dddd;
    &:hover{
      color:rgba(0,0,0,0.87);
    }
  }
  .title{
    margin:0.3em 0;
    margin-bottom:1em;
    font-size:1.1em;
  }

  .sub{
    margin-left:2em;
    margin-top:1em;
    .name{
        margin:0.3em 0;
    }
  }
  span{
    display: inline-block;
  }
  md-progress-linear .md-container .md-bar2{
    transform:translateX(-100%) scale(0, 1);

    transition: transform .3s ease-out;

  }
}
