<div>
				<style type="text/css">
					md-tabs .md-tab.md-active,
					md-tabs .md-tab.md-focused {
						color: {{display.selectedCat.color}}
					}

					md-tabs .md-tab .md-ripple-container {
						color: {{display.selectedCat.color}};
					}

					md-tabs md-ink-bar {
							color: {{display.selectedCat.color}};
						background:{{display.selectedCat.color}};
					}
					.info-container .info-box .module.rank .mini-list .list ul li.active {
								color: {{display.selectedCat.color}};
					}
				</style>
				<section class="header" style="padding:1em" >
					<div layout="row" layout-align="space-between center">
							<div layout="row" layout-align="center center">
								<div class="close-box">
													<ng-md-icon icon="{{closeIcon || 'close'}}" ng-click="display.selectedCat = ''" ng-mouseleave="closeIcon = 'close'" ng-mouseover="closeIcon = 'chevron_left'" options='{"rotation": "none", "duration":375}' size="32"></ng-md-icon>
								</div>
							</div>
							<div layout-align="space-between center" layout="column">
								<span class="icon slide-toggle" style="margin-bottom:1em">
									<!--<md-fab-speed-dial class="md-scale md-fab-top-center" md-direction="left" style="margin-left:-32px">
											<md-fab-trigger>
												<i ng-if="display.selectedCat.icon" class="icon icon-bubble icon-{{display.selectedCat.icon}}" ng-style="{'background-color':display.selectedCat.color}"></i>
												<div ng-if="!display.selectedCat.icon" class="icon-bubble" ng-style="{'background-color':display.selectedCat.color,'width': '1em'}">&nbsp;</div>
											</md-fab-trigger>
											<md-fab-actions ng-click="display.selectedCat = nodePra">
												<i ng-if="nodeParent.icon" class="icon icon-bubble icon-{{nodeParent.icon}}" ng-style="{'background-color':nodeParent.color}"></i>
												<div ng-if="!nodeParent.icon" class="icon-bubble" ng-style="{'background-color':nodeParent.color,'width': '1em'}">&nbsp;</div>
											</md-fab-actions>
										</md-fab-speed-dial>-->
										<i ng-if="display.selectedCat.icon || nodeParent.icon" class="icon icon-bubble icon-{{display.selectedCat.icon || nodeParent.icon}}" ng-style="{'background-color':display.selectedCat.color}"></i>
											<div ng-if="!display.selectedCat.icon && !nodeParent.icon" class="icon-bubble" ng-style="{'background-color':display.selectedCat.color,'width': '1em'}">&nbsp;</div>
								</span>
								<span class="title" style="font-size:1.2em;text-align:center;line-height:1em">{{display.selectedCat.name}}</span>
							</div>
							<div>
								<span class="info-icon">
												<ng-md-icon icon="info_outline" ng-click="toggleInfo()"></ng-md-icon>
								</span>
							</div>
						</div>
				</section>
				<section class="header info" layout-align="space-between end" layout="row">
								<span class="title">{{country.country}}</span>
								<span class="info-icon" ng-click="mapGotoCountry(current.iso)">
												<ng-md-icon icon="chevron_right"></ng-md-icon>
								</span>
				</section>
				<section class="rank module slide-toggle" layout-align="space-between center" layout="row" ng-if="!compare.active">
								<div class="chart" layout="row">
												<div layout-align="center center" layout="column">
																<div class="title" layout-align="center center" layout="row">Rank</div>
																<div layout="row">
																				<circlegraph ng-model="country" options="{color:display.selectedCat.color, field:'rank'}"></circlegraph>
																</div>
												</div>
								</div>
								<div class="mini-list">
												<div class="title">
																<span ng-if="!current.id">Top</span>
																<span ng-if="current.id">Actual</span>
												</div>
												<div class="list">
																<ul>
																				<li ng-class="{active: nat.id == current.id}" ng-click="setCurrent(nat)" ng-repeat="(key, nat) in epi | orderBy:'-'+display.selectedCat.type | limitTo:3">
																								<span class="number">{{getSubRank(nat)}}.</span>
																								<span class="value">{{nat.iso}}</span>
																								<md-tooltip md-delay="700" md-direction="right">
																												{{nat.country}}
																								</md-tooltip>
																				</li>
																</ul>
												</div>
								</div>
								<div class="mini-list">
												<div class="title">Bottom</div>
												<div class="list">
																<ul>
																				<li ng-click="setCurrent(nat)" ng-repeat="(key, nat) in epi | orderBy:display.selectedCat.type | limitTo:3">
																								<span class="number">{{getSubRank(nat)}}.</span>
																								<span class="value">{{nat.iso}}</span>
																								<md-tooltip md-delay="700" md-direction="right">
																												{{nat.country}}
																								</md-tooltip>
																				</li>
																</ul>
												</div>
								</div>
				</section>
				<section class="module slide-toggle" layout-align="center center" layout="column" ng-if="!$parent.compare.active">
								<!--<p>Score</p>-->
								<median data="" ng-model="country.epi[5]" options="medianOptionsBig" style="margin:2em 0"></median>

								<!--<p>median</p>-->
				</section>
				<section>
								<md-tabs md-center-tabs="true" md-dynamic-height md-no-pagination="true" md-selected="activeTab" md-swipe-content="true">
												<md-tab label="Details" md-on-select="setTab(0)">
																<div class="module bubbles slide-toggle mt mb" layout="column">
																				<bubbles chartdata="country.epi[5]" height="240" indexer="indexer" labels="false" ng-model="display.selectedCat" sizefactor="3" width="300"></bubbles>
																</div>
												</md-tab>
												<md-tab label="History" md-active="activeTab == 1" md-on-select="setTab(1)">
																<history chartdata="country.epi" options="{field:display.selectedCat.type, color:display.selectedCat.color}"></history>
												</md-tab>
												<md-tab label="Compare" md-active="" md-on-deselect="checkComparison(false)" md-on-select="checkComparison(true)">
																<div class="module comparison">
																				<div layout-wrap layout="row">
																								<div class="country" flex="50" ng-repeat="c in compare.countries">
																												<h4 ng-click="setCurrent(c)">
																																<span class="number">N°{{getSubRank(c)}}</span>
																																{{c.country}}</h4>
																												<median data="epi" height="20" info="false" ng-model="c" options="medianOptions" width="120"></median>
																												<bubbles borders="false" chartdata="c" height="150" indexer="indexer" labels="false" ng-model="display.selectedCat" sizefactor="5" width="120"></bubbles>
																								</div>
																				</div>
																</div>
												</md-tab>
								</md-tabs>
								<section>
												<div class="info-box md-whiteframe-z2 anim sub-box" id="sub-info" ng-if="info">
																<div class="close-box">
																				<ng-md-icon icon="{{closeIcon || 'close'}}" ng-click="toggleInfo()" ng-mouseleave="closeIcon = 'close'" ng-mouseover="closeIcon = 'chevron_left'" options='{"rotation": "none", "duration":375}' size="32"></ng-md-icon>
																</div>
																<div class="module description">
																				<div layout="row">
																								<div class="header" flex="50" layout-align="space-between end" layout="row" flex-offset="25">
																												<div class="title">{{ display.selectedCat.name}}</div>
																												<div class="sub-title">{{display.selectedCat.full_name}}</div>
																								</div>
																				</div>
																				<div layout="row">
																								<div class="content" flex="50" flex-offset="25">
																												<div class="text" ng-bind-html="display.selectedCat.description"></div>
																								</div>
																				</div>
																				<div layout-align="center" layout-margin layout="row">
																								<div class="framework" layout-align="space-between center" layout="column">
																												<sunburst data="display.selectedCat.data"></sunburst>
																								</div>
																				</div>
																				<div layout="row">
																								<div class="caption" flex="60" ng-bind-html="display.selectedCat.caption" flex-offset="20"></div>
																				</div>
																</div>
												</div>
											</section>
								</div>
