<div>
  <div class="header center info" layout-align="center center" layout="row">
        <span class="title">{{country.country}}</span>
  </div>
  <div class="header center" layout-align="center center" layout="column">
          <span class="icon"><i class="icon icon-bubble icon-{{selected.icon}} fisheries" ng-style="{'background-color':selected.color}"></i></span>
          <span class="title">{{selected.name}}<span class="info-icon">
                  <ng-md-icon icon="info_outline" class="icon-space" ng-click="toggleInfo()"></ng-md-icon>
          </span></span>

  </div>
  <div class="rank module" layout-align="space-between center" layout="row">
          <div class="chart" layout="row">
                  <div layout-align="" layout="column">
                          <div class="title" layout-align="center center" layout="row">Rank</div>
                          <div layout="row">
                                <circlegraph ng-model="country"  color="{{selected.color}}"></circlegraph>
                          </div>
                  </div>

          </div>
          <div class="mini-list">
                  <div class="title">
                          <span ng-if="!current.id">Top</span>
                          <span ng-if="current.id">Actual</span>
                  </div>
                  <div class="list">
                          <ul style="transform:translateY(-{{getOffset()}}px)">
                                  <li ng-class="{active: nat.id == current.id}" ng-click="setCurrent(nat)" ng-repeat="(key, nat) in data | orderBy:'-'+selected.type | limitTo:3">
                                          <span class="number">{{key+1}}.</span>
                                          <span class="value">{{nat.iso}}</span>
                                          <md-tooltip md-delay="700" md-direction="right">
                                                  {{nat.country}}
                                          </md-tooltip>
                                  </li>
                          </ul>
                  </div>
          </div>
          <div class="mini-list">
                  <div class="title">Bottom</div>
                  <div class="list">
                          <ul>
                                  <li ng-click="setCurrent(nat)" ng-repeat="(key, nat) in data | orderBy:selected.type | limitTo:3">
                                          <span class="number">{{getRank(nat)}}.</span>
                                          <span class="value">{{nat.iso}}</span>
                                          <md-tooltip md-delay="700" md-direction="right">
                                                  {{nat.country}}
                                          </md-tooltip>
                                  </li>
                          </ul>
                  </div>
          </div>
  </div>
  <div class="module" layout-align="center center" layout="column">
        <p>Score</p>
        <median data="" handling="{{ false }}" color="{{selected.color}}" field="{{selected.type}}" ng-model="country.epi[5]"></median>
        <p>median</p>
  </div>
  <div class="module">
    <bubbles borders="false" height="180" width="300" ng-model="selected" indexer="indexer" chartdata="country.epi[0]" sizefactor="3" ></bubbles>
  </div>
  <div class="module anim tabs" layout="column">
      <history field="selected.type" color="selected.color" chartdata="country.epi"></history>
  </div>
  <div class="info-box md-whiteframe-z2 anim sub-box" id="sub-info" ng-if="info">
          <div class="close-box">
                  <ng-md-icon icon="{{closeIcon || 'close'}}" ng-click="toggleInfo()" ng-mouseleave="closeIcon = 'close'" ng-mouseover="closeIcon = 'chevron_left'" options='{"rotation": "none", "duration":375}' size="32"></ng-md-icon>
          </div>
          <div class="module description">
                  <div layout="row">
                          <div class="header" flex="50" layout-align="space-between end" layout="row" offset="25">
                                  <div class="title">{{ selected.name}}</div>
                                  <div class="sub-title">{{selected.full_name}}</div>
                          </div>
                  </div>
                  <div layout="row">
                          <div class="content" flex="50" offset="25">
                                  <div class="text" ng-bind-html="selected.description"></div>
                          </div>
                  </div>
                  <div layout-align="center" layout-margin layout="row">
                          <div class="framework" layout-align="space-between center" layout="column">
                                  <sunburst data="selected.data"></sunburst>
                          </div>
                  </div>
                  <div layout="row">
                          <div class="caption" flex="60" ng-bind-html="selected.caption" offset="20"></div>
                  </div>
          </div>
  </div>
</div>
