<section class="module-top md-whiteframe-z2" ng-class="{'out': vm.data.length}">
				<md-subheader class="md-no-sticky">Choose data source</md-subheader>
				<md-list>
								<md-list-item ng-click="vm.toggleListResources()" ng-if="!vm.showUploadContainer">
												<p>Browse data</p>
												<ng-md-icon icon="{{vm.openClose(vm.showResources)}}"></ng-md-icon>

								</md-list-item>

								<md-list-item class="sub-list" ng-if="vm.resources.length && vm.showResources">
												<div layout-align="start start" layout-wrap layout="row">
																<div flex="100" layout-align="space-between center" layout="row" style="color:#ccc;padding:0 1em;border-bottom:1px solid #ddd">
																				<div>
																								<span>Sort:</span>
																								<span>a-z</span>
																				</div>
																				<span flex></span>
																				<md-input-container class="md-accent">
																								<label>Search</label>
																								<input ng-model="vm.resourceSearch" type="text"/>
																				</md-input-container>
																</div>
																<div flex="100">
																				<md-list>
																								<md-list-item class="selector" ng-class="{'checked': vm.selectedResource(resource), 'unchecked': !vm.selectedResource()}" ng-click="vm.toggleResource(resource)" ng-repeat="resource in vm.resources | filter:vm.resourceSearch">
																												<p>{{resource.title}}</p>
																												<ng-md-icon icon="check" layout-align="center center" layout="row" size="18"></ng-md-icon>
																								</md-list-item>
																				</md-list>
																</div>
												</div>
								</md-list-item>

								<md-list-item ng-click="vm.showUploadContainer = !vm.showUploadContainer" ng-if="!vm.showResources">
												<p>Upload new data</p>
												<ng-md-icon icon="{{vm.openClose(vm.showUploadContainer)}}"></ng-md-icon>
								</md-list-item>
								<md-list-item ng-if="!vm.showResources" ui-sref="app.index.editor">
												<p>Edit existing data</p>
												<ng-md-icon icon="{{vm.openClose(vm.showUploadContainer)}}"></ng-md-icon>
								</md-list-item>
				</md-list>

				<div class="slide-toggle upload-container" ng-if="vm.showUploadContainer">
								<parsecsv></parsecsv>
				</div>
</section>
<section class="module-top module-second md-whiteframe-z2 anim" flex layout-fill layout="column" ng-if="vm.showResources && vm.resources.length && vm.groups.length">
				<form name="saveIndexForm" novalidate>
								<div layout="row">
												<md-button class="md-accent md-border md-lowspace">Preview</md-button>
												<span flex></span>
												<md-button class="md-accent md-border md-lowspace" ng-click="vm.saveIndex()" ng-disabled="vm.saveDisabled || savIndexForm.$invalid">Save</md-button>
												<md-button class="md-accent md-border md-lowspace">Go to Map</md-button>
								</div>
								<md-toolbar class="clean" md-scroll-shrink>
												<div class="md-toolbar-tools">

																<md-input-container class="md-accent">
																				<label>Title</label>
																				<input name="title" ng-model="vm.newIndex.title" placeholder="Your Index..." required type="text"/>
																</md-input-container>
												</div>
								</md-toolbar>
				</form>
				<md-content >
								<section>
												<md-subheader >
																<div flex="100" layout-align="space-between center" layout="row">
																				<md-button class="md-lowspace" ng-click="vm.addGroup()">
																								<ng-md-icon icon="add_circle"></ng-md-icon>
																								<span>Add Group</span>
																				</md-button>
																				<span flex></span>
																				<md-button class="md-icon-button" ng-click="vm.cloneSelection()" ng-if="vm.selectedForGroup.length">
																								<md-tooltip >
																												Clone Selected Items
																								</md-tooltip>
																								<ng-md-icon icon="my_library_add"></ng-md-icon>
																				</md-button>
																				<md-button class="md-icon-button md-warn" ng-if="vm.selectedForGroup.length">
																								<md-tooltip >
																												Remove Selected Items
																								</md-tooltip>
																								<ng-md-icon icon="clear"></ng-md-icon>
																				</md-button>
																</div>
												</md-subheader>
												<div layout="column" ui-tree="vm.treeOptions">
																<ol id="tree-root" ng-model="vm.groups" ui-tree-nodes="">
																				<li ng-include="'/views/app/indexcreator/nodes_renderer.html'" ng-repeat="node in vm.groups" ui-tree-node></li>
																</ol>
												</div>
								</section>
				</section>
				<section class="module-top module-third md-whiteframe-z2 anim" ng-if="vm.showResources && vm.resources.length && vm.groups.length && vm.editItem">
								<div layout="row">
												<span flex></span>
												<md-button class="md-accent md-border md-lowspace" ng-click="vm.editItem = false">Close</md-button>
								</div>
								<md-toolbar class="clean" md-scroll-shrink ng-if="vm.editItem.isGroup">
												<div class="md-toolbar-tools">
																<md-input-container class="md-accent">
																				<label>Title</label>
																				<input ng-model="vm.editItem.title" placeholder="Your Index..." type="text"/>
																</md-input-container>
												</div>
								</md-toolbar>
								<md-toolbar class="clean" md-scroll-shrink ng-if="!vm.editItem.isGroup" style="padding:0">
												<div class="md-toolbar-tools">

																{{vm.editItem.title}}

												</div>
								</md-toolbar>
								<md-content layout-padding>
												<md-input-container class="md-accent" layout="row">
																<label>Description</label>
																<textarea ng-model="vm.editItem.description"></textarea>
												</md-input-container>
												<section >
																<div label="Color" md-color-picker value="vm.editItem.color"></div>
												</section>
												<section class="select-list">
																<p class="md-subhead">Icon</p>
																<md-button class="md-icon-button md-accent" ng-class="{'md-raised':vm.editItem.icon == key}" ng-click="vm.editItem.icon = key" ng-repeat="(key, item) in vm.icons">
																				<i class="icon icon-{{key}}"></i>
																</md-button>

												</section>
								</md-content>
				</section>
				<section class="table anim md-whiteframe-z2" ng-if="vm.data.length && vm.step == 1">
								<md-data-table-toolbar class="md-whiteframe-z1">
												<div flex layout-align="space-between center" layout="row">
																<h2 class="md-title">CSV Import 1/4</h2>
																<span flex></span>
																<div layout-align="space-between center" layout="row">
																				<md-button ui-sref="app.index.create.check">
																								Next
																								<ng-md-icon class="middle" icon="chevron_right"></ng-md-icon>
																				</md-button>
																</div>
												</div>
								</md-data-table-toolbar>

								<md-tabs class="md-accent" flex layout="column" layout-fill>
												<md-tab label="New">
																<md-content>
																				<div layout-align="center center" layout-padding layout="row">
																								<div flex="50">
																												<div layout layout-sm="column">
																																<md-input-container flex="80">
																																				<label>Title</label>
																																				<input ng-model="vm.meta.name" required type="text">
																																</md-input-container>
																																<md-input-container flex="20">
																																				<label>Year</label>
																																				<input ng-model="vm.meta.year" required>
																																</md-input-container>
																												</div>
																												<md-input-container class="md-block">
																																<label>Description</label>
																																<textarea name="description" ng-model="vm.meta.description"></textarea>
																												</md-input-container>
																												<md-input-container class="md-block">
																																<label>Caption</label>
																																<textarea name="caption" ng-model="vm.meta.caption"></textarea>
																												</md-input-container>

																								</div>
																				</div>
																</md-content>
												</md-tab>
												<md-tab label="Add to Existing">

																				<section flex layout="row" layout-fill>
																								<md-content flex >
																												<md-list>
																																<md-list-item class="md-3-line" ng-click="vm.addDataTo = data" ng-repeat="data in vm.myData">
																																				<div class="md-list-item-text" layout="column">
																																								<h3>{{ data.title }}</h3>
																																								<h4>{{ data.name }}</h4>
																																								<p>{{ vm.checkFields(data) }}</p>
																																				</div>
																																				<ng-md-icon icon="check" ng-if="vm.addDataTo == data"></ng-md-icon>
																																</md-list-item>
																												</md-list>

																								</md-content>
																								<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right" md-is-locked-open="vm.addDataTo.id">
																												<md-toolbar class="md-theme-light">
																																<h1 class="md-toolbar-tools">Additional Info</h1>
																												</md-toolbar>
																												<md-content layout-padding>
																																<form>
																																				<md-input-container>
																																								<label for="testInput">Year</label>
																																								<input id="testInput" md-autofocus ng-model="vm.meta.year" type="number">
																																				</md-input-container>
																																</form>
																																<md-button class="md-primary" ng-click="close()">
																																				Close Sidenav Right
																																</md-button>
																												</md-content>
																								</md-sidenav>
																				</section>

												</md-tab>
								</md-tabs>

				</section>
				<section class="table anim md-whiteframe-z2" ng-if="vm.data.length && vm.step == 2">
								<md-data-table-toolbar class="md-whiteframe-z1">
												<div flex layout-align="space-between center" layout="row">
																<h2 class="md-title">CSV Import 2/4</h2>
																<span flex></span>
																<md-input-container style="margin-right: 10px;margin-bottom:0px;min-width:100px">
																				<label>ISO Field</label>
																				<md-select ng-model="vm.meta.iso_field">
																								<md-option ng-repeat="(key, item) in vm.data[0].data[0]" value="{{key}}">{{key}}</md-option>
																				</md-select>
																</md-input-container>
																<md-input-container style="margin-right: 10px;margin-bottom:0px;min-width:100px">
																				<label>Country Field</label>
																				<md-select ng-model="vm.meta.country_field">
																								<md-option ng-repeat="(key, item) in vm.data[0].data[0]" value="{{key}}">{{key}}</md-option>
																				</md-select>
																</md-input-container>
																<div layout-align="space-between center" layout="row">
																				<md-button class="md-raised md-accent anim-fade" layout-align="center center" layout="row" ng-click="vm.editRow()" ng-if="vm.selected.length == 1">
																								<ng-md-icon class="middle" icon="mode_edit"></ng-md-icon>
																								Edit
																				</md-button>
																				<md-button class="md-raised md-warn anim-fade" ng-click="vm.deleteSelected()" ng-if="vm.selected.length">
																								<ng-md-icon class="middle" icon="delete"></ng-md-icon>
																								Delete
																				</md-button>
																				<span ng-if="vm.errors || !vm.iso_checked ">
																								<span ng-if="vm.errors">{{vm.errors}}
																												errors detected
																								</span>
																								<md-button class="md-raised md-accent" ng-click="vm.fetchIso()" ng-if="vm.iso_errors || !vm.iso_checked">
																												Get Iso Values
																												<ng-md-icon class="middle" icon="public"></ng-md-icon>
																								</md-button>
																								<md-button class="md-raised md-warn" ng-click="vm.clearErrors()" ng-if="vm.errors && vm.errors != vm.iso_errors">
																												Clear Errors
																												<ng-md-icon class="middle" icon="gesture"></ng-md-icon>
																								</md-button>
																				</span>
																				<md-button ui-sref="app.index.create.basic">
																								<ng-md-icon class="middle" icon="chevron_left"></ng-md-icon>
																								Prev
																				</md-button>
																				<md-button layout-align="center center" layout="row" ng-if="vm.errors == 0 && vm.iso_checked" ui-sref="app.index.create.meta">
																								<span>Next</span>
																								<ng-md-icon class="middle" icon="chevron_right"></ng-md-icon>

																				</md-button>


																</div>
												</div>
								</md-data-table-toolbar>
								<md-data-table-container>
												<table md-data-table md-row-select="vm.selected">
																<thead md-order="vm.query.order" md-trigger="vm.onOrderChange">
																				<tr >
																								<th name="Errors" ng-if="vm.errors" order-by="errors"></th>
																								<th class="iconed" name="{{key}}" ng-class="{'done': vm.checkColumnData(key), 'globe': key == vm.meta.iso_field || key == vm.meta.country_field}" ng-repeat="(key, item) in vm.data[0].data[0]" order-by="{{key}}">
																												<span class="icon" ng-if="key == vm.meta.iso_field">
																																<ng-md-icon icon="public"></ng-md-icon>
																												</span>
																												<span class="icon" ng-if="key == vm.meta.country_field">
																																<ng-md-icon icon="my_location"></ng-md-icon>
																												</span>
																												<span class="icon" ng-click="vm.editColumnData($event, key)" ng-if="key != vm.meta.iso_field && key != vm.meta.country_field">
																																<ng-md-icon icon="mode_edit"></ng-md-icon>
																												</span>
																								</th>
																				</tr>
																</thead>
																<tbody>

																				<tr class="{{ vm.checkForErrors(item) }}" md-auto-select ng-repeat="item in vm.data | orderBy:vm.query.order | limitTo: vm.query.limit : (vm.query.page-1)*vm.query.limit">
																								<td ng-if="vm.errors">{{item.errors.length}}</td>
																								<td ng-class="{'md-warn': vm.meta.iso_field == k && !column}" ng-repeat="(k, column) in item.data[0]">{{column}}</td>
																				</tr>
																</tbody>
												</table>
								</md-data-table-container>
								<md-data-table-pagination md-limit="vm.query.limit" md-page="vm.query.page" md-total="{{vm.data.length}}" md-trigger="vm.onPaginationChange"></md-data-table-pagination>
				</section>
				<section class="table anim md-whiteframe-z2" ng-if="vm.data.length && vm.step == 3">
								<md-data-table-toolbar class="md-whiteframe-z1">
												<div flex layout-align="space-between center" layout="row">
																<h2 class="md-title">CSV Import 3/4</h2>
																<h3>Adding Meta Data</h3>
																<span flex></span>
																<div layout-align="space-between center" layout="row">
																				<md-button ui-sref="app.index.create.check">
																								<ng-md-icon class="middle" icon="chevron_left"></ng-md-icon>
																								Prev
																				</md-button>
																				<md-button ui-sref="app.index.create.final">
																								Next
																								<ng-md-icon class="middle" icon="chevron_right"></ng-md-icon>
																				</md-button>
																</div>
												</div>
								</md-data-table-toolbar>
								<md-content class="fill-noheader" layout-fill>
												<section flex layout-fill layout="row">
																<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
																				<md-toolbar md-scroll-shrink>
																								<h1 class="md-toolbar-tools">Columns</h1>
																				</md-toolbar>
																				<md-content>
																								<md-list class="selector">
																												<md-list-item class="md-2-line" ng-class="{'active': item == vm.editingItem, 'md-warn': !vm.indicators[key].base}" ng-click="vm.selectForEditing(key)" ng-if="key != vm.meta.iso_field && key != vm.meta.country_field && key != 'year'" ng-repeat="(key, item) in vm.data[0].data[0]">
																																<div class="md-list-item-text">
																																				<h3>{{vm.indicators[key].title || key}}</h3>
																																				<p>
																																								{{ key }}
																																				</p>
																																</div>
																																<ng-md-icon icon="{{vm.indicators[key].base ? 'check_circle': 'error'}}" layout-align="center center" layout="row" size="18"></ng-md-icon>
																												</md-list-item>
																								</md-list>
																				</md-content>
																</md-sidenav>
																<md-content flex>
																				<div layout-align="top center" layout-fill layout="column" ng-if="vm.indicator">
																								<indicator item="vm.indicator"></indicator>
																				</div>
																				<div flex></div>
																</md-content>
												</section>
								</md-content>
				</section>
				<section class="table anim md-whiteframe-z2" layout="column" ng-if="vm.data.length && vm.step == 4">
								<md-data-table-toolbar class="md-whiteframe-z1">
												<div flex layout-align="space-between center" layout="row">
																<h2 class="md-title">CSV Import 4/4</h2>
																<h3>Main Information</h3>
																<span flex></span>
																<div layout-align="space-between center" layout="row">
																				<md-button ui-sref="app.index.create.meta">
																								<ng-md-icon class="middle" icon="chevron_left"></ng-md-icon>
																								Prev
																				</md-button>

																</div>
												</div>
								</md-data-table-toolbar>
								<div layout-align="center center" layout-padding layout="row">
												<div flex="50">
																<div layout layout-sm="column">
																				<md-input-container flex="80">
																								<label>Title</label>
																								<input ng-model="vm.meta.name" required type="text">
																				</md-input-container>
																				<md-input-container flex="20">
																								<label>Year</label>
																								<input ng-model="vm.meta.year" required>
																				</md-input-container>
																</div>
																<md-input-container class="md-block">
																				<label>Description</label>
																				<textarea name="description" ng-model="vm.meta.description"></textarea>
																</md-input-container>
																<md-input-container class="md-block">
																				<label>Caption</label>
																				<textarea name="caption" ng-model="vm.meta.caption"></textarea>
																</md-input-container>

																<div layout-align="space-between center" layout="row">

																				<md-button class="md-primary md-raised" flex ng-click="vm.saveData()">
																								Save
																				</md-button>
																</div>
												</div>
								</div>
				</section>
