<section class="module-top md-whiteframe-z2" ng-class="{'out': vm.data.length}">
				<md-subheader class="md-no-sticky">Choose data source</md-subheader>
				<md-list>
								<md-list-item>
												<p>Browse data</p>
												<ng-md-icon icon="{{vm.openClose(vm.showResources)}}" ng-click="vm.listResources()"></ng-md-icon>

								</md-list-item>

									<md-list-item ng-if="vm.resources.length && vm.showResources" layout="column" layout-align="space-around start">
											<div flex="100" ng-repeat="resource in vm.resources">
											<p>{{resource.title}}</p>
										</div>
									</md-list-item>

								<md-list-item ng-click="vm.showUploadContainer = !vm.showUploadContainer">
												<p>Upload new data</p>
												<ng-md-icon icon="{{vm.openClose(vm.showUploadContainer)}}"></ng-md-icon>
								</md-list-item>
				</md-list>

				<div class="slide-toggle upload-container" ng-if="vm.showUploadContainer">
								<parsecsv></parsecsv>
				</div>
</section>
<section class="table anim md-whiteframe-z2" ng-if="vm.data.length && vm.step == 1">
				<md-data-table-toolbar class="md-whiteframe-z1">
								<div flex layout-align="space-between center" layout="row">
												<h2 class="md-title">CSV Import 1/3</h2>
												<h3>check your data</h3>
												<md-input-container style="margin-right: 10px;">
																<label>ISO Field</label>
																<md-select ng-model="vm.meta.iso_field">
																				<md-option ng-repeat="(key, item) in vm.data[0].data[0]" value="{{key}}">{{key}}</md-option>
																</md-select>
												</md-input-container>
												<div layout-align="space-between center" layout="row">
																<md-button class="md-raised md-accent anim-fade" ng-click="vm.editRow()" ng-if="vm.selected.length == 1">
																				<ng-md-icon icon="mode_edit"></ng-md-icon>
																				Edit
																</md-button>
																<md-button class="md-raised md-warn anim-fade" ng-click="vm.deleteSelected()" ng-if="vm.selected.length">
																				<ng-md-icon icon="delete"></ng-md-icon>
																				Delete
																</md-button>

																<md-button ng-if="vm.errors == 0" ui-sref="app.index.create.meta">
																				Next
																				<ng-md-icon icon="chevron_right"></ng-md-icon>
																</md-button>

																<span ng-if="vm.errors">
																				{{vm.errors}}
																				errors detected
																				<md-button ng-click="vm.fetchIso()" ng-if="vm.iso_errors">
																								Get Iso Values
																								<ng-md-icon icon="public"></ng-md-icon>
																				</md-button>
																				<md-button ng-click="vm.clearErrors()" ng-if="vm.errors && vm.errors != vm.iso_errors">
																								Clear Errors
																								<ng-md-icon icon="gesture"></ng-md-icon>
																				</md-button>
																</span>
												</div>
								</div>
				</md-data-table-toolbar>
				<md-data-table-container>
								<table md-data-table md-row-select="vm.selected">
												<thead md-order="vm.query.order" md-trigger="vm.onOrderChange">
																<tr >
																				<th name="Errors" ng-if="vm.errors" order-by="errors"></th>
																				<th class="iconed" name="{{key}}" ng-class="{'done': vm.checkColumnData(key), 'globe': key == vm.meta.iso_field}" ng-repeat="(key, item) in vm.data[0].data[0]" order-by="{{key}}">
																								<span class="icon" ng-if="key == vm.meta.iso_field">
																												<ng-md-icon icon="public"></ng-md-icon>
																								</span>
																								<span class="icon" ng-click="vm.editColumnData($event, key)" ng-if="key != vm.meta.iso_field">
																												<ng-md-icon icon="mode_edit"></ng-md-icon>
																								</span>
																				</th>
																</tr>
												</thead>
												<tbody>

																<tr class="{{ vm.checkForErrors(item) }}" md-auto-select ng-repeat="item in vm.data | orderBy:vm.query.order | limitTo: vm.query.limit : (vm.query.page-1)*vm.query.limit">
																				<td ng-if="vm.errors">{{item.errors.length}}</td>
																				<td ng-class="{'md-warn': vm.meta.iso_field == k && !column}" ng-repeat="(k, column) in item.data[0]">{{column}}</td>
																</tr>
												</tbody>
								</table>
				</md-data-table-container>
				<md-data-table-pagination md-limit="vm.query.limit" md-page="vm.query.page" md-total="{{vm.data.length}}" md-trigger="vm.onPaginationChange"></md-data-table-pagination>
</section>
<section class="table anim md-whiteframe-z2" ng-if="vm.data.length && vm.step == 2">
				<md-data-table-toolbar class="md-whiteframe-z1">
								<div flex layout-align="space-between center" layout="row">
												<h2 class="md-title">CSV Import 2/3</h2>
												<h3>adding meta data</h3>
												<div layout-align="space-between center" layout="row">
																<md-button ui-sref="app.index.create.check">
																				<ng-md-icon icon="chevron_left"></ng-md-icon>
																				Prev
																</md-button>
																<md-button ui-sref="app.index.create.final">
																				Next
																				<ng-md-icon icon="chevron_right"></ng-md-icon>
																</md-button>
												</div>
								</div>
				</md-data-table-toolbar>
				<md-content>
								<table md-data-table md-row-select="vm.selectedRows">
												<tbody>
																<tr md-auto-select ng-if="key != vm.meta.iso_field" ng-repeat="(key, item) in vm.data[0].data[0]">
																				<td>{{key}}</td>
																				<td>
																								<md-input-container>
																												<label>Title</label>
																												<input ng-model="vm.meta.table[key].title" type="text">
																								</md-input-container>
																				</td>
																				<td>
																								<md-input-container>
																												<label>Description</label>
																												<input ng-model="vm.meta.table[key].description" type="text">
																								</md-input-container>
																				</td>
																</tr>
												</tbody>
								</table>
								<!--<md-tabs md-selected="vm.selectedIndex" class="md-default" md-autoselect md-dynamic-height>
		 <md-tab ng-repeat="(key, item) in vm.data[0].data[0]" ng-if="key != vm.meta.iso_field" label="{{key}}">
      <h2 style="text-align:center">
        <span>{{key}}</span>
      </h2>
			 <div class="tab{{$index%4}}" style="padding: 25px;" flex="50" flex-offset="25" flex-md="70" flex-offset-md="15" flex-sm="100" flex-offset-sm="0" flex-offset="25">
				 <div>

					 <md-input-container class="md-block">
						 <label>Alternative name</label>
						 <input ng-model="vm.meta.table[key].name">
					 </md-input-container>
					 <md-input-container class="md-block">
						 <label>Title</label>
						 <input required ng-model="vm.meta.table[key].title">
					 </md-input-container>
					 <md-input-container class="md-block">
						 <label>Description</label>
						 <input md-maxlength="30" name="description" ng-model="vm.meta.table[key].description">
					 </md-input-container>
				 </div>
				 <div layout="row" layout-align="space-between center">
					 <span flex ng-if="vm.selectedIndex == 0"></span>
				 <md-button ng-if="vm.selectedIndex > 0" class="md-raised" ng-click="vm.selectedIndex = vm.selectedIndex -1" >
					<ng-md-icon icon="chevron_left"></ng-md-icon> Prev
				 </md-button>
				 <md-button class="md-raised" ng-click="vm.selectedIndex = vm.selectedIndex +1" >
					 Next <ng-md-icon icon="chevron_right"></ng-md-icon>
				 </md-button>
			 </div>
			 </div>
		 </md-tab>
	 </md-tabs>

    <!--  <md-whiteframe class="md-whiteframe-1dp" ng-repeat="(key, item) in vm.data[0].data[0]" flex="25">
      <h4>{{key}}</h4>
      <md-input-container >
        <label>Title</label>
        <input ng-model="vm.meta[key].title" type="text">
      </md-input-container>
      <md-input-container >
        <label>Color</label>
        <input ng-model="vm.meta[key].color" type="text">
      </md-input-container>
      <md-input-container >
        <label>Icon</label>
        <input ng-model="vm.meta[key].icon" type="text">
      </md-input-container>
      <md-input-container >
        <label>Description</label>
        <input ng-model="vm.meta[key].description" type="text">
      </md-input-container>
    </md-whiteframe>-->
				</md-content>
</section>
<section class="table anim md-whiteframe-z2" layout="column" ng-if="vm.data.length && vm.step == 3">
	<md-data-table-toolbar class="md-whiteframe-z1">
					<div flex layout-align="space-between center" layout="row">
									<h2 class="md-title">CSV Import 3/3</h2>
									<h3>Main Information</h3>
									<div layout-align="space-between center" layout="row">
													<md-button ui-sref="app.index.create.meta">
																	<ng-md-icon icon="chevron_left"></ng-md-icon>
																	Prev
													</md-button>

									</div>
					</div>
	</md-data-table-toolbar>
	<div layout-padding layout-align="center center" layout="row">
				<div flex="50">
								<div layout layout-sm="column">
												<md-input-container flex="80">
																<label>Title</label>
																<input ng-model="vm.meta.name" required type="text">
												</md-input-container>
												<md-input-container flex="20">
																<label>Year</label>
																<input ng-model="vm.meta.year" required>
												</md-input-container>
								</div>
								<md-input-container class="md-block">
												<label>Description</label>
												<textarea name="description" ng-model="vm.meta.description"></textarea>
								</md-input-container>
								<md-input-container class="md-block">
												<label>Caption</label>
												<textarea name="caption" ng-model="vm.meta.caption"></textarea>
								</md-input-container>

								<div layout-align="space-between center" layout="row">

												<md-button ng-click="vm.saveData()" class="md-primary md-raised" flex>
																Save
												</md-button>
								</div>
				</div>
			</div>
</section>
