<md-dialog ng-controller="ConflictmethodeCtrl">
	<form ng-submit="save()">
		<md-dialog-content style="max-width:800px">
			<div style="padding:0;font-size:1em;color:#4fb0e5" layout="row">
        <h2 style="font-weight:normal;font-size:1.4em">Methodological Approach</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="hide()">
          <md-icon class="material_icons">close</md-icon>
        </md-button>
      </div>
			<p >The HIIK’s Conflict Barometer is methodologically consistent with the qualitative tradition of conflict definition and operationalization: the quality of conflict’s performance is used as the basis of a conception of political conflicts. In contrast to other approaches, conflict research in Heidelberg includes gathering conflict-related measures and events, prompting the structured assessment of conflicts and the designation of according intensities. It is only by following this procedure that the resulting evaluation of conflicts becomes inter-subjectively comprehensible and verifiable.</p>
			<h3 style="font-weight:normal;font-style:italic;margin-bottom:0;margin-top:1.5em">Conflict Definition</h3>
			<p>According to the new Heidelberg methodology, the HIIK understands a political conflict as a “[…]positional difference between at least two assertive and directly involved actors regarding values relevant to a society (the conflict items) which is carried out using observable and interrelated conflict measures that lie outside established regulatory procedures and threaten core state functions, the international order, or hold the prospect of doing so.”</p>
			<h3 style="font-weight:normal;font-style:italic;margin-bottom:0;margin-top:1.5em">Dynamic Model of Conflicts</h3>
			<p>Regarding the intensity of a political conflict, the HIIK distinguishes five levels according to the dynamic conflict model: (1) dispute, (2) non-violent crises, (3) violent crises, (4) limited war and (5) war. These levels of conflict are distinguished by the stage of physical violence applied in the course of the conflict and/or the threat thereof. Important criteria to determine the level of violence are the instruments for the use of force (use of weapons and use of personnel) and the consequences of the use of force (casualties, refugees, and demolition).</p>
			<a href="http://www.hiik.de" target="_blank" style="text-decoration:none;color:#4fb0e5">www.hiik.de</a>
		</md-dialog-content>

		<div class="md-actions" layout="row">
			<md-button type="button" ng-click="hide()">Close</md-button>

		</div>
	</form>
</md-dialog>
