<md-content class="md-accent doAnim-left" layout-padding ng-if="(vm.item.categories.length || vm.chooseCategories) && !vm.createCategory">
        <div layout-align="space-between center" layout="row">
                <span flex></span>
                <md-button ng-if="vm.item.isDirty && vm.item.categories.length > 0" class="doAnim-bottom md-primary md-fab md-mini" ng-click="vm.save()" ng-disabled="categoryForm.$invalid" ng-if="vm.options.globalSave">
                    <md-icon class="material-icons">save</md-icon>
                    <md-tooltip md-delay="500" >Save changes</md-tooltip>
                </md-button>
                <md-button class="md-primary md-fab md-mini" ng-click="vm.createCategory = true">
                  <md-icon class="material-icons">add</md-icon>
                  <md-tooltip md-delay="500" >Create new one</md-tooltip>
                </md-button>
        </div>
        <div layout-align="center center" layout="row">
                <h2 class="md-headline">Choose Categories</h2>
        </div>
        <div class="indicator-fields">
              <treeview items="vm.composits"  options="{drag:true, type:'composits'}"></treeview>
        </div>
</md-content>
