<div class="indicator-menu">
<ng-md-icon ui-sref="app.index.editor.indicator.details({id:vm.item.id, entry:'info'})" ng-class="{'valid': vm.checkBase(vm.item)}" icon="info_outline"></ng-md-icon>
<ng-md-icon ui-sref="app.index.editor.indicator.details({id:vm.item.id, entry:'infographic'})" icon="insert_chart"></ng-md-icon>
<ng-md-icon ui-sref="app.index.editor.indicator.details({id:vm.item.id, entry:'indizes'})" icon="format_list_bulleted"></ng-md-icon>
<ng-md-icon ui-sref="app.index.editor.indicator.details({id:vm.item.id, entry:'style'})" ng-class="{'valid': vm.item.style_id}" icon="brush"></ng-md-icon>
<ng-md-icon ui-sref="app.index.editor.indicator.details({id:vm.item.id, entry:'categories'})" ng-class="{'valid': vm.item.categories.length}" icon="settings_input_component"></ng-md-icon>
<ng-md-icon ng-click="vm.changeOfficial(vm.item)" class="" ng-class="{'valid': vm.item.is_official}" icon="{{ vm.locked()}}"></ng-md-icon>
</div>
