<md-dialog ng-controller="ConflicttextCtrl">
	<form ng-submit="save()">
		<md-dialog-content>
			<div style="padding:0;font-size:1em;color:#4fb0e5" layout="row">
        <h2 style="font-weight:normal;font-size:1.4em">{{vm.conflict.title}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="hide()">
          <md-icon class="material_icons">close</md-icon>
        </md-button>
      </div>
			<p class="columned" ng-bind-html="vm.conflict.text | newline"></p>
		</md-dialog-content>

		<div class="md-actions" layout="row">
			<md-button type="button" ng-click="hide()">Close</md-button>

		</div>
	</form>
</md-dialog>
