<div class="m1" layout="row" layout-align="space-between center">
  <md-button class="md-fab md-mini md-primary" ng-click="vm.options.addClick()"><md-icon class="material-icons">add</md-icon></md-button>
  <span flex></span>
    <md-button class="md-fab md-mini" ng-click="vm.options.editWeight = !vm.options.editWeight"><md-icon class="material-icons">format_list_numbered</md-icon></md-button>
    <md-button class="md-fab md-mini" ng-click="vm.options.edit = !vm.options.edit"><md-icon class="material-icons">mode_edit</md-icon></md-button>
    <md-button class="md-fab md-mini md-warn"><md-icon class="material-icons">delete</md-icon></md-button>
    <md-button class="md-fab md-mini md-primary"><md-icon class="material-icons">save</md-icon></md-button>
</div>
