/vendor
/node_modules
.env
/config/database.phps
/bower_components
npm-debug.log
.idea/
.elasticbeanstalk
/public/bower_components

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml