<md-content class="indicator-tabs" layout-fill>
				<form name="baseForm" novalidate>
					<md-content class="md-accent" layout-padding>
						<div class="mb25" layout-align="space-between center" layout="row" style="height:68px">

							<!-- <span class="info" layout-align="space-between center" layout="row" ng-class="{'warning':!vm.checkBase(), 'info': vm.checkBase()}">
																																<ng-md-icon icon="{{vm.checkBase() ? 'check_circle': 'error'}}"></ng-md-icon>
																																<div ng-if="vm.checkBase()">&nbsp;Completed</div>
																																<div ng-if="!vm.checkBase()">&nbsp;Uncompleted</div>
																												</span> -->
							<span flex></span>
							<md-button class="md-primary md-fab md-mini doAnim-bottom" ng-click="vm.baseOptions.saveClick()" ng-disabled="baseForm.$invalid" ng-if="vm.baseOptions.allowSave">
								<md-icon class="material-icons">save</md-icon>
								<md-tooltip md-delay="500">Save changes</md-tooltip>
							</md-button>
						</div>
						<div class="indicator-fields">
							<md-input-container class="md-block big">
								<label>Title*</label>
								<input maxlength="56" minlength="3" name="title" ng-model="vm.item.title" required type="text" />
								<div ng-messages="baseForm.title.$error" ng-show="baseForm.title.$error">
									<div ng-message="required">You
										<b>must</b> enter a title.</div>
									<div ng-message="minlength">The title is not long enough. At least 3 characters!</div>
									<div ng-message="maxlength">The name has to be less than 56 characters long.</div>
								</div>
							</md-input-container>
							<md-input-container class="md-block">
											<label>Url*</label>
											<input maxlength="255" minlength="5" required name="url" ng-model="vm.item.url" type="url"/>
											<div ng-messages="baseForm.url.$error">
												<div ng-message="required">You <b>must</b> enter an url.</div>
															<div ng-message="minlength">The url is not long enough. At least 5 characters!</div>
															<div ng-message="pattern">This is not a valid url!</div>
															<div ng-message="maxlength">The name has to be less than 30 characters long.</div>
											</div>
							</md-input-container>
							<md-input-container class="md-block">
								<label>Attribution</label>
								<input maxlength="56" minlength="3" name="attribution" ng-model="vm.item.attribution"  type="text" />
								<div ng-messages="baseForm.title.$error" ng-show="baseForm.attribution.$error">
									<div ng-message="minlength">The title is not long enough. At least 3 characters!</div>
									<div ng-message="maxlength">The attribution has to be less than 56 characters long.</div>
								</div>
							</md-input-container>
							<md-input-container class="md-block">
								<label>Description</label>
								<textarea ng-model="vm.item.description" md-select-on-focus></textarea>
							</md-input-container>
							<div layout-align="center center" layout="row">
											<md-switch aria-label="Public" class="md-primary" ng-model="vm.item.is_public">
															Public
											</md-switch>
							</div>
							<!-- <div layout-align="center center" layout="row">
																																<md-switch aria-label="Public" class="md-primary" ng-model="vm.item.is_public">
																																				Public
																																</md-switch>
																												</div> -->
						</div>
					</md-content>
				</form>
</md-content>
