@import (less) '../../material/colors.less';

.thumb-selector{
  padding:0;
  margin:0px;
  text-align: center;
  white-space: nowrap;
    overflow: auto; 
  li{
    display: inline-block;
    list-style-type: none;
    margin:.5em;
    transition:all .2s ease-in;
    outline: 2px solid #fff;
    //box-shadow: 0px 0px 0px rgba(255,255,255,0);
    &.active{
      outline: 2px solid @base;
    }
  }
}
.mini-map{
  .leaflet-control-container{
    display: none !important;
  }
}
