<md-subheader class="md-primary">
  Your imported data
</md-subheader>


<md-list>
  <md-list-item class="md-2-line" ng-repeat="entry in vm.data" ui-sref="app.index.mydata.entry({name:entry.name})">
     <div class="md-list-item-text" style="margin:0.5em 0">
    <h3>{{ entry.meta.length }} indicator(s)</h3>

    <h4 am-time-ago="entry.created_at"></h4>
    <p><span ng-repeat="indicator in entry.meta">{{indicator.title + ','}}</span></p>
  </div>
  <ng-md-icon icon="chevron_right"></ng-md-icon>
  </md-list-item>
</md-list>
