.anim.ng-enter,
.anim.ng-leave {
  transition: all 0.3s ease-in;
}
.anim.ng-enter,
.anim.ng-leave.ng-leave-active {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
.anim.ng-enter.ng-enter-active {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}
.anim-opacity.ng-enter,
.anim-opacity.ng-leave {
  transition: all 0.3s ease-in;
}
.anim-opacity.ng-enter,
.anim-opacity.ng-leave.ng-leave-active {
  opacity: 0;
}
.anim-opacity.ng-enter.ng-enter-active {
  opacity: 1;
}
.anim-height {
  transition: all 0.5s ease-in;
}
.anim-height.ng-enter,
.anim-height.ng-leave {
  transition: all 0.5s ease-in;
  overflow: hidden;
}
.anim-height.ng-enter,
.anim-height.ng-leave.ng-leave-active {
  max-height: 0px;
}
.anim-height.ng-enter.ng-enter-active {
  max-height: 1000px;
}


@font-face {
  font-family: 'epi';
  src: url('fonts/epi.eot?-47ygze');
  src: url('fonts/epi.eot?#iefix-47ygze') format('embedded-opentype'), url('fonts/epi.ttf?-47ygze') format('truetype'), url('fonts/epi.woff?-47ygze') format('woff'), url('fonts/epi.svg?-47ygze#epi') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'epi';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-agrar:before {
  content: "\e600";
}
.icon-anchor:before {
  content: "\e601";
}
.icon-butterfly:before {
  content: "\e602";
}
.icon-energy:before {
  content: "\e603";
}
.icon-fabric:before {
  content: "\e604";
}
.icon-man:before {
  content: "\e605";
}
.icon-sink:before {
  content: "\e606";
}
.icon-tree:before {
  content: "\e607";
}
.icon-water:before {
  content: "\e608";
}

.white-bg {
  background-color: #fff !important;
}

.info-container {
  line-height: 1em;
  left: 1em;
  top: 1em;
  position: absolute;
  color: #afafaf;
  transition: all 0.25s ease-in;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  padding-bottom: 2em;
}
.info-container .info-box {
  background-color: #fff;
  margin-left: 1em;
  margin-top: 1em;
  padding: 2em;
  position: relative;
}
.info-container .info-box.closed {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
.info-container .info-box:hover.closed {
  -webkit-transform: translateX(-95%);
  transform: translateX(-95%);
}
.info-container .info-box:hover.closed .close-it {
  width: 100%;
}
.info-container .info-box .header {
  padding: 0.5em;
  padding-bottom: 1em;
  border-bottom: 1px solid #d7dddd;
}
.info-container .info-box .header .title {
  font-weight: normal;
  color: #006bb9;
  padding: 0;
  margin: 0;
  line-height: 0.8em;
  font-size: 2em;
}
.info-container .info-box .header .subtitle {
  color: #006bb9;
  line-height: 1em;
}
.info-container .info-box .header .info-icon {
  cursor: pointer;
}
.info-container .info-box .header .info-icon * {
  fill: #d7dddd;
}
.info-container .info-box .header .info-icon:hover * {
  fill: #006bb9;
}
.info-container .info-box .header.info {
  border: 0;
  padding: 0.5em;
  padding-top: 0px;
}
.info-container .info-box .header.info .title {
  line-height: 1.2em;
}
.info-container .info-box .header.info .md-button {
  margin: 0px;
  margin-right: -0.5em;
}
.info-container .info-box .header.center .title {
  margin-top: 0.5em;
  font-size: 1.8em;
}
.info-container .info-box .close-it {
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.25s ease;
  cursor: pointer;
  padding: 0.5em;
  height: 100%;
}
.info-container .info-box .close-it * {
  fill: #d7dddd;
}
.info-container .info-box .close-it:hover * {
  fill: #afafaf;
}
.info-container .info-box .module {
  margin: 1em 0;
}
.info-container .info-box .module.rank .chart {
  color: #333333;
}
.info-container .info-box .module.rank .chart .title {
  margin-bottom: 0.5em;
}
.info-container .info-box .module.rank .chart .data .value {
  border: 2px solid #00ccaa;
  border-radius: 50%;
  height: 80px;
  width: 80px;
}
.info-container .info-box .module.rank .chart .tendency path {
  fill: #d7dddd;
}
.info-container .info-box .module.rank .chart .tendency.active path {
  fill: #00ccaa;
}
.info-container .info-box .module.rank .mini-list {
  font-size: 0.9em;
}
.info-container .info-box .module.rank .mini-list .title {
  margin-bottom: 0.5em;
}
.info-container .info-box .module.rank .mini-list .list {
  height: 3.5em;
  overflow: hidden;
}
.info-container .info-box .module.rank .mini-list .list ul {
  transition: all 0.5s ease-out;
  padding: 0;
  margin: 0;
}
.info-container .info-box .module.rank .mini-list .list ul li {
  list-style-type: none;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
.info-container .info-box .module.rank .mini-list .list ul li.active {
  color: #00ccaa;
}
.info-container .info-box .module.rank .mini-list .list ul li .number {
  margin-right: 0.5em;
}
.info-container .info-box .module:last-child {
  margin-bottom: 0px;
}
.info-container .info-box .country_list {
  position: absolute;
  left: 100%;
  top: 0;
  height: 100%;
  background-color: #fff;
  overflow-y: auto;
  width: 300px;
}
.info-container .info-box .country_list md-content {
  height: 100%;
}
.info-container .info-box .md-button {
  border-radius: 20px;
  padding: 0 30px;
  text-transform: none;
  border: 1px solid;
}
.info-container .info-box .md-ripple-container {
  border-radius: 20px;
}
.nvd3 text {
  font-family: Georgia;
}
.nvd3.nv-legend text {
  font-size: 1em;
}

.cssload-container {
  position: fixed;
  width: 100%;
  height: 100%;
}
.cssload-whirlpool,
.cssload-whirlpool::before,
.cssload-whirlpool::after {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid rgba(175, 175, 175, 0.48);
  border-left-color: #006cb9;
  border-radius: 774px;
  -o-border-radius: 774px;
  -ms-border-radius: 774px;
  -webkit-border-radius: 774px;
  -moz-border-radius: 774px;
}
.cssload-whirlpool {
  margin: -19px 0 0 -19px;
  height: 39px;
  width: 39px;
  animation: cssload-rotate 2200ms linear infinite;
  -o-animation: cssload-rotate 2200ms linear infinite;
  -ms-animation: cssload-rotate 2200ms linear infinite;
  -webkit-animation: cssload-rotate 2200ms linear infinite;
  -moz-animation: cssload-rotate 2200ms linear infinite;
}
.cssload-whirlpool::before {
  content: "";
  margin: -18px 0 0 -18px;
  height: 34px;
  width: 34px;
  animation: cssload-rotate 2200ms linear infinite;
  -o-animation: cssload-rotate 2200ms linear infinite;
  -ms-animation: cssload-rotate 2200ms linear infinite;
  -webkit-animation: cssload-rotate 2200ms linear infinite;
  -moz-animation: cssload-rotate 2200ms linear infinite;
}
.cssload-whirlpool::after {
  content: "";
  margin: -22px 0 0 -22px;
  height: 43px;
  width: 43px;
  animation: cssload-rotate 4400ms linear infinite;
  -o-animation: cssload-rotate 4400ms linear infinite;
  -ms-animation: cssload-rotate 4400ms linear infinite;
  -webkit-animation: cssload-rotate 4400ms linear infinite;
  -moz-animation: cssload-rotate 4400ms linear infinite;
}
@keyframes cssload-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes cssload-rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

.leaflet-top {
  top: 1em;
  left: auto;
  right: 1em;
  z-index: 2;
}
.leaflet-top .leaflet-control-zoom.leaflet-bar {
  margin-right: 1em;
  margin-left: 0px;
}
.leaflet-top .leaflet-control-zoom.leaflet-bar a {
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-family: Georgia;
  font-size: 2em;
  font-weight: normal;
}
.leaflet-top .leaflet-control-zoom.leaflet-bar a:first-child {
  border-radius: 0px;
}
.leaflet-top .leaflet-control-zoom.leaflet-bar a:last-child {
  border-radius: 0px;
}
.leaflet-right .leaflet-control {
  display: none;
}

.md-toolbar-tools {
  font-size: 16px;
}
.md-blueframe-z1 {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 255, 0.14), 0px 2px 2px 0px rgba(0, 0, 255, 0.098), 0px 1px 5px 0px rgba(0, 0, 255, 0.084);
}
.md-button {
  border-radius: 20px;
  padding: 0 30px;
  text-transform: none;
}
.md-ripple-container {
  border-radius: 20px;
}

*:focus {
  border: 0;
  outline: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  padding-bottom: 0 !important;
  font-family: 'Gorgia';
  font-size: 16px;
  color: #606060;
}
.Page {
  position: absolute;
  top: 64px;
  width: 100%;
  left: 0;
}
.Page-name {
  color: #006bb9;
}
.logo {
  color: #0000ff;
  font-size: 1.5em;
}
.icon-space {
  position: relative;
  top: 4px;
  left: 5px;
}
.inline-list li {
  display: inline;
}
.inline-list.menu-list li {
  position: relative;
  padding: 0 1em;
}
.inline-list.menu-list li::before {
  content: "/";
  position: absolute;
  right: 0;
  top: 0;
}
.inline-list.menu-list li:last-child::before {
  content: "";
}
.inline-list.menu-list li.active a {
  color: #006bb9;
}
.inline-list.menu-list li a {
  position: relative;
}
.inline-list.menu-list li a::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 0;
  left: 50%;
  bottom: -5px;
  border-bottom: 1px solid #006bb9;
  transition: all 0.2s ease;
}
.inline-list.menu-list li a:hover::after {
  width: 100%;
  left: 0;
}
.icon-bubble {
  background-color: #d7dddd;
  color: #fff;
  border-radius: 50%;
  font-size: 4em;
}
.icon-bubble.fisheries {
  background-color: #008c8c;
}
.icon-bubble.healthimpact {
  background-color: #ff9600;
}
.icon-bubble.airquality {
  background-color: #f7c80b;
}
.icon-bubble.watersanitation {
  background-color: #ff6d24;
}
.icon-bubble.waterresources {
  background-color: #7993f2;
}
.icon-bubble.agriculture {
  background-color: #009bcc;
}
.icon-bubble.forest {
  background-color: #2e74ba;
}
.icon-bubble.biodiversity {
  background-color: #00ccaa;
}
.icon-bubble.climate {
  background-color: #1cb85d;
}

md-toast[md-theme=warn] {
  background-color: #F44336;
  border-radius: 2px;
}

.u-center {
  text-align: center;
}





.Header {
  position: fixed;
  left: 0px;
  right: 0;
  z-index: 3;
  top: 0px;
}

md-toolbar.md-menu-toolbar {
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.87);
}
md-toolbar.md-menu-toolbar md-button {
  color: rgba(0, 0, 0, 0.87);
}
md-toolbar.md-menu-toolbar md-toolbar-filler {
  background-color: #106cc8;
  color: rgba(255, 255, 255, 0.87);
}
md-toolbar.md-menu-toolbar h2.md-toolbar-tools {
  height: auto;
  line-height: 1rem;
  padding: 28px 28px 12px;
}
md-menu-bar md-menu.md-open > button,
md-menu-bar md-menu > button:focus {
  background: #eeeeee none repeat scroll 0 0;
  outline: medium none;
}
md-menu-bar button {
  background-color: transparent;
  border: 0 none;
  font-size: 14px;
  height: 40px;
  margin: 0;
  padding: 0 10px;
}
md-menu-bar {
  display: block;
  padding: 0 20px;
  position: relative;
  z-index: 2;
}
.editContent .page-container {
  background-color: #f1f1f1;
  padding: 32px;
}
.editContent .page {
  background-color: white;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
  max-width: 680px;
  padding: 24px;
}



#Map_Container {
  height: calc(100% - 165px);
}
#map {
  position: absolute;
  width: 100%;
  top: 64px;
  height: calc(100% - 64px);
}
.angular-leaflet-map {
  width: 100%;
  height: 100%;
}
.country_info {
  background-color: #fff;
  padding: 00px;
  padding-right: 00px;
  position: fixed;
  bottom: 20px;
  right: 00px;
}



.Sidebar {
  position: fixed !important;
  top: 0;
  bottom: 0;
  left: 0;
  width: 250px !important;
  min-width: 250px !important;
  max-width: 250px !important;
  background-color: #3f51b5;
}
.Sidebar-title {
  font-size: 25px;
  height: 100px;
  max-height: 100px;
  text-align: center;
  font-weight: 500;
}
.Sidebar-pages {
  background-color: #3f51b5;
  color: white;
}
.Sidebar-pages md-list md-list-item button.md-button:not([disabled]):hover {
  background-color: rgba(158, 158, 158, 0.2) !important;
}
.Sidebar-page {
  cursor: pointer;
}
.Sidebar-page md-list-item {
  /*IE centering fix*/
  height: 48px;
}
.Sidebar-page.active {
  background-color: rgba(158, 158, 158, 0.3) !important;
}
.Sidebar-version {
  margin: 0 0 20px 0;
  text-align: center;
  font-weight: normal;
}
.Sidebar-version a {
  color: white;
}

.Dashboard-Container li {
  line-height: 26px;
}

[ui-view].ng-enter,
[ui-view].ng-leave {
  transition: opacity ease-in-out 200ms;
}
[ui-view].ng-enter,
[ui-view].ng-leave.ng-leave-active {
  opacity: 0;
}
[ui-view].ng-enter.ng-enter-active {
  opacity: 1;
}



.bubbles {
  border-top: 1px solid;
  border-bottom: 1px solid;
  overflow: hidden;
}
.bubbles h3 {
  text-align: center;
  text-decoration: underline;
  font-weight: normal;
  position: relative;
}
.bubbles h3.eh {
  color: #be5f00;
  top: 1em;
}
.bubbles h3.ev {
  color: #006bb6;
  bottom: 1em;
}
.node {
  cursor: pointer;
}
.tooltip {
  position: fixed;
  padding: 1em;
  background-color: #fff;
  border: 1px solid;
  z-index: 1;
}
.tooltip::after,
.tooltip::before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.tooltip::after {
  border-right-color: #fff;
  border-width: 10px;
  margin-top: -10px;
}
.tooltip::before {
  border-right-color: rgba(0, 0, 0, 0.87);
  border-width: 11px;
  margin-top: -11px;
}
.tooltip .close-it {
  position: absolute;
  top: 2px;
  right: 4px;
  cursor: pointer;
  color: #d7dddd;
}
.tooltip .close-it:hover {
  color: rgba(0, 0, 0, 0.87);
}




median {
  overflow: hidden;
  border-radius: 20px;
  display: inline-block;
  height: 40px;
}
median .startLabel {
  fill: #fff;
  stroke-width: 0;
}
median .startLabel text {
  fill: #606060;
}
median .endLabel {
  fill: none;
  stroke: #fff;
  stroke-width: 1px;
}
median .endLabel text {
  fill: #fff;
  stroke-width: 0;
}
median .axis {
  font: 10px sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
median .axis .domain {
  fill: none;
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
  stroke-linecap: round;
}
median .axis .halo {
  fill: none;
  stroke: #ddd;
  stroke-width: 40px;
  stroke-linecap: round;
}
median .slider .handle {
  fill: #0ca;
  stroke-width: 0;
  cursor: ew-resize;
}
median .slider text {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: ew-resize;
}


/*# sourceMappingURL=app.css.map */