.doAnim.ng-enter {
  -webkit-animation: slideInRight .5s;
  animation: slideInRight .5s;
}
.doAnim.ng-leave {
  -webkit-animation: slideOutRight .3s;
  animation: slideOutRight .3s;
  position: absolute;
  top: 0;
  width: 100%;
}
.doAnim-right.ng-enter {
  -webkit-animation: slideInLeft .5s;
  animation: slideInLeft .5s;
  z-index: 2;
}
.doAnim-right.ng-leave {
  -webkit-animation: fadeOutRight .8s;
  animation: fadeOutRight .8s;
  position: absolute;
  z-index: 1;
  top: 0;
}
.doAnim-left.ng-enter {
  -webkit-animation: slideInLeft .5s;
  animation: slideInLeft .5s;
  z-index: 2;
}
.doAnim-left.ng-leave {
  -webkit-animation: slideOutLeft .3s;
  animation: slideOutLeft .3s;
  position: absolute;
  z-index: 1;
  top: 0;
}
.anim.ng-enter,
.anim.ng-leave {
  transition: all 0.3s ease-in;
}
.anim.ng-enter,
.anim.ng-leave.ng-leave-active {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  opacity: 0;
}
.anim.ng-enter.ng-enter-active {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 1;
}
.anim-total.ng-enter,
.anim.ng-leave {
  transition: all 0.3s ease-in;
}
.anim-total.ng-enter,
.anim-total.ng-leave.ng-leave-active {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  opacity: 0;
  position: absolute;
}
.anim-total.ng-enter.ng-enter-active {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  opacity: 1;
}
.anim-left.ng-enter,
.anim-left.ng-leave {
  transition: all .3s ease;
}
.anim-left.ng-enter,
.anim-left.ng-leave.ng-leave-active {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  z-index: -1;
  opacity: 1;
}
.anim-left.ng-enter.ng-enter-active {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  opacity: 1;
  z-index: -1;
}
.anim-opacity.ng-enter,
.anim-opacity.ng-leave {
  transition: all 0.3s ease-in;
}
.anim-opacity.ng-enter,
.anim-opacity.ng-leave.ng-leave-active {
  opacity: 0;
}
.anim-opacity.ng-enter.ng-enter-active {
  opacity: 1;
}
.anim-fade.ng-enter {
  transition: all 0.4s ease-in-out;
}
.anim-fade.ng-leave {
  transition: all 0.5s ease-in;
}
.anim-fade.ng-enter,
.anim-fade.ng-leave.ng-leave-active {
  opacity: 0;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}
.anim-fade.ng-enter.ng-enter-active {
  opacity: 0;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.anim-height {
  transition: all 0.5s ease-in;
}
.anim-height.ng-enter,
.anim-height.ng-leave {
  transition: all 0.5s ease-in;
  overflow: hidden;
}
.anim-height.ng-enter,
.anim-height.ng-leave.ng-leave-active {
  max-height: 0px;
}
.anim-height.ng-enter.ng-enter-active {
  max-height: 1000px;
}


@font-face {
  font-family: 'epi';
  src: url('fonts/epi.eot?-47ygze');
  src: url('fonts/epi.eot?#iefix-47ygze') format('embedded-opentype'), url('fonts/epi.ttf?-47ygze') format('truetype'), url('fonts/epi.woff?-47ygze') format('woff'), url('fonts/epi.svg?-47ygze#epi') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'epi';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-empty:before {
  content: "\e600";
}
.icon-agrar:before {
  content: "\e600";
}
.icon-anchor:before {
  content: "\e601";
}
.icon-butterfly:before {
  content: "\e602";
}
.icon-energy:before {
  content: "\e603";
}
.icon-sink:before {
  content: "\e604";
}
.icon-man:before {
  content: "\e605";
}
.icon-fabric:before {
  content: "\e606";
}
.icon-tree:before {
  content: "\e607";
}
.icon-water:before {
  content: "\e608";
}

.white-bg {
  background-color: #fff !important;
}

.cssload-container {
  position: fixed;
  width: 100%;
  height: 100%;
}
.cssload-whirlpool,
.cssload-whirlpool::before,
.cssload-whirlpool::after {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid rgba(175, 175, 175, 0.48);
  border-left-color: #006cb9;
  border-radius: 774px;
  -o-border-radius: 774px;
  -ms-border-radius: 774px;
  -webkit-border-radius: 774px;
  -moz-border-radius: 774px;
}
.cssload-whirlpool {
  margin: -19px 0 0 -19px;
  height: 39px;
  width: 39px;
  animation: cssload-rotate 2200ms linear infinite;
  -o-animation: cssload-rotate 2200ms linear infinite;
  -ms-animation: cssload-rotate 2200ms linear infinite;
  -webkit-animation: cssload-rotate 2200ms linear infinite;
  -moz-animation: cssload-rotate 2200ms linear infinite;
}
.cssload-whirlpool::before {
  content: "";
  margin: -18px 0 0 -18px;
  height: 34px;
  width: 34px;
  animation: cssload-rotate 2200ms linear infinite;
  -o-animation: cssload-rotate 2200ms linear infinite;
  -ms-animation: cssload-rotate 2200ms linear infinite;
  -webkit-animation: cssload-rotate 2200ms linear infinite;
  -moz-animation: cssload-rotate 2200ms linear infinite;
}
.cssload-whirlpool::after {
  content: "";
  margin: -22px 0 0 -22px;
  height: 43px;
  width: 43px;
  animation: cssload-rotate 4400ms linear infinite;
  -o-animation: cssload-rotate 4400ms linear infinite;
  -ms-animation: cssload-rotate 4400ms linear infinite;
  -webkit-animation: cssload-rotate 4400ms linear infinite;
  -moz-animation: cssload-rotate 4400ms linear infinite;
}
@keyframes cssload-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes cssload-rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

.leaflet-top {
  top: 1em;
  left: auto;
  right: 1em;
  z-index: 2;
}
.leaflet-top .leaflet-control-zoom.leaflet-bar {
  margin-right: 1em;
  margin-left: 0px;
}
.leaflet-top .leaflet-control-zoom.leaflet-bar a {
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-family: Georgia;
  font-size: 2em;
  font-weight: normal;
}
.leaflet-top .leaflet-control-zoom.leaflet-bar a:first-child {
  border-radius: 0px;
}
.leaflet-top .leaflet-control-zoom.leaflet-bar a:last-child {
  border-radius: 0px;
}
.leaflet-right .leaflet-control {
  display: none;
}

button,
select,
html,
textarea,
input {
  font-family: 'Gorgia';
}
.md-toolbar-tools {
  font-size: 16px;
}
.md-blueframe-z1 {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 255, 0.14), 0px 2px 2px 0px rgba(0, 0, 255, 0.098), 0px 1px 5px 0px rgba(0, 0, 255, 0.084);
}
.md-button {
  border-radius: 20px;
  padding: 0 10px;
  text-transform: none;
}
.md-button.md-min-width {
  min-width: 180px;
}
md-input-container.big {
  font-size: 1.5em;
}
md-autocomplete[md-floating-label] {
  padding: 0 !important;
}
md-dialog {
  padding: 24px;
}
md-dialog.md-color-picker-dialog {
  padding: 0px;
}
md-dialog.md-color-picker-dialog .md-color-picker-colors md-tabs {
  min-height: 298px !important;
  padding: 0px;
}
md-dialog.md-color-picker-dialog .md-color-picker-sliders > div {
  width: 100%;
}
md-toast {
  position: fixed;
}
md-list {
  padding: 0px;
}
md-list md-list-item .md-button ng-md-icon {
  position: static;
  top: 0;
}
a.md-button ng-md-icon {
  position: relative;
  top: 0.5em;
}
.md-button .md-ripple-container {
  border-radius: 20px;
}
.md-button.md-icon-button.small {
  min-width: 0px;
  min-height: 0px;
  width: 24px;
  height: 24px;
  line-height: 24px;
}
.md-button.md-icon-button.small ng-md-icon {
  top: 5px;
}
.md-button.md-lowspace {
  padding: 0 10px;
}
.md-button.md-border {
  border-width: 1px !important;
}
.md-button.md-border:focus {
  border-width: 1px;
}
a.md-button span {
  margin: 0;
  margin-left: 5px;
}
md-list-item {
  color: #333333;
}
md-list-item path {
  fill: #afafaf;
}
md-list-item .md-button {
  border-radius: 0;
}
md-list-item .md-button .md-ripple-container {
  border-radius: 0;
}
.md-border {
  border: 1px solid !important;
}
.md-border.md-focused {
  border: 1px solid;
}
md-input-container.md-has-icon {
  padding-left: 36px;
}
md-input-container ng-md-icon {
  position: absolute;
  top: 5px;
  left: 2px;
}
md-menu-content {
  padding: 0px;
}
.md-open-menu-container md-menu-divider {
  margin: 0;
}
ng-md-icon path {
  fill: #006bb9;
}
ng-md-icon.no-color path {
  fill: #d7dddd;
}
md-checkbox.no-label .md-label {
  margin-left: 0px;
}
md-checkbox.no-space {
  margin: 0px;
  padding: 0px;
}
md-toolbar.clean {
  color: #afafaf !important;
  background-color: #fff !important;
  padding-top: 1em;
}
md-toolbar.clean .md-toolbar-tools {
  font-size: 1.2em;
}
.info.success,
p.success {
  color: #00ccaa;
}
.info.success path,
p.success path {
  fill: #00ccaa;
}
.info.warning,
p.warning {
  color: #f44336;
}
.info.warning path,
p.warning path {
  fill: #f44336;
}
.md-warn ng-md-icon path {
  fill: #f44336;
}
md-sidenav {
  box-sizing: border-box;
  position: absolute;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 60;
  width: 370px;
  min-width: 370px;
  max-width: 370px;
  bottom: 0;
  overflow: auto;
}
md-sidenav.md-locked-open {
  width: 370px;
  min-width: 370px;
  max-width: 370px;
}
.md-subheader .md-subheader-inner {
  font-size: 20px;
  line-height: 1.1em;
}

*:focus {
  border: 0;
  outline: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  padding-bottom: 0 !important;
  font-family: 'Gorgia';
  font-size: 16px;
  color: #606060;
  overflow-x: hidden;
}
body > canvas {
  z-index: 1000;
  position: fixed;
  right: 10px;
  bottom: 10px;
}
.Page-name {
  color: #006bb9;
}
.logo {
  color: #006bb9;
  font-size: 1.5em;
}
.info {
  color: #006bb9;
}
.info path {
  fill: #006bb9;
}
.icon-space {
  position: relative;
  top: 4px;
  left: 5px;
}
.inline-list li {
  display: inline;
}
.inline-list.menu-list li {
  position: relative;
  padding: 0 1em;
}
.inline-list.menu-list li::before {
  content: "/";
  position: absolute;
  right: 0;
  top: 0;
}
.inline-list.menu-list li:last-child::before {
  content: "";
}
.inline-list.menu-list li.active a {
  color: #006bb9;
}
.inline-list.menu-list li a {
  position: relative;
  color: #333333;
}
.inline-list.menu-list li a::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 0;
  left: 50%;
  bottom: -5px;
  border-bottom: 1px solid #006bb9;
  transition: all 0.2s ease;
}
.inline-list.menu-list li a:hover::after {
  width: 100%;
  left: 0;
}
.icon-bubble {
  background-color: #d7dddd;
  color: #fff;
  border-radius: 50%;
  font-size: 2em;
}
.icon-bubble.fisheries {
  background-color: #008c8c;
}
.icon-bubble.healthimpact {
  background-color: #ff9600;
}
.icon-bubble.airquality {
  background-color: #f7c80b;
}
.icon-bubble.watersanitation {
  background-color: #ff6d24;
}
.icon-bubble.waterresources {
  background-color: #7993f2;
}
.icon-bubble.agriculture {
  background-color: #009bcc;
}
.icon-bubble.forest {
  background-color: #2e74ba;
}
.icon-bubble.biodiversity {
  background-color: #00ccaa;
}
.icon-bubble.climate {
  background-color: #1cb85d;
}
p.small-info {
  color: #aaa;
  font-size: 0.9em;
}
p.small-info:hover {
  color: #006bb9;
}
.rowed #map {
  left: 400px;
  width: calc(100% - 400px);
}
.rowed .Page {
  width: 400px;
}
.loose .Header {
  background: #fff !important;
}
.loose .Page {
  margin-left: calc(370px + 2em);
  margin-top: 1em;
  margin-right: 1em;
  transition: margin-left 0.25s ease-in-out;
  transition-delay: 0s;
  width: auto;
  position: absolute;
  max-height: calc(100% - 2em);
  max-width: calc(100% - 370px - 3em);
}
.loose .Page section.table {
  height: calc(100% - 2em);
}
.loose .Sidebar {
  position: absolute !important;
  top: 1em;
  left: 1em;
  bottom: auto;
  max-height: calc(100% - 2em);
  overflow-x: hidden;
}
.loose.sidebar-closed .Page {
  margin-left: 1em;
  transition-delay: .1s;
}
.loose #map {
  left: 0px;
  width: 100%;
}
.loose.rowed .Page {
  width: 400px;
}

.mb1 {
  margin-bottom: 1em;
}
.mb2 {
  margin-bottom: 2em;
}
.mb25 {
  margin-bottom: 2.5em;
}
.mt1 {
  margin-top: 1em;
}
.mt2 {
  margin-top: 2em;
}
.mt25 {
  margin-top: 2.5em;
}

md-toast[md-theme=warn] {
  background-color: #F44336;
  border-radius: 2px;
}

.u-center {
  text-align: center;
}


/*.Header{
	position: fixed;
	left: 0px;
	right: 0;
	z-index:3;
	top:0px;
	.md-toolbar-tools, md-toolbar{
		height:48px;
		min-height:48px;
	}
	a{
		&.md-button{
			span{
				color:@base;
			}
		}
	}
	.md-menu{
		padding:0px;
	}
}*/
md-toolbar.Header .md-button.md-border {
  color: #006bb9;
}

md-list-item a.md-no-style {
  margin: 0px;
}

md-toolbar.md-menu-toolbar {
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.87);
}
md-toolbar.md-menu-toolbar md-button {
  color: rgba(0, 0, 0, 0.87);
}
md-toolbar.md-menu-toolbar md-toolbar-filler {
  background-color: #106cc8;
  color: rgba(255, 255, 255, 0.87);
}
md-toolbar.md-menu-toolbar h2.md-toolbar-tools {
  height: auto;
  line-height: 1rem;
  padding: 28px 28px 12px;
}
md-menu-bar md-menu.md-open > button,
md-menu-bar md-menu > button:focus {
  background: #eeeeee none repeat scroll 0 0;
  outline: medium none;
}
md-menu-bar button {
  background-color: transparent;
  border: 0 none;
  font-size: 14px;
  height: 40px;
  margin: 0;
  padding: 0 10px;
}
md-menu-bar {
  display: block;
  padding: 0 20px;
  position: relative;
  z-index: 2;
}
.editContent .page-container {
  background-color: #f1f1f1;
  padding: 32px;
}
.editContent .page {
  background-color: white;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
  max-width: 680px;
  padding: 24px;
}

/*.info-container {
    line-height: 1em;
    top:calc(~"48px + 1em");
    left:1em;
    position:absolute;
    color: @grey;
    transition: all .3s ease;
    transform: translateX(0);
    padding-bottom:2em;
    &.out {
        transform: translateX(-380px);
    }*/
.info-box:hover.closed {
  -webkit-transform: translateX(-95%);
  transform: translateX(-95%);
}
.info-box:hover.closed .close-it {
  width: 100%;
}
.info-box .header .title,
.info-box md-toolbar .title {
  font-size: 1.5em;
}
.info-box .header .subtitle,
.info-box md-toolbar .subtitle {
  font-size: 0.9em;
}
.info-box .header .md-button,
.info-box md-toolbar .md-button {
  border: 0px;
  padding: 0px;
  min-width: 0;
  line-height: 1em;
  margin: 0;
}
.info-box md-content {
  color: inherit;
}
.info-box md-tabs .md-tab:not(.md-active) {
  color: inherit;
}
.info-box .header {
  padding: 0.6em 1em;
  position: relative;
}
.info-box .header::after {
  content: '';
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #006bb9;
  position: absolute;
  bottom: 0px;
  left: 0px;
  opacity: 0.2;
}
.info-box .header .title {
  font-weight: normal;
  color: #006bb9;
  padding: 0;
  margin: 0;
  line-height: 0.8em;
  font-size: 1.5em;
}
.info-box .header .subtitle {
  color: #006bb9;
  line-height: 1em;
  font-size: 0.9em;
}
.info-box .header .info-icon {
  cursor: pointer;
  fill: #006bb9;
}
.info-box .header.info {
  border: 0;
  padding: 1em 2em;
}
.info-box .header.info .title {
  line-height: 1.2em;
}
.info-box .header.info .md-button {
  margin: 0px;
  margin-right: -0.5em;
}
.info-box .header.info::after {
  border: 0px;
}
.info-box .header.center .title {
  margin-top: 0.5em;
  font-size: 1.8em;
  text-align: center;
  line-height: 1em;
}
.info-box .header.smaller .title {
  font-size: 1.3em;
  font-style: italic;
}
.info-box .close-it {
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.25s ease;
  cursor: pointer;
  padding: 0.5em;
  height: 100%;
}
.info-box .close-it * {
  fill: #d7dddd;
}
.info-box .close-it:hover * {
  fill: #afafaf;
}
.info-box .module {
  margin: 0 1em;
}
.info-box .module.no-margin {
  margin: 0px;
}
.info-box .module.mt {
  margin-top: 2em;
}
.info-box .module.mb {
  margin-bottom: 2em;
}
.info-box .module.rank .chart {
  color: #afafaf;
}
.info-box .module.rank .chart .title {
  margin-bottom: 0.5em;
}
.info-box .module.rank .chart .data .value {
  border: 2px solid #00ccaa;
  border-radius: 50%;
  height: 80px;
  width: 80px;
}
.info-box .module.rank .chart .tendency path {
  fill: #d7dddd;
}
.info-box .module.rank .mini-list {
  font-size: 0.9em;
  color: #afafaf;
}
.info-box .module.rank .mini-list .title {
  margin-bottom: 0.5em;
}
.info-box .module.rank .mini-list .list {
  height: 3.5em;
  overflow: hidden;
}
.info-box .module.rank .mini-list .list ul {
  transition: all 0.5s ease-out;
  padding: 0;
  margin: 0;
}
.info-box .module.rank .mini-list .list ul li {
  list-style-type: none;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
.info-box .module.rank .mini-list .list ul li.active {
  color: #00ccaa;
}
.info-box .module.rank .mini-list .list ul li .number {
  margin-right: 0.5em;
}
.info-box .module.tabs .header .title {
  opacity: 0.5;
  transition: all 0.2s ease-in-out;
}
.info-box .module.tabs .header .title.active {
  opacity: 1;
}
.info-box .module.tabs .header * {
  cursor: pointer;
}
.info-box .module.tabs .md-tab {
  font-size: 1.2em;
  font-style: italic;
}
.info-box .module.description .header .sub-title {
  color: #006bb9;
}
.info-box .module.description .text {
  color: #006bb9;
  margin-bottom: 2em;
  text-align: justify;
  line-height: 1.2em;
}
.info-box .module.description .caption {
  font-style: italic;
  padding: 1em;
}
.info-box .module.comparison h4 {
  color: #006bb9;
  font-weight: normal;
  font-size: 1.2em;
  line-height: 1em;
  margin-bottom: 1.5em;
}
.info-box .module.comparison h4 .number {
  color: #00ccaa;
  font-size: 0.9em;
}
.info-box .module.comparison .country {
  text-align: center;
}
.info-box .country_list {
  position: absolute;
  left: 100%;
  top: 0;
  height: 100%;
  background-color: #fff;
  overflow-y: auto;
  width: 300px;
}
.info-box .country_list md-content {
  height: 100%;
}
.info-box .md-button {
  border-radius: 20px;
  padding: 0 30px;
  text-transform: none;
  border: 1px solid;
}
.info-box .md-ripple-container {
  border-radius: 20px;
}
.info-box .close-box {
  margin-bottom: 0px;
  text-align: left;
  cursor: pointer;
}
.info-box .close-box path {
  fill: #006bb9;
}
.info-box.sub-box {
  position: absolute;
  top: 0px;
}
.info-box.sub-box#sub-info {
  width: 700px;
  left: 380px;
}
.md-tab {
  text-transform: none;
}
.nvd3 text {
  font-family: Georgia;
}
.nvd3.nv-legend text {
  font-size: 1em;
}
.nvd3 .nv-axis .nv-axisMaxMin text {
  font-weight: normal;
}
.nvd3.nv-sunburst g:first-child text {
  font-size: 2em;
  top: 0.25em;
}
.nvtooltip {
  border-radius: 0px;
}


.md-subheader.filled .md-subheader-inner {
  padding: 0px;
}
.md-subheader.filled .md-subheader-inner md-toolbar {
  padding-left: 1em;
}

md-list-item.md-2-line {
  min-height: 62px;
}
md-list-item.md-2-line a {
  padding-top: .5em;
}
md-list-item.md-2-line > .md-no-style {
  min-height: 62px;
}

section.module-top {
  background-color: #fff;
  width: 360px;
  margin-left: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}
section.module-top.out {
  -webkit-transform: translateX(-380px);
  transform: translateX(-380px);
}
section.module-top .md-subheader {
  font-size: 1.4em;
}
section.module-top .upload-container {
  text-align: center;
}
section.module-top .md-subhead {
  color: #afafaf;
}
section.module-second {
  position: fixed;
  top: 48px;
  left: calc(360px + 1em);
  margin-left: 1em;
  max-height: calc(100% - 48px - 2em);
  min-height: 0;
  height: 100%;
  overflow: hidden;
}
section.module-second .md-subheader-inner {
  padding: 0;
}
section.module-second md-content {
  max-height: calc(100%);
  height: 100%;
}
section.module-second .index-element {
  position: relative;
  width: 100%;
  overflow: hidden;
  transition: all 0.25s ease-in-out;
}
section.module-second .index-element .sub-menue {
  position: absolute;
  right: 0;
  height: 100%;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  transition: all 0.1s ease-in-out;
}
section.module-second .index-element .sub-menue .md-icon-button {
  margin: 0 3px;
}
section.module-second .index-element .sub-menue .md-icon-button ng-md-icon {
  top: 3px;
}
section.module-second .index-element:hover {
  background-color: rgba(0, 0, 0, 0.03);
}
section.module-second .index-element:hover .sub-menue {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}
section.module-second .index-element.editing {
  background-color: #006bb9;
  color: #fff;
}
section.module-second .index-element.editing * path {
  fill: #fff;
}
section.module-third {
  position: fixed;
  top: 48px;
  left: calc(720px + 2em);
  margin-left: 1em;
  max-height: calc(100% - 48px - 2em);
  min-height: 0;
}
section.table {
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  height: calc(100%);
  background: #fff;
}
section.table md-data-table-toolbar {
  position: relative;
  background: #006bb9;
  color: #fff;
}
section.table md-data-table-toolbar * {
  fill: #fff;
}
section.table md-data-table-toolbar md-input-container {
  padding-bottom: 0.5em;
}
section.table md-data-table-container {
  font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
  max-height: calc(100% - 120px);
  overflow: auto;
}
section.table md-data-table-container thead:not([md-table-progress]) > tr > th {
  color: #006bb9;
}
section.table md-data-table-container thead:not([md-table-progress]) > tr > th.iconed {
  position: relative;
  padding-left: 3em !important;
}
section.table md-data-table-container thead:not([md-table-progress]) > tr > th.iconed span.icon {
  opacity: 0;
  transition: all 0.3s ease;
  position: absolute;
  top: 1.3em;
  left: 0;
}
section.table md-data-table-container thead:not([md-table-progress]) > tr > th.iconed span.icon path {
  fill: #ccc;
}
section.table md-data-table-container thead:not([md-table-progress]) > tr > th.iconed span.icon:hover path {
  fill: #006bb9;
}
section.table md-data-table-container thead:not([md-table-progress]) > tr > th.iconed.globe span {
  opacity: 1;
}
section.table md-data-table-container thead:not([md-table-progress]) > tr > th.iconed.globe span path {
  fill: #006bb9;
}
section.table md-data-table-container thead:not([md-table-progress]) > tr > th.iconed:hover span.icon {
  opacity: 1;
}
section.table md-data-table-container thead:not([md-table-progress]) > tr > th.done,
section.table md-data-table-container thead:not([md-table-progress]) > tr > th.done.md-active {
  color: green !important;
}
section.table md-data-table-container thead:not([md-table-progress]) > tr > th.done span:hover path,
section.table md-data-table-container thead:not([md-table-progress]) > tr > th.done.md-active span:hover path {
  fill: green !important;
}
section.table md-data-table-container table[md-data-table] > tbody > tr {
  height: 2.5em;
}
section.table md-data-table-container table[md-data-table] > tbody > tr.md-warn {
  background-color: rgba(244, 67, 54, 0.2);
}
section.table md-data-table-container table[md-data-table] > tbody > tr td.md-warn::after {
  content: 'Data missing';
  color: red;
  width: 100%;
  display: inline-block;
  line-height: 3em;
}
section.table md-data-table-pagination {
  bottom: 0;
  width: 100%;
  background: #fff;
}
.angular-ui-tree-placeholder {
  border-left: 3px solid #006bb9;
  max-width: 100%;
  width: 100%;
}
.angular-ui-tree-drag {
  background-color: rgba(255, 255, 255, 0.8);
  width: auto !important;
  padding-right: 1em;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 255, 0.14), 0 2px 2px 0 rgba(0, 0, 255, 0.098), 0 1px 5px 0 rgba(0, 0, 255, 0.084);
}
.angular-ui-tree-drag .actions,
.angular-ui-tree-drag .sub-menue {
  display: none;
}
.angular-ui-tree-node .group {
  color: #006bb9;
  font-size: 1.1em;
}
.angular-ui-tree-node md-checkbox {
  opacity: 0.25;
}
.angular-ui-tree-node md-checkbox.md-checked {
  opacity: 1;
}
.select-list .md-icon-button {
  min-width: 48px;
}
.select-list .icon {
  font-size: 3em;
  position: relative;
  top: 3px;
}
.fill-noheader {
  height: calc(100% - 64px);
  min-height: calc(100% - 64px);
}
md-list md-list-item {
  border-bottom: 1px solid #d7dddd;
}
md-list md-list-item:last-child {
  border-bottom: 0;
}
md-list md-list-item.sub-list {
  padding: 0;
}
md-list md-list-item.sub-list md-list {
  width: 100%;
}
md-list .md-button {
  border-radius: 0;
}
md-list .md-button .md-ripple-container {
  border-radius: 0;
}
.selector {
  border-bottom: 0;
  padding-bottom: 0;
  font-size: 0.95em;
  min-height: 1em;
}
.selector ng-md-icon {
  top: 0;
  border-radius: 50%;
  width: 22px;
  height: 22px;
}
.selector .md-list-item-inner {
  min-height: 1em;
}
.selector.unchecked ng-md-icon {
  background-color: #ddd;
}
.selector.unchecked path {
  fill: #fff;
}
.selector.checked ng-md-icon {
  background-color: #333;
}
.selector.checked path {
  fill: #fff;
}
md-list-item.active {
  background: #d7dddd;
}

.cursor {
  cursor: pointer;
}



div[ui-view='map'] {
  position: absolute;
  width: 100%;
  top: 0px;
  height: 100%;
}
#map {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  height: 100%;
  transition: all .6s ease;
}
.angular-leaflet-map {
  width: 100%;
  height: 100%;
  background-color: #ccdddd;
}
.greyed .angular-leaflet-map {
  background-color: #d9d9d9;
}
.greyed img.leaflet-tile {
  transition: -webkit-filter 0.5s ease-in-out, filter 0.5s ease-in-out;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
  -ms-filter: grayscale(1);
}
.country_info {
  background-color: #fff;
  padding: 00px;
  padding-right: 00px;
  position: fixed;
  bottom: 20px;
  right: 00px;
}
.label-icon-number {
  background-color: #6eafff;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 14px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  line-height: 33px;
  box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.3);
}
.label-icon-number-lg {
  background-color: #6eafff;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 14px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  line-height: 41px;
  box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.3);
}
.label-icon-text {
  display: inline-block;
  cursor: pointer;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  vertical-align: middle;
  text-shadow: 0px 1px 1px #232323;
  color: #ebf9f5;
}
/*.label-icon-text:hover {*/
/*color: #EDB229;*/
/*}*/
.label-icon-text-selected {
  color: #d9534f;
}
.label-icon-number-selected {
  box-shadow: 0px 0px 0px 7px rgba(255, 140, 0, 0.6);
}


/*.Sidebar {
	position: fixed !important;
	top: 0;
	bottom: 0;
	left: 0;
	width: 250px !important;
	min-width: 250px !important;
	max-width: 250px !important;
	background-color: rgb(63, 81, 181);
}*/
.Sidebar md-toolbar path {
  fill: #fff;
}
.Sidebar-title {
  font-size: 25px;
  height: 100px;
  max-height: 100px;
  text-align: center;
  font-weight: 500;
}
.Sidebar-pages {
  background-color: #3f51b5;
  color: white;
}
.Sidebar-pages > div {
  min-width: 350px;
}
.Sidebar-pages:empty {
  display: none;
}
.Sidebar-pages md-list md-list-item button.md-button:not([disabled]):hover {
  background-color: rgba(158, 158, 158, 0.2) !important;
}
.Sidebar-page {
  cursor: pointer;
}
.Sidebar-page md-list-item {
  /*IE centering fix*/
  height: 48px;
}
.Sidebar-page.active {
  background-color: rgba(158, 158, 158, 0.3) !important;
}
.Sidebar-version {
  margin: 0 0 20px 0;
  text-align: center;
  font-weight: normal;
}
.Sidebar-version a {
  color: white;
}





.bubbles {
  overflow: hidden;
  margin: 1em 0;
}
.node {
  cursor: pointer;
}
.tooltip {
  position: fixed;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid;
  z-index: 99;
}
.tooltip::after,
.tooltip::before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.tooltip::after {
  border-right-color: #fff;
  border-width: 10px;
  margin-top: -10px;
}
.tooltip::before {
  border-right-color: rgba(0, 0, 0, 0.87);
  border-width: 11px;
  margin-top: -11px;
}
.tooltip .close-it {
  position: absolute;
  top: 2px;
  right: 4px;
  cursor: pointer;
  color: #d7dddd;
}
.tooltip .close-it:hover {
  color: rgba(0, 0, 0, 0.87);
}




.indicator-tabs .indicator-fields {
  padding: 0 1em;
  max-width: 500px;
  margin: 0 auto;
}
.indicator-tabs md-tab-content md-content {
  padding-bottom: 1em;
  padding-top: 1em;
}
.indicator-tabs md-tab-item ng-md-icon:not(.valid) path {
  fill: #f44336;
}
.indicator-tabs md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item {
  background: #efefef;
}
.indicator-tabs md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item.md-active {
  background: #fff;
}
.indicator-tabs .md-tab.md-disabled {
  opacity: 1;
}
.indicator-tabs .md-tab.md-disabled ng-md-icon {
  opacity: 0.3;
}
.indicator-tabs md-input-container .md-errors-spacer {
  position: absolute;
}
.indicator-tabs md-autocomplete[md-floating-label] md-input-container {
  padding-bottom: 2px;
}

.indicator-menu {
  position: absolute;
  right: 2.5em;
  -webkit-transform: translateX(120%);
  transform: translateX(120%);
  transition: all .15s ease;
  top: 50%;
  padding-left: 2em;
  margin-top: -12px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+98&0+0,1+25 */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 98%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=1);
  /* IE6-9 */
}
.indicator-menu.active {
  display: block;
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  transition-delay: .0s;
}
.indicator-menu ng-md-icon {
  cursor: pointer;
}
.indicator-menu ng-md-icon:not(.valid) path {
  fill: #f44336;
}
.indicator-menu ng-md-icon.greyed path {
  fill: #ddd;
}

median {
  overflow: hidden;
  border-radius: 20px;
  display: inline-block;
  height: 40px;
}
median .endLabel {
  fill: #fff;
  stroke-width: 0;
}
median .endLabel text {
  fill: #606060;
}
median .startLabel {
  fill: none;
  stroke: #fff;
  stroke-width: 1px;
}
median .startLabel text {
  fill: #fff;
  stroke-width: 0;
}
median .axis {
  font: 10px sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
median .axis .domain {
  fill: none;
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
  stroke-linecap: round;
}
median .axis .halo {
  fill: none;
  stroke: #ddd;
  stroke-width: 40px;
  stroke-linecap: round;
}
median .slider .handle {
  fill: #0ca;
  stroke-width: 0;
  cursor: ew-resize;
}
median .slider text {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: ew-resize;
}

.dropzone {
  border: 2px dashed #ddd;
  padding: 2em;
}
.or {
  position: relative;
  margin: 1em 0;
}
.or::after {
  content: '';
  width: 200%;
  position: absolute;
  left: 50%;
  margin-left: -2.5em;
  border-bottom: 1px solid;
  height: 1px;
  top: 0.5em;
}
.or::before {
  content: '';
  width: 200%;
  position: absolute;
  right: 50%;
  margin-right: -2.5em;
  border-bottom: 1px solid;
  height: 1px;
  top: 0.5em;
}


.slide-toggle {
  transition: all .5s;
}
.slide-toggle.ng-animate {
  overflow: hidden;
}


.section {
  padding: 30px;
  margin-bottom: 40px;
}
.field-name-field-intro-text {
  margin-bottom: 40px;
}
.field-name-field-framework-text {
  /*  @include sans-light;
        @include font-size(20,24);
        color: $grey-label;*/
  margin-bottom: 35px;
}
.framework h3 {
  /*    @include sans-bold;
            @include font-size(16,16);
            color: $turq-medium;
            */
  text-transform: uppercase;
}
.framework div + h3 {
  margin-top: 35px;
}
.framework .wrap {
  padding: 0 30px;
}
.framework .views-row {
  position: relative;
  clear: both;
  min-height: 35px;
  margin: 15px 0;
  display: table;
}
.framework .views-row .views-field-field-icon-svg {
  display: table-cell;
  padding-right: 10px;
  vertical-align: middle;
}
.framework .views-row .views-field-field-icon-svg svg {
  width: 35px;
  height: 35px;
}
.framework .views-row .views-field-title-1 {
  display: table-cell;
  vertical-align: middle;
  width: 140px;
}
.framework .views-row .views-field-title-1 a {
  /*  @include sans-regular;
                    @include font-size(20,22);
                    color: $black;*/
}
.framework .field-name-field-caption {
  /*  margin-top: 30px;
            @include font-size(16,21);
            color: $grey-medium2;
            @include sans-lightitalic;
            strong {
                @include sans-mediumitalic;
            }*/
}
.framework #vis {
  width: 610px;
}
.framework #depth0 {
  fill: #fff;
  font-size: 160%;
  font-weight: bold;
  text-align: center !important;
}
.framework #depth1 {
  font-size: 65%;
  fill: #fff;
  width: 100px !important;
}
.framework #depth2 {
  font-size: 70%;
  fill: #fff;
}
.framework #depth3 {
  font-size: 70%;
  width: 120px !important;
  fill: #2d2019;
}
.framework .sector {
  font-family: centro, sans-serif;
}
.framework path {
  stroke: #fff;
  stroke-width: 1.5;
  cursor: pointer;
}
.framework text {
  font: 11px sans-serif;
  cursor: pointer;
}
.framework body {
  width: 880px;
  margin: 0 auto;
}
.framework h1 {
  text-align: center;
  margin: 0.5em 0;
}
.framework p#intro {
  text-align: center;
  margin: 1em 0;
}
.framework tspan {
  text-align: center !important;
  color: #00f !important;
}
.calculating {
  margin-bottom: 0;
}
.calculating .field-name-field-calculating-intro {
  /*@include sans-light;
            @include font-size(20,24);
            color: $grey-medium;*/
  margin-bottom: 15px;
}
.calculating .field-name-field-calculating-text {
  padding-right: 220px;
}

/*# sourceMappingURL=app.css.map */
