<md-content class="indicator-tabs" layout-fill>
				<md-tabs md-dynamic-height md-no-ink-bar md-no-pagination md-stretch-tabs="always">
								<md-tab ng-class="{'md-warn': !vm.checkBase()}">
												<md-tab-label>
																<ng-md-icon icon="info_outline" ng-class="{'valid': vm.checkBase()}"></ng-md-icon>
												</md-tab-label>
												<md-tab-body >
																<form name="baseForm" novalidate>
																				<md-content class="md-accent" layout-padding>
																								<div class="mb25" layout-align="space-between center" layout="row" style="height:68px">

																												<span class="info" layout-align="space-between center" layout="row" ng-class="{'warning':!vm.checkBase(), 'info': vm.checkBase()}">
																																<ng-md-icon icon="{{vm.checkBase() ? 'check_circle': 'error'}}"></ng-md-icon>
																																<div ng-if="vm.checkBase()">&nbsp;Completed</div>
																																<div ng-if="!vm.checkBase()">&nbsp;Uncompleted</div>
																												</span>
																												<span flex></span>
																												<md-button class="md-primary md-fab md-mini doAnim-bottom" ng-click="vm.save()" ng-disabled="baseForm.$invalid || !vm.checkBase()" ng-if="vm.options.withSave && vm.item.isDirty">
																														<md-icon class="material-icons">save</md-icon>
																														<md-tooltip md-delay="500" >Save changes</md-tooltip>
																												</md-button>
																								</div>
																								<div class="indicator-fields">
																												<md-input-container class="md-block big">
																																<label>Title*</label>
																																<input maxlength="56" minlength="3" name="title" ng-model="vm.item.title" required type="text"/>
																																<div ng-messages="baseForm.title.$error" ng-show="baseForm.title.$error">
																																				<div ng-message="required">You
																																								<b>must</b>
																																								enter a title.</div>
																																				<div ng-message="minlength">The title is not long enough. At least 3 characters!</div>
																																				<div ng-message="maxlength">The name has to be less than 56 characters long.</div>
																																</div>
																												</md-input-container>
																												<md-content style="margin:0 2em;padding-top:0px 0.5em;">
																																<!--<md-input-container class="md-block">
																																				<label>Type of data*</label>
																																				<md-select ng-model="vm.item.type" >
																																								<md-option value="abs">Absolut</md-option>
																																								<md-option value="per">Percentage</md-option>
																																				</md-select>
																																</md-input-container>-->
																																<!--<md-input-container class="md-block" ng-if="vm.item.type != 'per'">
																																				<label>Unit of measure*</label>
																																				<md-select ng-model="vm.item.measure_type_id" required>
																																								<md-option ng-repeat="type in vm.measureTypes" value="{{type.id}}">{{type.title}}</md-option>
																																				</md-select>

																																</md-input-container>-->
																																<md-autocomplete class="md-block" flex md-min-length="0" md-floating-label="Units of measure*" md-input-maxlength="56" md-input-name="unitField" md-item-text="type.title" md-items="type in vm.queryUnit(vm.searchUnit)" md-no-cache="vm.noCache" md-search-text="vm.searchUnit" md-selected-item="vm.item.type" required>
																																				<md-item-template>
																																								<span md-highlight-flags="^i" md-highlight-text="vm.searchUnit">{{type.title}}</span>
																																				</md-item-template>
																																				<md-not-found>

																																					<a class="md-button md-primary" ng-mousedown="vm.createUnit(vm.searchUnit)"><ng-md-icon icon="add"></ng-md-icon>&nbsp;&nbsp;Create a new one</a>
																																		</md-not-found>
																																				<div ng-if="baseForm.unitField.$touched" ng-messages="baseForm.unitField.$error">
																																								<div ng-message="required">You
																																												<b>must</b>
																																												enter a data provider.</div>
																																								<div ng-message="md-minlength">Your entry is not long enough. At least 3 characters!</div>
																																								<div ng-message="md-maxlength">Your entry is too long.</div>
																																				</div>

																																</md-autocomplete>
																																<!--<div class="upload-uploader" layout-align="space-between center" layout="column">
																																				<ng-md-icon icon="landscape" ng-if="!vm.item.dataprovider.image.url" size="98" class="no-color"></ng-md-icon>
																																				<img ng-if="vm.item.dataprovider.image.url" ng-src="vm.item.dataprovider.image.url"/>
																																				<span>Upload a logo</span>
																																</div>-->
																																<md-autocomplete class="md-block" flex md-min-length="0" md-floating-label="Data Provider*" md-input-maxlength="56" md-input-name="providerField" md-item-text="item.title" md-items="item in vm.querySearch(vm.searchText)" md-no-cache="vm.noCache" md-search-text="vm.searchText" md-selected-item="vm.item.dataprovider" required>
																																				<md-item-template>
																																								<span md-highlight-flags="^i" md-highlight-text="vm.searchText">{{item.title}}</span>
																																				</md-item-template>
																																				<md-not-found>

																																								<a class="md-button md-primary" ng-mousedown="vm.createProvider(vm.searchText)"><ng-md-icon icon="add"></ng-md-icon>&nbsp;&nbsp;Create a new one</a>
																																				</md-not-found>
																																				<div ng-if="baseForm.providerField.$touched" ng-messages="baseForm.providerField.$error">
																																								<div ng-message="required">You
																																												<b>must</b>
																																												enter a data provider.</div>
																																								<div ng-message="md-minlength">Your entry is not long enough. At least 3 characters!</div>
																																								<div ng-message="md-maxlength">Your entry is too long.</div>
																																				</div>

																																</md-autocomplete>
																																<md-input-container class="md-block">
																																				<label>Url</label>
																																				<input maxlength="56" minlength="5" name="url" disabled ng-model="vm.item.dataprovider.url" type="url"/>
																																				<div ng-messages="baseForm.url.$error">
																																								<div ng-message="minlength">The url is not long enough. At least 5 characters!</div>
																																								<div ng-message="pattern">This is not a valid url!</div>
																																								<div ng-message="maxlength">The name has to be less than 30 characters long.</div>
																																				</div>
																																</md-input-container>

																												</md-content>
																												<md-input-container class="md-block">
																																<label>Description</label>
																																<textarea ng-model="vm.item.description"></textarea>
																												</md-input-container>
																												<div layout-align="center center" layout="row">
																																<md-switch aria-label="Public" class="md-primary" ng-model="vm.item.is_public">
																																				Public
																																</md-switch>
																												</div>
																								</div>
																				</md-content>
																</form>
												</md-tab-body>
								</md-tab>
								<md-tab ng-disabled="!vm.checkFull()">
												<md-tab-label>
																<ng-md-icon icon="insert_chart"></ng-md-icon>
												</md-tab-label>
												<md-tab-body></md-tab-body>
								</md-tab>
								<md-tab ng-disabled="!vm.checkFull()">
												<md-tab-label>
																<ng-md-icon icon="format_list_bulleted"></ng-md-icon>
												</md-tab-label>
												<md-tab-body>
																<md-content layout-padding>
																				<!--<div layout="row">
																								<md-button class="md-accent md-border md-lowspace" ng-click="vm.saveIndex()">Save</md-button>
																				</div>
																				<h2></h2>-->
																</md-toolbar>
												</md-content>
								</md-tab-body>
				</md-tab>
				<md-tab ng-disabled="!vm.checkFull()">
								<md-tab-label>
												<ng-md-icon icon="brush" ng-class="{'valid': vm.item.style_id}"></ng-md-icon>
								</md-tab-label>
								<md-tab-body>
												<styles item="vm.item" styles="vm.styles" save="vm.save()" options="{globalSave:true}"></styles>
								</md-tab-body>
				</md-tab>
				<md-tab>
								<md-tab-label>
												<ng-md-icon icon="settings_input_component" ng-class="{'valid': vm.item.categories.length}"></ng-md-icon>
								</md-tab-label>
								<md-tab-body>
												<categories item="vm.item" categories="vm.categories" save="vm.save()" options="{globalSave:true}"></categories>
								</md-tab-body>
				</md-tab>
</md-tabs>
</md-content>
