<md-content class="indicator-tabs" layout-fill>
				<md-tabs md-dynamic-height md-no-pagination md-stretch-tabs="always">
								<md-tab class="hululll" ng-class="{'md-warn': !vm.indicator.base}">
												<md-tab-label ng-class="{'valid': baseForm.$valid)}">
																<ng-md-icon icon="info_outline"></ng-md-icon>
												</md-tab-label>
												<md-tab-body >
																<form name="baseForm" novalidate>
																				<md-content class="md-accent" layout-padding>
																								<div layout-align="space-between center" layout="row">
																												<md-button class="md-accent md-border md-lowspace" ng-click="vm.saveIndex()" ng-disabled="baseForm.$invalid">Save</md-button>
																												<span flex></span>
																												<span class="info" layout-align="space-between center" layout="row" ng-class="{'warning':baseForm.$invalid, 'success': baseFrom.$valid}">
																																<ng-md-icon icon="{{baseForm.$valid ? 'check_circle': 'error'}}"></ng-md-icon>
																																<div ng-if="baseForm.$valid">&nbsp;Completed</div>
																																<div ng-if="baseForm.$invalid">&nbsp;Uncompleted</div>
																												</span>
																								</div>
																								<div class="indicator-fields" >
																												<md-input-container class="md-block big">
																																<label>Title*</label>
																																<input maxlength="56" minlength="3" name="title" ng-model="vm.item.title" required type="text"/>
																																<div ng-messages="baseForm.title.$error" ng-show="baseForm.title.$error">
																																				<div ng-message="required">You
																																								<b>must</b>
																																								enter a title.</div>
																																				<div ng-message="minlength">The title is not long enough. At least 3 characters!</div>
																																				<div ng-message="maxlength">The name has to be less than 56 characters long.</div>
																																</div>
																												</md-input-container>
																												<md-content layout-padding style="padding-top:0px 0.5em   ;">
																																<md-input-container class="md-block">
																																				<label>Type of data*</label>
																																				<md-select ng-model="vm.item.type" required>
																																								<md-option value="abs">Absolut</md-option>
																																								<md-option value="per">Percentage</md-option>
																																				</md-select>
																																</md-input-container>
																																<md-input-container class="md-block" ng-if="vm.item.type != 'per'">
																																				<label>Unit of measure*</label>
																																				<md-select ng-model="vm.item.measure_type_id" required>
																																								<md-option ng-repeat="type in vm.measureTypes" value="{{type.id}}">{{type.title}}</md-option>
																																				</md-select>
																																</md-input-container>
																																<div class="upload-uploader" layout-align="space-between center" layout="column">
																																				<ng-md-icon icon="landscape" ng-if="!vm.item.dataprovider.image.url" size="98" style="fill:#ccc"></ng-md-icon>
																																				<img ng-if="vm.item.dataprovider.image.url" ng-src="vm.item.dataprovider.image.url"/>
																																				<span>Upload a logo</span>
																																</div>
																																<md-autocomplete class="md-block" flex md-floating-label="Data Provider*" md-input-maxlength="56" md-input-minlength="3" md-input-name="providerField" md-item-text="item.title" md-items="item in vm.querySearch(vm.searchText)" md-no-cache="vm.noCache" md-search-text="vm.searchText" md-selected-item="vm.item.dataprovider" required>
																																				<md-item-template>
																																								<span md-highlight-text="vm.searchText">{{item.title}}</span>
																																				</md-item-template>
																																				<div ng-if="baseForm.providerField.$touched" ng-messages="baseForm.providerField.$error">
																																								<div ng-message="required">You
																																												<b>must</b>
																																												enter a data provider.</div>
																																								<div ng-message="md-minlength">Your entry is not long enough. At least 3 characters!</div>
																																								<div ng-message="md-maxlength">Your entry is too long.</div>
																																				</div>

																																</md-autocomplete>
																																<md-input-container class="md-block">
																																				<label>Url</label>
																																				<input maxlength="56" minlength="5" name="url" ng-model="vm.item.dataprovider.url" type="url"/>
																																				<div ng-messages="baseForm.url.$error">
																																								<div ng-message="minlength">The url is not long enough. At least 5 characters!</div>
																																								<div ng-message="pattern">This is not a valid url!</div>
																																								<div ng-message="maxlength">The name has to be less than 30 characters long.</div>
																																				</div>
																																</md-input-container>

																												</md-content>
																												<md-input-container class="md-block">
																																<label>Description</label>
																																<textarea ng-model="vm.item.description"></textarea>
																												</md-input-container>
																												<div layout-align="center center" layout="row">
																																<md-switch aria-label="Public" ng-model="vm.item.is_public">
																																				Public
																																</md-switch>
																												</div>
																								</div>
																				</md-content>
																</form>
												</md-tab-body>
								</md-tab>
								<md-tab ng-disabled="!vm.item.base">
												<md-tab-label>
																<ng-md-icon icon="insert_chart"></ng-md-icon>
												</md-tab-label>
												<md-tab-body></md-tab-body>
								</md-tab>
								<md-tab >
												<md-tab-label>
																<ng-md-icon icon="format_list_bulleted"></ng-md-icon>
												</md-tab-label>
												<md-tab-body>
																<md-content layout-padding>
																				<div layout="row">
																								<md-button class="md-accent md-border md-lowspace" ng-click="vm.saveIndex()">Save</md-button>
																				</div>
																				<h2>Data Editor</h2>
																</md-toolbar>
												</md-content>
								</md-tab-body>
				</md-tab>
				<md-tab ng-disabled="!vm.item.base">
								<md-tab-label>
												<ng-md-icon icon="brush"></ng-md-icon>
								</md-tab-label>
								<md-tab-body>
												sfsdfsdf
								</md-tab-body>
				</md-tab>
				<md-tab>
								<md-tab-label>
												<ng-md-icon icon="settings_input_component"></ng-md-icon>
								</md-tab-label>
								<md-tab-body>
												<md-content class="md-accent anim-left" layout-padding ng-if="!vm.item.categories.length && !vm.chooseCategories && !vm.createCategory">
																<div layout-align="space-between center" layout="row">
																				<h2>Data Editor</h2>
																				<span flex></span>
																				<md-button class="md-accent md-border md-lowspace" ng-click="vm.saveIndex()" ng-disabled="baseForm.$invalid">Done</md-button>
																</div>
																<div class="indicator-fields" >
																				<div layout-align="center center" layout="row">
																								<md-button class="md-accent md-border" ng-click="vm.chooseCategories = true">Add to Category</md-button>
																				</div>
																				<div layout-align="center center" layout="row">
																								<md-button class="md-accent md-border" ng-click="vm.createCategory = true">Create new Category</md-button>
																				</div>
																</div>
												</md-content>
												<md-content class="md-accent anim-left" layout-padding ng-if="vm.createCategory">
																<form name="categoryForm" novalidate>
																				<div layout-align="space-between center" layout="row">
																								<md-button class="md-accent md-border md-lowspace" ng-click="vm.saveCategory()" ng-disabled="categoryForm.$invalid">Save</md-button>
																								<span flex></span>
																								<md-button class="md-accent md-border md-lowspace" ng-click="vm.createCategory = false">Abort</md-button>
																				</div>
																				<div class="indicator-fields" >
																								<md-input-container class="md-block big">
																												<label>Name*</label>
																												<input maxlength="56" minlength="3" name="categoryTitle" ng-model="vm.category.title" required type="text"/>
																												<div ng-messages="categoryForm.categoryTitle.$error" ng-show="categoryForm.categoryTitle.$error">
																																<div ng-message="required">You
																																				<b>must</b>
																																				enter a category name.</div>
																																<div ng-message="minlength">The name is not long enough. At least 3 characters!</div>
																																<div ng-message="maxlength">The name has to be less than 56 characters long.</div>
																												</div>
																								</md-input-container>

																								<md-autocomplete md-item-text="item.title" md-items="item in vm.querySearchCategory(vm.searchText)" md-min-length="0" md-no-cache="vm.noCache" md-search-text-change="vm.searchTextChange(ctrl.searchText)" md-search-text="vm.searchText" md-selected-item-change="vm.selectedItemChange(item)" md-selected-item="vm.selectedItem" ng-disabled="vm.isDisabled" placeholder="Select a parent category?">
																												<md-item-template>
																																<span md-highlight-text="vm.searchText">{{item.title}}</span>
																												</md-item-template>
																												<md-not-found>
																																No states matching "{{vm.searchText}}" were found.
																																<a ng-click="vm.newState(vm.searchText)">Create a new one!</a>
																												</md-not-found>
																								</md-autocomplete>
																								<md-input-container class="md-block">
																												<label>Description</label>
																												<textarea ng-model="vm.category.description"></textarea>
																								</md-input-container>
																								<div layout-align="center center" layout="row">
																												<md-switch aria-label="Public" ng-model="vm.category.is_public">
																																Public
																												</md-switch>
																								</div>
																				</div>
																</form>
												</md-content>
												<md-content class="md-accent anim-left" layout-padding ng-if="(vm.item.categories.length || vm.chooseCategories) && !vm.createCategory">
																<div layout-align="space-between center" layout="row">
																				<md-button class="md-accent md-border md-lowspace" ng-click="vm.saveCategory()" ng-disabled="categoryForm.$invalid">Save</md-button>
																				<span flex></span>
																				<md-button class="md-accent md-border md-lowspace" ng-click="vm.createCategory = true">Create new Categories</md-button>
																</div>
																<div layout-align="center center" layout="row">
																				<h2 class="md-headline">Choose Categories</h2>
																</div>
																<div flex="100">
																				<md-list>
																								<md-list-item class="selector" ng-class="{'checked': vm.selectedCategorie(vm.item, categorie), 'unchecked': !vm.selectedCategorie(vm.item, categorie)}"  ng-repeat="categorie in vm.categories | filter:vm.resourceSearch">
																												<p>{{categorie.title}}</p>
																												<ng-md-icon icon="check" layout-align="center center" layout="row" size="18"></ng-md-icon>
																								</md-list-item>
																				</md-list>
																</div>
												</md-content>
								</md-tab-body>
				</md-tab>
</md-tabs>
</md-content>
