.indicator-tabs{
  .indicator-fields{
    padding:0 1em;
    max-width:500px;
    margin:0 auto;
  }
  md-tab-item{

  ng-md-icon{
      path{

      }
      &:not(.valid){
        path{
          fill:rgb(244,67,54);
        }
      }
    }
  }
  md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper{
     > md-tab-item{
       background:#efefef;
       &.md-active{
         background: #fff;
       }
     }
  }

  .md-tab{
    &.md-disabled{
      opacity: 1;
      ng-md-icon{
        opacity: 0.3;
      }
    }
  }
}
