<md-subheader class="md-primary">
  <md-input-container class="md-icon-float md-block m0">
      <label>&nbsp;</label>
      <md-icon class="material-icons">search</md-icon>
      <input ng-model="vm.query" type="text" placeholder="Search...">
    </md-input-container>
</md-subheader>
<md-subheader class="md-primary">Indices</md-subheader>
<md-list>
        <md-list-item ng-repeat="index in vm.indices | filter: vm.query" ui-sref="app.index.show({index:index.name})">
          {{index.title}}
        </md-list>
</md-list>
<md-subheader class="md-primary">Indicators</md-subheader>
<md-list>
        <md-list-item ng-repeat="indicator in vm.indicators | filter: vm.query" ui-sref="app.index.indicator({name:indicator.name, id:indicator.id})">
          {{indicator.title}}
        </md-list>
</md-list>
