<div layout-align="space-between center" layout="column" style="margin:1em 0">
				<span>Upload Conflict Event data</span>
				<small class="info md-accent">(Use ISO 3166-1/2 country codes to link data)</small>
				<div layout-align="space-between center" layout="column">
								<input class="ng-hide" id="fileInput" name="file" type="file">
								<ng-md-icon class="info" icon="file_upload"></ng-md-icon>
								<md-button class="md-primary md-border md-min-width" id="uploadButton">
												Upload Data
								</md-button>

				</div>

</div>
