<section class="module-top md-whiteframe-z2">
  <md-content>
    <md-tabs md-dynamic-height>
      <md-tab ng-class="{'md-warn': !vm.indicator.base}">
        <md-tab-label>
          <ng-md-icon icon="info_outline"></ng-md-icon>
        </md-tab-label>
        <md-tab-body>
          <form name="baseForm" novalidate>
          <md-content layout-padding class="md-accent">
            <div layout="row" layout-align="space-between center">
              <md-button class="md-accent md-border md-lowspace" ng-disabled="baseForm.$invalid" ng-click="vm.saveIndex()">Save</md-button>
              <span flex></span>
              <span layout="row" class="info" ng-class="{'warning':baseForm.$invalid, 'success': baseFrom.$valid}" layout-align="space-between center">
                <ng-md-icon icon="check_circle" ></ng-md-icon>
                <div ng-if="baseForm.$valid">&nbsp;Completed</div>
                <div ng-if="baseForm.$invalid">&nbsp;Uncompleted</div>
              <span>
            </div>

            <md-input-container class="md-block">
                <label>Title*</label>
                <input maxlength="56" minlength="3" name="title" type="text" ng-model="vm.indicator.title" required />
                <div ng-messages="baseForm.title.$error" ng-show="baseForm.title.$error">
                 <div ng-message="required">You <b>must</b> enter a title.</div>
                 <div ng-message="minlength">The title is not long enough. At least 3 characters!</div>
                 <div ng-message="maxlength">The name has to be less than 56 characters long.</div>
               </div>
            </md-input-container>
            <md-content layout-padding>
            <md-input-container class="md-block">
                <label>Type of data*</label>
                <md-select ng-model="vm.indicator.type_id" required>
                  <md-option value="1">Absolut</md-option>
                  <md-option value="2">Percentage</md-option>
                </md-select>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Unit of measure*</label>
                <md-select ng-model="vm.indicator.measure_type_id" required>
                  <md-option value="1">Absolut</md-option>
                  <md-option value="2">Percentage</md-option>
                </md-select>
            </md-input-container>
            <md-autocomplete flex required
            md-input-name="autocompleteField"
            md-input-minlength="3"
            md-input-maxlength="56"
            md-no-cache="ctrl.noCache"
            md-selected-item="ctrl.selectedItem"
            md-search-text="ctrl.searchText"
            md-items="item in ctrl.querySearch(ctrl.searchText)"
            md-item-text="item.display"
            md-floating-label="Data Provider*" class="md-block">
          <md-item-template>
            <span md-highlight-text="ctrl.searchText">{{item.display}}</span>
          </md-item-template>
          <div ng-messages="baseForm.autocompleteField.$error" ng-if="baseForm.autocompleteField.$touched">
            <div ng-message="required">You <b>must</b> enter a data provider.</div>
            <div ng-message="md-minlength">Your entry is not long enough. At least 3 characters!</div>
            <div ng-message="md-maxlength">Your entry is too long.</div>
          </div>

        </md-autocomplete>
        <md-input-container class="md-block">
            <label>Url</label>
            <input pattern="^(http|https|ftp)?(:\/\/)?(www|ftp)?.?[a-z0-9-]+(.|:)([a-z0-9-]+)+([\/?].*)?$" maxlength="56" minlength="5" name="url" type="url" ng-model="vm.indicator.dataprovider.url" />
            <div ng-messages="baseForm.url.$error">
             <div ng-message="minlength">The url is not long enough. At least 5 characters!</div>
             <div ng-message="pattern">This is not a valid url!</div>
             <div ng-message="maxlength">The name has to be less than 30 characters long.</div>
           </div>
        </md-input-container>
            </md-content>
          </md-content>
        </form>
        </md-tab-body>
      </md-tab>
      <md-tab ng-disabled="!vm.indicator.base">
        <md-tab-label>
          <ng-md-icon icon="insert_chart"></ng-md-icon>
        </md-tab-label>
        <md-tab-body>
        </md-tab-body>
      </md-tab>
      <md-tab >
        <md-tab-label>
          <ng-md-icon icon="format_list_bulleted"></ng-md-icon>
        </md-tab-label>
        <md-tab-body>
          <md-content layout-padding>
            <div layout="row">
              <md-button class="md-accent md-border md-lowspace" ng-click="vm.saveIndex()">Save</md-button>
            </div>
            <h2>Data Editor</h2>
           </md-toolbar>
          </md-content>
        </md-tab-body>
      </md-tab>
      <md-tab ng-disabled="!vm.indicator.base">
        <md-tab-label>
          <ng-md-icon icon="brush"></ng-md-icon>
        </md-tab-label>
        <md-tab-body>
sfsdfsdf
        </md-tab-body>
      </md-tab>
      <md-tab>
        <md-tab-label>
          <ng-md-icon icon="settings_input_component"></ng-md-icon>
        </md-tab-label>
        <md-tab-body>
sfsdfsdf
        </md-tab-body>
      </md-tab>
    </md-tabs>
    </md-content>
</section>
