<md-list class=" no-line treeview" dnd-disable-if="!vm.options.drag" dnd-list="vm.items" flex>
				<md-list-item dnd-draggable="item" dnd-effect-allowed="copyMove" dnd-effect-allowed="move" dnd-moved="vm.onDropComplete($index, 1)" flex ng-repeat="item in vm.items">
								<div class="md-list-item-text " flex>
												<p layout-align="space-between center" layout="row">
																<span class="handle" ng-if="vm.options.drag">
																				<md-icon class="matrial-icons">more_vert</md-icon>
																</span>
																<span>{{ item.title }}</span>
																<span flex></span>
																<span class="chooser unchecked" ng-class="{'unchecked': !vm.selectedItem(item), 'checked': vm.selectedItem(item),'children': vm.childSelected(item.children)}" ng-click="vm.toggleItem(item)">
																				<ng-md-icon icon="check" layout-align="center center" layout="row" ng-click="item.selected = !item.selected" size="18"></ng-md-icon>
																</span>
																<md-icon class="material-icons toggler cursor" ng-click="item.expanded = !item.expanded">
																				<i class="material-icons" ng-if="item.children.length">{{ item.expanded ? 'expand_less' : 'expand_more' }}</i>
																</md-icon>
												</p>
												<treeview item="vm.item" items="item.children" ng-if="item.expanded" options="vm.options"></treeview>
								</div>
				</md-list-item>
</md-list>
