
<style type="text/css">
	md-tabs md-ink-bar {
		background:{{vm.indicator.styled.base_color || 'rgba(128, 243, 198,1)'}};
	}
	md-tabs .md-tab.md-active, md-tabs .md-tab.md-focused,	md-tabs .md-tab .md-ripple-container , .info-container .info-box .module.rank .mini-list .list ul li.active , .info-box .module.rank .mini-list .list ul li.active, .info-box .module.comparison h4 .number, .info-box .header .title{
		color: {{vm.indicator.styled.base_color || 'rgba(128, 243, 198,1)'}};
	}
	.info-box ng-md-icon path{
		fill: {{vm.indicator.styled.base_color || 'rgba(128, 243, 198,1)'}};
	}
</style>
<div class="info-box">
								<section class="header" layout-align="space-between center" layout="row" ng-style="{'color':vm.indicator.styled.base_color}">
												<span class="title" >{{vm.indicator.title}}</span>

												<md-button class="md-icon-button" ng-click="vm.goInfoState()">
																<ng-md-icon icon="info_outline" style="fill:{{vm.indicator.styled.base_color}}"></ng-md-icon>
												</md-button>
								</section>
								<md-tabs md-selected="vm.active" md-no-select-click>
										<md-tab md-on-select="vm.setYear(year.year)" ng-repeat="year in vm.indicator.years | orderBy: '-year' ">{{ year.year}}</md-tab>
								</md-tabs>
								<md-tabs md-selected="vm.activeGender"  md-no-select-click ng-if="vm.indicator.gender">
										<md-tab md-on-select="vm.setGender(gender.gender )" ng-repeat="gender in vm.indicator.gender | orderBy: '-gender' ">{{ gender.gender}}</md-tab>
								</md-tabs>
								<div class="mtb1"></div>
								<md-content>

												<section class="header info slide-toggle" layout-align="space-between center" layout="row" ng-if="vm.current">
																<span class="title">{{vm.countryList[vm.current.iso]}}</span>
																<span class="info-icon" ng-click="vm.mapGotoCountry(vm.current.iso)">
																				<ng-md-icon icon="chevron_right"></ng-md-icon>
																</span>
												</section>
												<section class="rank module slide-toggle" ng-class="{'layout-align-space-around-center': !vm.current, 'layout-align-space-between-center': vm.current}"  layout="row" ng-if="!vm.compare.active">
												        <div class="chart" layout="row" ng-if="vm.current">
												                <div layout-align="center center" layout="column">
												                        <div class="title" layout-align="center center" layout="row">Rank</div>
												                        <div layout="row">
												                              <circlegraph item="vm.current" options="vm.circleOptions"></circlegraph>
												                        </div>
												                </div>
												                <div class="tendency" layout-align="center center" layout="column" ng-class="{active:vm.current}">
												                        <div>&nbsp;</div>
												                        <!--<ng-md-icon class="icon-space" icon="{{vm.getTendency()}}" style="fill:{{vm.structure.color}}" options='{"rotation": "none"}'></ng-md-icon>-->
												                </div>
												        </div>
												        <div class="mini-list">
												                <div class="title">
												                        <span ng-if="!vm.current.iso">Top</span>
												                        <span ng-if="vm.current.iso">Actual</span>
												                </div>
												                <div class="list">
												                        <ul style="transform:translateY(-{{vm.getOffset()}}px)">
												                                <li ng-class="{active: nat.iso == vm.current.iso}" ng-click="vm.setCurrent(nat)" ng-repeat="(key, nat) in vm.data | orderBy: vm.structure.name">
												                                        <span class="number">{{key+1}}.</span>
												                                        <span class="value">{{nat.iso}}</span>
												                                        <md-tooltip md-delay="700" md-direction="right">
												                                                {{vm.countryList[nat.iso]}}
												                                        </md-tooltip>
												                                </li>
												                        </ul>
												                </div>
												        </div>
												        <div class="mini-list">
												                <div class="title">Bottom</div>
												                <div class="list">
												                        <ul>
												                                <li ng-click="vm.setCurrent(nat)" ng-repeat="(key, nat) in vm.data | orderBy:'-'+vm.structure.name | limitTo:3">
												                                        <span class="number">{{vm.getRank(nat)}}.</span>
												                                        <span class="value">{{nat.iso}}</span>
												                                        <md-tooltip md-delay="700" md-direction="right">
												                                                {{vm.countryList[nat.iso]}}
												                                        </md-tooltip>
												                                </li>
												                        </ul>
												                </div>
												        </div>
												</section>

												<section ng-if="vm.current" class="module slide-toggle" layout-align="center center" layout="column" ng-if="!vm.compare.active">
																<div layout-align="center center" layout="column" style="margin:2em 0">
																<median data="vm.data" ng-model="vm.current" options="{color: vm.indicator.styled.base_color,handling: true, field: 'score'}" ></median>
																<small style="color:#afafaf;font-style:italic;margin-top:0.5em" ng-if="vm.indicator.type.ext">values in {{vm.indicator.type.ext}}</small>
																<small style="color:#afafaf;font-style:italic;margin-top:0.5em" ng-if="!vm.indicator.type.ext">values absolute</small>
															</div>
												</section>

												<section>
																<md-tabs md-stretch-tabs="true" md-center-tabs="true" md-dynamic-height md-no-pagination="true" md-swipe-content="true" ng-if="vm.current" md-selected="vm.activeTab">

																				<md-tab label="History" md-active="vm.activeTab == 1" md-on-select="vm.setTab(1)">
																								<div class="module tabs no-margin" layout="column">
																												<history chartdata="vm.historyData" options="{field:'score', color:vm.indicator.styled.base_color}"></history>
																								</div>
																				</md-tab>

																</md-tabs>
												</section>
								</md-content>
				</div>
