<md-dialog ng-controller="EditcolumnCtrl">
	<form ng-submit="save()">
		<md-dialog-content layout="column">
			<h2 class="md-title">{{name}}</h2>

			<md-input-container flex="100">
        <label>Title</label>
				<input type="text" ng-model="title">
      </md-input-container>
			<md-input-container flex="100">
        <label>Description</label>
				<textarea ng-model="description"></textarea>
      </md-input-container>

		</md-dialog-content>

		<div class="md-actions" layout="row">
			<md-button type="button" ng-click="hide()">Cancel</md-button>
			<md-button class="md-primary" type="submit">Save</md-button>
		</div>
	</form>
</md-dialog>
