
				<md-subheader class="md-no-sticky">Choose the index you wanna see</md-subheader>
				<md-list >
								<md-list-item ng-repeat="index in vm.indizes" ui-sref="app.index.show({index:index.name})">
                  <p>{{index.title}}</p>
                <ng-md-icon icon="chevron_right"></ng-md-icon>
							</md-list-item>
							<md-list-item  ui-sref="app.index.fulllist">
								<p>Browse Full List</p>
							<ng-md-icon icon="chevron_right"></ng-md-icon>
						</md-list-item>
						<md-list-item ng-if="$root.isAuthenticated()"  ui-sref="app.index.mydata">
							<p>Your Data</p>
						<ng-md-icon icon="chevron_right"></ng-md-icon>
					</md-list-item>
					<md-list-item ng-if="$root.isAuthenticated()"  ui-sref="app.index.create">
						<p>Upload new data</p>
					<ng-md-icon icon="chevron_right"></ng-md-icon>
				</md-list-item>
				<md-list-item  ng-if="$root.isAuthenticated()"  ui-sref="app.index.editor">
					<p>Edit exisiting data</p>
				<ng-md-icon icon="chevron_right"></ng-md-icon>
			</md-list-item>
        </md-list>
