<md-list class="no-line treeview" dnd-disable-if="!vm.options.allowDrop && vm.options.drag" dnd-list="vm.items" flex  dnd-dragover="vm.onDragOver(event, index, external, type)" dnd-inserted="vm.options.inserted(event, index, item, external)" dnd-drop="vm.options.onDrop(event, index, item, external) || vm.onDropComplete(event, index, item, external)">
				<md-list-item ng-class="{'meanwhile':item.id == 0, 'active': item.id == vm.active}" dnd-draggable="item" dnd-effect-allowed="copyMove"  dnd-moved="vm.onMovedComplete($index)" flex ng-repeat="(key,item) in vm.items">
								<div class="md-list-item-text" flex >
												<p layout-align="space-between center" layout="row">

																<span class="handle" ng-if="vm.options.drag && item.id != 0">
																				<md-icon class="matrial-icons">more_vert</md-icon>
																</span>
																<span ng-if="vm.options.drag && item.id == 0">
																				<md-icon class="matrial-icons">close</md-icon>
																</span>
																<span dnd-nodrag ng-if="vm.options.withColor" class="md-color-container md-color-picker-preview md-color-picker-checkered-bg" role="button" tabindex="0">
																				<span class="md-color-picker-result" ng-style="{background: item.base_color}"></span>
																</span>
																<span ng-if="!vm.options.editable" dnd-nodrag ng-click="vm.options.itemClick(item.id, item.name)" class="cursor">{{item.title}}</span>
																<span ng-if="vm.options.editable" dnd-nodrag contenteditable="true" ng-model="item.title"></span>
																<span flex dnd-nodrag></span>
																<ng-md-icon icon="format_paint" ng-if="vm.options.styleable && item.id && item.type != 'group'" dnd-nodrag ng-click="vm.options.styleClick(item)" class="cursor styleIcon"></ng-md-icon>
																<weight dnd-nodrag items="vm.items" item="item" ng-if="vm.options.editWeight && vm.items.length > 1"></weight>
																<span dnd-nodrag ng-if="item.id != 0 && !vm.options.editWeight && !vm.options.simple" class="chooser" ng-class="{'checked': vm.selectedItem(item), 'unchecked' : !vm.selectedItem(item) , 'child': vm.childSelected(item)}" ng-click="vm.toggleSelection(item)">
																		<ng-md-icon icon="check" layout-align="center center" layout="row" size="18"></ng-md-icon>
																</span>
																<md-icon class="material-icons" ng-click="vm.onMovedComplete(key)" ng-if="vm.options.edit">close</md-icon>
																<md-icon dnd-nodrag class="material-icons toggler cursor " ng-if="!vm.options.simple" >
																				<i class="material-icons" ng-if="item[vm.options.children].length" ng-click="item.expanded = !item.expanded" ng-show="(vm.options.expandJustGroups && item.type == 'group') || !vm.options.expandJustGroups">{{ item.expanded ? 'expand_less' : 'expand_more' }}</i>
																				<i class="material-icons" ng-if="!item[vm.options.children].length && item.id != 0 && vm.options.drag " ng-click="vm.addChildren(item)" ng-show="(vm.options.expandJustGroups && item.type == 'group') || !vm.options.expandJustGroups">add</i>
																</md-icon>
												</p>
												<treeview item="item" items="item[vm.options.children]" active="vm.active" selection="vm.selection" ng-if="item.expanded" options="vm.options"></treeview>
								</div>
				</md-list-item>
				<md-list-item ng-click="vm.options.addClick()" ng-if="(vm.items.length == 0 || !vm.items) && vm.options.drag && vm.options.allowDrop" class="meanwhile doAnim-fade">
						<h3 layout="column" layout-align="center center" style="width:100%;margin-right:1em;border:1px dashed #ccc;padding:1.5em;color:#ccc"><md-icon class="material-icons">vertical_align_bottom</md-icon>Drag Items here</h3>
				</md-list-item>
</md-list>
