<md-content class="md-accent">
        <form name="categoryForm" novalidate>
                <div class="mb25" layout-align="space-between center" layout="row">
                      <span flex></span>
                        <md-button class="md-primary md-fab md-mini doAnim-bottom" ng-if="vm.newParent" ng-click="vm.saveCategory(categoryForm.$valid)" ng-disabled="categoryForm.$invalid">
                          <md-icon class="material-icons">save</md-icon>
                          <md-tooltip md-delay="500">Save changes</md-tooltip>
                        </md-button>
                        <md-button class="md-warn md-fab md-mini" ng-if="vm.options.abort" ng-click="vm.options.abort()" >
                          <md-icon class="material-icons">close</md-icon>
                          <md-tooltip md-delay="500">Abort</md-tooltip>
                        </md-button>
                </div>
                <div class="indicator-fields">
                        <md-input-container class="md-block big">
                                <label>Name*</label>
                                <input maxlength="56" minlength="3" name="categoryTitle" ng-model="vm.item.title" required type="text"/>
                                <div ng-messages="categoryForm.categoryTitle.$error" ng-show="categoryForm.categoryTitle.$error">
                                        <div ng-message="required">You
                                                <b>must</b>
                                                enter a category name.</div>
                                        <div ng-message="minlength">The name is not long enough. At least 3 characters!</div>
                                        <div ng-message="maxlength">The name has to be less than 56 characters long.</div>
                                </div>
                        </md-input-container>

                        <md-autocomplete md-item-text="cat.title" md-items="cat in vm.querySearchCategory(vm.searchTextCat)" md-min-length="0" md-no-cache="vm.noCache" md-search-text-change="vm.searchTextChange(ctrl.searchTextCat)" md-selected-item="vm.parent" md-search-text="vm.searchTextCat" md-selected-item-change="vm.parentChanged(cat)"  ng-disabled="vm.isDisabled" placeholder="Select a parent category?">
                                <md-item-template>
                                        <span md-highlight-text="vm.searchTextCat">{{cat.title}}</span>
                                </md-item-template>
                                <md-not-found>
                                        No states matching "{{vm.searchTextCat}}" were found.
                                </md-not-found>
                        </md-autocomplete>
                        <md-input-container class="md-block mt2">
                                <label>Description</label>
                                <textarea ng-model="vm.item.description"></textarea>
                        </md-input-container>
                        <div layout-align="center center" layout="row">
                                <md-switch aria-label="Public" class="md-primary" ng-model="vm.item.is_public">
                                        Public
                                </md-switch>
                        </div>
                </div>
        </form>
</md-content>
