<div class="info-container">
				<div class="info-box anim-fade md-whiteframe-z3" flex layout-fill layout="column" ng-if="!display.selectedCat">
								<!--<md-toolbar class="md-warn">
												<div class="md-toolbar-tools" layout="column" layout-align="space-between center">
																<span class="title">{{indexData.name}}</span>
																<span class="subtitle">{{indexData.full_name}}</span>

																<md-button>
																				<ng-md-icon icon="info_outline" ng-click="toggleInfo()" style="fill:#fff"></ng-md-icon>
																</md-button>
												</div>
								</md-toolbar>-->
								<section class="header" layout-align="space-between center" layout="row" ng-style="{'color':display.selectedCat.color}">
												<span class="title">{{indexData.name}}</span>
												<span class="subtitle">{{indexData.full_name}}</span>

												<md-button>
																<ng-md-icon icon="info_outline" ng-click="toggleInfo()" style="fill:#006bb9"></ng-md-icon>
												</md-button>
								</section>

								<md-content>

												<section class="header info slide-toggle" layout-align="space-between center" layout="row" ng-if="current">

																<span class="title">{{current.country}}</span>
																<span class="info-icon" ng-click="mapGotoCountry(current.iso)">
																				<ng-md-icon icon="chevron_right"></ng-md-icon>
																</span>

												</section>

												<!--<div class="header" layout-align="space-between center" layout="row">
			<span class="title">{{indexData.name}}</span>
			<span class="subtitle">{{indexData.full_name}}</span>
			<span class="info-icon">
				<ng-md-icon icon="info_outline" ng-click="toggleInfo()"></ng-md-icon>
			</span>
		</div>-->
												<section class="rank module slide-toggle" layout-align="space-between center" layout="row" ng-if="current  && !compare.active">
																<div class="chart" layout="row">
																				<div layout-align="center center" layout="column">
																								<div class="title" layout-align="center center" layout="row">Rank</div>
																								<div layout="row">
																												<circlegraph ng-model="current"></circlegraph>
																								</div>
																				</div>
																				<div class="tendency" layout-align="center center" layout="column" ng-class="{active:current}">
																								<div>&nbsp;</div>
																								<ng-md-icon class="icon-space" icon="{{getTendency()}}" options='{"rotation": "none"}'></ng-md-icon>
																				</div>
																</div>
																<div class="mini-list">
																				<div class="title">
																								<span ng-if="!current.id">Top</span>
																								<span ng-if="current.id">Actual</span>
																				</div>
																				<div class="list">
																								<ul style="transform:translateY(-{{getOffset()}}px)">
																												<li ng-class="{active: nat.id == current.id}" ng-click="setCurrent(nat)" ng-repeat="(key, nat) in epi | orderBy:'+rank'">
																																<span class="number">{{key+1}}.</span>
																																<span class="value">{{nat.iso}}</span>
																																<md-tooltip md-delay="700" md-direction="right">
																																				{{nat.country}}
																																</md-tooltip>
																												</li>
																								</ul>
																				</div>
																</div>
																<div class="mini-list">
																				<div class="title">Bottom</div>
																				<div class="list">
																								<ul>
																												<li ng-click="setCurrent(nat)" ng-repeat="(key, nat) in epi | orderBy:'-rank' | limitTo:3">
																																<span class="number">{{getRank(nat)}}.</span>
																																<span class="value">{{nat.iso}}</span>
																																<md-tooltip md-delay="700" md-direction="right">
																																				{{nat.country}}
																																</md-tooltip>
																												</li>
																								</ul>
																				</div>
																</div>
												</section>
												<section class="module slide-toggle" layout-align="center center" layout="column" ng-if="current  && !compare.active">
																<median data="epi" style="margin:2em 0" ng-model="current" options="{handling:true}"></median>
												</section>
												<section class="action module slide-toggle mb mt" layout-align="center center" layout="row" ng-if="!current">
																<md-button flex="50" ng-disabled="true">click on a country</md-button>

												</section>
												<section>
																<md-tabs md-center-tabs="true" md-dynamic-height md-no-pagination="true" md-swipe-content="true" ng-if="current">
																				<md-tab label="Details" md-active="activeTab == 2" md-on-select="setTab(0)">
																								<div class="module bubbles slide-toggle mt mb" layout="column">
																												<bubbles chartdata="current" height="320" indexer="indexData.children" ng-model="display.selectedCat" sizefactor="3" width="300"></bubbles>
																								</div>
																				</md-tab>
																				<md-tab label="History" md-active="activeTab == 1" md-on-select="setTab(1)">
																								<div class="module tabs mb no-margin" layout="column">
																												<md-tabs md-border-bottom="false" md-center-tabs="true" md-dynamic-height md-no-ink-bar md-no-pagination="true">
																																<md-tab label="Rank History">
																																				<simplelinechart data="country.epi" invert="true" max="178" selection="display.rank"></simplelinechart>
																																</md-tab>
																																<md-tab label="Score History">
																																				<simplelinechart data="country.epi" selection="display.score"></simplelinechart>
																																</md-tab>
																												</md-tabs>
																								</div>
																				</md-tab>
																				<md-tab label="Compare" md-active="activeTab == 2" md-on-deselect="checkComparison(false)" md-on-select="checkComparison(true)">
																								<div class="module comparison">
																												<div layout-wrap layout="row">
																																<div class="country anim-opacity" flex="50" ng-repeat="country in compare.countries">
																																				<h4 ng-click="setCurrent(country)">
																																								<span class="number">N°{{getRank(country)}}</span>
																																								{{country.country}}</h4>
																																				<median data="epi" height="20" info="false" ng-model="country" width="120"></median>
																																				<bubbles borders="false" chartdata="country" height="150" indexer="indexData.children" labels="false" ng-model="display.selectedCat" sizefactor="5" width="120"></bubbles>

																																</div>
																												</div>
																								</div>
																				</md-tab>
																</md-tabs>
												</section>
								</md-content>
				</div>
				<div class="info-box md-whiteframe-z2 anim sub-box" id="sub-index" ng-if="country && display.selectedCat">

								<subindex></subindex>
				</div>
				<div class="info-box md-whiteframe-z2 anim sub-box" id="sub-info" ng-if="info">
								<div class="close-box">
												<ng-md-icon icon="{{closeIcon || 'close'}}" ng-click="toggleInfo()" ng-mouseleave="closeIcon = 'close'" ng-mouseover="closeIcon = 'chevron_left'" options='{"rotation": "none", "duration":375}' size="32"></ng-md-icon>
								</div>
								<div class="module description">
												<div layout="row">
																<div class="header" flex="50" layout-align="space-between end" layout="row" flex-offset="25">
																				<div class="title">{{ indexData.name}}</div>
																				<div class="sub-title">{{indexData.full_name}}</div>
																</div>
												</div>
												<div layout="row">
																<div class="content" flex="50" flex-offset="25">
																				<div class="text" ng-bind-html="indexData.description"></div>
																</div>
												</div>
												<div layout-align="center" layout-margin layout="row">
																<div class="framework" layout-align="space-between center" layout="column">
																				<sunburst data="indexData"></sunburst>
																</div>
												</div>
												<div layout="row">
																<div class="caption" flex="60" ng-bind-html="indexData.caption" flex-offset="20"></div>
												</div>
								</div>

				</div>
</div>
<div class="stats">
<md-button ui-sref="app.epi.stats" class="tint" >Advanced statistics</md-button>
</div>
<md-container flex layout-padding class="main-content">
	<section layout="row" layout-align="space-between center" class="head">
			<div layout="row" layout-align="space-between center">
				<h1>Environment</h1>
				<md-button class="tint" >Explore Indizes</md-button>
			</div>
			<md-button class="tint" ui-sref="app.epi.upload">Upload data</md-button>
	</section>
	<section layout="row">
			<md-button>Climate and Energy</md-button>
			<md-button>Air Quality</md-button>
			<md-button>Water Resources</md-button>
			<md-button>Fisheries</md-button>
			<md-button>Water Sanitation</md-button>
			<md-button>Biodiversity</md-button>
	</section>
	<section layout="row" layout-align="start center" class="filter">
			<md-input-container>
					<label>Search</label>
					<input type="text">
			</md-input-container>
			<md-button class="tint">Advanced search</md-button>
			<md-input-container>
			 <label>Filter</label>
			 <md-select ng-model="ctrl.userState">
				 <md-option  value="0">
					  Choose
				 </md-option>
			 </md-select>
		 </md-input-container>
	</section>
	<md-divider class="space"></md-divider>
	<section layout="row">
		<div flex="30">

			<md-list>
      <md-subheader class="md-no-sticky">most visited spots</md-subheader>
      <md-list-item class="md-2-line">
        <span class="md-avatar" >1</span>
        <div class="md-list-item-text" layout="column">
          <h3>Dubai</h3>
          <p>4.205.648 visitors</p>
        </div>
      </md-list-item>
			<md-list-item class="md-2-line">
        <span class="md-avatar">2</span>
        <div class="md-list-item-text" layout="column">
          <h3>Abu Dhabi</h3>
          <p>2.645.578 visitors</p>
        </div>
      </md-list-item>
			<md-list-item class="md-2-line">
        <span class="md-avatar">3</span>
        <div class="md-list-item-text" layout="column">
          <h3>Ajman</h3>
          <p>1.345.837 visitors</p>
        </div>
      </md-list-item>
		</md-list>
		<md-list>
				<md-subheader class="md-no-sticky">most read</md-subheader>
		</md-list>
		<md-list>
				<md-subheader class="md-no-sticky">most comments</md-subheader>
		</md-list>
		<md-list>
				<md-subheader class="md-no-sticky">favorite themes/tags</md-subheader>
		</md-list>
		</div>
		<div flex="70">
				<img ui-sref="app.epi.sustain" src="/images/kpi.jpg" />
		</div>
	</section>
	<section layout="row" style="margin-top:2em">
			<div layout="column" flex="75">
					<div class="box">
						<img ui-sref="app.epi.energy" src="/images/state.jpg" />
					</div>
					<div class="box">
						<img src="/images/solar.jpg" />
					</div>
					<div class="box">
						<img src="/images/ted.jpg" />
					</div>
					<div class="box">
						<img src="/images/expo.jpg" />
					</div>
			</div>
			<div layout="column" flex="25">
					<div class="article">
							<img src="/images/water.jpg" />
							<div class="info">
							<div class="type">Story</div>
							<div class="title">Improving access to safe water</div>
							<div class="intro">WaterAid is an international non governmental organisation. Our mission is to transform lives by improving access to safe water, hygiene and sanitation in the world</div>
							<div class="caption">
								by <span class="profile">Patrick Hubertus Mayer</span>
							</div>
							<div class="tags">Schweiz, Water Sanitation, Grundwasser</div>
							<div class="interactions">
								<ng-md-icon icon="messenger" size="12"></ng-md-icon><span>28</span>
								<ng-md-icon icon="star" size="10"></ng-md-icon><span>28</span>
							</div>
						</div>
					</div>
					<md-divider></md-divider>
					<md-list>
		      <md-list-item class="md-2-line">
		        <span class="md-avatar" ></span>
		        <div class="md-list-item-text" layout="column">
		          <h3>EcoWaste</h3>
		          <p>25 July 2015 - 12:25 PM</p>
		        </div>
		      </md-list-item>
				</md-list>
					<div class="article">
							<img src="/images/eco.jpg" />
							<div class="info">
							<div class="type">Event</div>
							<div class="intro">EcoWASTE showcased the latest innovations and technologies, enabled the exchange of best practice and opened up new busi</div>
							<div class="caption">
								by <span class="profile">Patrick Hubertus Mayer</span>
							</div>
							<div class="tags">Schweiz, Water Sanitation, Grundwasser</div>
							<div class="interactions">
								<ng-md-icon icon="messenger" size="12"></ng-md-icon><span>28</span>
								<ng-md-icon icon="star" size="10"></ng-md-icon><span>28</span>
							</div>
						</div>
					</div>
			</div>
	</section>
</md-container>

<div ui-view="sub" class="anim sub-epi" layout="column" layout-align="start center"></div>
