<div ng-controller="EpiCtrl" style="margin:0 2em">
				<div class="info-container" ng-class="{'closed': !menueOpen}">
						<div class="info-box  md-whiteframe-z2" layout="column">
							<div class="header info" ng-if="current" layout-align="space-between end" layout="row" >
										<span class="title">{{current.country}}</span>
										<md-button>Visit Country</md-button>
							</div>
								<div class="header" layout-align="space-between end" layout="row">
												<span class="title">EPI</span>
												<span class="subtitle">{{current_page}}</span>
												<span class="info-icon">
																<ng-md-icon icon="info_outline"></ng-md-icon>
												</span>
								</div>
								<div class="rank module" layout-align="space-between center" layout="row">
												<div class="chart" layout="row">
																<div layout-align="" layout="column">
																				<div class="title" layout-align="center center" layout="row">Rank</div>
																				<div layout="row">
																								<circlegraph ng-model="current"></circlegraph>
																				</div>
																</div>
																<div class="tendency" layout-align="center center" layout="column" ng-class="{active:current}">
																				<div>&nbsp;</div>
																				<ng-md-icon class="icon-space" icon="{{getTendency()}}" options='{"rotation": "none"}'></ng-md-icon>
																</div>
												</div>
												<div class="mini-list">
																<div class="title">
																				<span ng-if="!current.id">Top</span>
																				<span ng-if="current.id">Actual</span>
																</div>
																<div class="list">
																				<ul style="transform:translateY(-{{getOffset()}}px)">
																								<li ng-class="{active: nat.id == current.id}" ng-click="setCurrent(nat)" ng-repeat="(key, nat) in epi | orderBy:'+rank'">
																												<span class="number">{{key+1}}.</span>
																												<span class="value">{{nat.iso}}</span>
																												<md-tooltip md-delay="700" md-direction="right">
																																{{nat.country}}
																												</md-tooltip>
																								</li>
																				</ul>
																</div>
												</div>
												<div class="mini-list">
																<div class="title">Bottom</div>
																<div class="list">
																				<ul>
																								<li ng-click="setCurrent(nat)" ng-repeat="(key, nat) in epi | orderBy:'-rank' | limitTo:3">
																												<span class="number">{{getRank(nat)}}.</span>
																												<span class="value">{{nat.iso}}</span>
																												<md-tooltip md-delay="700" md-direction="right">
																																{{nat.country}}
																												</md-tooltip>
																								</li>
																				</ul>
																</div>
												</div>
								</div>
								<div class="module" layout="column" layout-align="center center">
												<median data="epi" ng-model="current"></median>
												<p>median</p>
								</div>
								<div class="module bubbles anim-height" ng-if="current && details">
												<h3 class="eh">Environmental Health</h3>
												<bubbles chartdata="current" height="340" sizefactor="3" width="340" connect="selectedCat" indexer="indexData"></bubbles>
												<h3 class="ev">Environmental Validity</h3>
								</div>
								<div class="action module" layout-align="center center" layout="row" ng-if="!current">
												<md-button flex="50" ng-disabled="true">click on a country</md-button>
								</div>
								<div class="action module" layout-align="center center" layout="row" ng-if="current">
												<md-button flex="50" ng-click="toggleDetails()"><span ng-if="!details">Details</span><span ng-if="details">Less Info</span></md-button>
								</div>
								<div class="action module" layout-align="center center" layout="row"  ng-if="!current">
												or
								</div>
								<div class="action module" layout-align="center center" layout="row"  ng-if="!current">
												<md-input-container>
																<label>choose from list</label>
																<md-select ng-model="current">
																				<md-option ng-repeat="nat in epi | orderBy:'+country' " ng-value="{{nat}}">{{nat.country}}</md-option>
																</md-select>
												</md-input-container>
								</div>
								<div class="close-it" ng-click="toggleOpen()">
												<ng-md-icon icon="{{closeIcon}}"></ng-md-icon>
								</div>
				</div>
				<div class="info-box md-whiteframe-z2" ng-if="country && details">
					<div class="header center" layout-align="center center" layout="column">
									<span class="icon"><i class="icon icon-bubble icon-anchor fisheries"></i></span>
									<span class="title">Fisheries</span>
									<span class="info-icon">
									</span>
					</div>
					<div class="module linechart">
						<nvd3 options="chart.options" data="chart.data">
					</div>

				</div>
			</div>

</div>
