<div class="sub-boxer">
  <h2 layout="row" layout-align="space-between center">
        <span>Data Upload Tutorial</span>
        <div class="back" layout="column" ng-init="icon = 'close'" ng-mouseenter="icon ='expand_more'" ng-mouseleave="icon= 'close'" layout-align="center center" ui-sref="app.epi">
        <ng-md-icon icon="{{icon}}"  size="32" style="fill:#004288"></ng-md-icon>
    </div>
  </h2>
  <md-divider></md-divider>
  <md-list>
    <md-list-item>
      <span class="md-avatar" >1</span>
      <div class="md-list-item-text" layout="column">
          <img src="/images/upload1.jpg" />
      </div>
    </md-list-item>
    <md-list-item>
      <span class="md-avatar" >2</span>
      <div class="md-list-item-text" layout="column">
          <img src="/images/upload2.jpg" />
      </div>
    </md-list-item><md-list-item>
      <span class="md-avatar" >3</span>
      <div class="md-list-item-text" layout="column">
          <img src="/images/upload3.jpg" />
      </div>
    </md-list-item><md-list-item>
      <span class="md-avatar" >4</span>
      <div class="md-list-item-text" layout="column">
          <img src="/images/upload4.jpg" />
      </div>
    </md-list-item><md-list-item>
      <span class="md-avatar" >5</span>
      <div class="md-list-item-text" layout="column">
          <img src="/images/upload5.jpg" />
      </div>
    </md-list-item>
  </md-list>
</div>
