<md-content layout-fill class="split-layout">
	<md-subheader class="md-primary">
		<div layout="row" layout-align="space-between center">
			<span>Split Layout</span>
			<md-button class="md-icon-button md-primary" ng-click="$root.goBack()">
				<md-icon class="material-icons">close</md-icon>
			</md-button>
		</div>
	</md-subheader>
	<md-content>
		<md-subheader class="md-primary">
			<span class="md-subhead">Title</span>
			<h4 class="md-display-1">{{vm.exporter.title}}</h4>
		</md-subheader>
		<md-content layout-padding>
			<div>
				<md-input-container class="md-block">
					<label>Description</label>
					<textarea ng-model="vm.exporter.description"></textarea>
				</md-input-container>
			</div>
			<div label="Color" md-color-picker ng-model="vm.exporter.style.base_color"></div>
			<image-uploader ng-model="vm.exporter.style"></image-uploader>
		</md-content>
		<md-divider></md-divider>
		<md-content class="thumb-color" ng-repeat="item in vm.exporter.items" ng-if="item.type == 'group'" >
			<md-subheader class="md-primary rowed" >
				<span>{{item.title}}</span>
				<md-button class="md-icon-button md-primary" ng-click="item.showContent = !item.showContent">
					<md-icon>{{ item.showContent ? 'expand_less' : 'expand_more' }}</md-icon>
				</md-button>
			</md-subheader>
			<md-content layout-padding class="toggled" ng-class="{'closed':item.showContent}">
				<div>
					<md-input-container class="md-block">
						<label>Description</label>
						<textarea ng-model="item.description"></textarea>
					</md-input-container>
				</div>
				<div label="Color" md-color-picker ng-model="item.style.base_color"></div>
				<image-uploader ng-model="item.style"></image-uploader>
			</md-content>
			<md-divider></md-divider>
		</md-content>
	</md-content>
</md-content>
