<div class="items-head md-whiteframe-z2" layout="row" layout-align="space-around center" ng-click="vm.showList = !vm.showList">
  <i class="icon-menu"></i>
  <span>Items</span>
</div>
<div class="items-list md-whiteframe-z1 slide-toggle" ng-if="vm.showList">

<div   layout="row" layout-align="start center">
        <i class="icon-territiry"></i>
        <md-tooltip md-direction="left">Territory</md-tooltip>
</div>
<div  layout="row" layout-align="start center">
        <i class="icon-secession"></i>
        <md-tooltip md-direction="left">Secession</md-tooltip>
</div>
<div layout="row" layout-align="start center">
        <i class="icon-autonomy"></i>
        <md-tooltip md-direction="left">Autonomy</md-tooltip>
</div>
<div  layout="row" layout-align="start center">
        <i class="icon-system-ideology"></i>
        <md-tooltip md-direction="left">System/Ideology</md-tooltip>
</div>
<div  layout="row" layout-align="start center">
        <i class="icon-national-power"></i>
        <md-tooltip md-direction="left">National Power</md-tooltip>
</div>
<div   layout="row" layout-align="start center">
        <i class="icon-international-power"></i>
        <md-tooltip md-direction="left">International Power</md-tooltip>
</div>
<div  layout="row" layout-align="start center">
        <i class="icon-subnational-predominace"></i>
        <md-tooltip md-direction="left">Subnational Predominace</md-tooltip>
</div>
<div  layout="row" layout-align="start center">
        <i class="icon-resources"></i>
        <md-tooltip md-direction="left">Resources</md-tooltip>
</div>
<div layout="row" layout-align="start center">
        <i class="icon-other-resources"></i>
        <md-tooltip md-direction="left">Others</md-tooltip>
</div>
</div>
