
				<md-subheader class="md-no-sticky md-primary">Choose the index you wanna see</md-subheader>
				<md-list >
								<md-list-item ng-repeat="index in vm.indizes" ui-sref="app.index.show({index:index.name})">
									<md-icon class=" md-rounded md-primary" ng-if="index.style.icon_name" ng-style="{'color': index.style.base_color}">
											<i  class="icon-{{index.style.icon_name}}"></i>
									</md-icon>
									<md-icon class="md-rounded md-primary material-icons" ng-if="!index.style.icon_name" ng-style="{'color': index.style.base_color}">public</md-icon>

                  <p>{{index.title}}</p>
							</md-list-item>
							<md-list-item  ui-sref="app.index.list">
											<md-icon class="material-icons md-primary">view_list</md-icon>
								<p>Browse Full List</p>

						</md-list-item>
						<md-list-item ng-if="$root.isAuthenticated()"  ui-sref="app.index.mydata">
							<md-icon class="material-icons md-rounded md-primary">fingerprint</md-icon>
							<p>Your Data</p>

					</md-list-item>
					<md-list-item ng-if="$root.isAuthenticated()"  ui-sref="app.index.create">
						<md-icon class="material-icons md-rounded md-primary">file_upload</md-icon>
						<p>Upload new data</p>

				</md-list-item>
				<md-list-item  ng-if="$root.isAuthenticated()"  ui-sref="app.index.editor">
					<md-icon class="material-icons md-primary">edit</md-icon>
					<p>Edit exisiting data</p>

			</md-list-item>
        </md-list>
