@import "font_variables";

@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?97jgds');
    src:    url('fonts/icomoon.eot?97jgds#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?97jgds') format('truetype'),
        url('fonts/icomoon.woff?97jgds') format('woff'),
        url('fonts/icomoon.svg?97jgds#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1.8;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-other-resources {
    &:before {
        content: @icon-other-resources;
    }
}
.icon-specific-gemstone {
    &:before {
        content: @icon-specific-gemstone;
    }
}
.icon-farmland {
    &:before {
        content: @icon-farmland;
    }
}
.icon-ore {
    &:before {
        content: @icon-ore;
    }
}
.icon-cattle {
    &:before {
        content: @icon-cattle;
    }
}
.icon-supplier {
    &:before {
        content: @icon-supplier;
    }
}
.icon-energy {
    &:before {
        content: @icon-energy;
    }
}
.icon-water {
    &:before {
        content: @icon-water;
    }
}
.icon-trader {
    &:before {
        content: @icon-trader;
    }
}
.icon-employee {
    &:before {
        content: @icon-employee;
    }
}
.icon-waste {
    &:before {
        content: @icon-waste;
    }
}
.icon-animal-protection {
    &:before {
        content: @icon-animal-protection;
    }
}
.icon-corporate-citizenship {
    &:before {
        content: @icon-corporate-citizenship;
    }
}
.icon-region {
    &:before {
        content: @icon-region;
    }
}
.icon-other-drug {
    &:before {
        content: @icon-other-drug;
    }
}
.icon-poppy-opium {
    &:before {
        content: @icon-poppy-opium;
    }
}
.icon-gemstones {
    &:before {
        content: @icon-gemstones;
    }
}
.icon-international-power {
    &:before {
        content: @icon-international-power;
    }
}
.icon-renewable {
    &:before {
        content: @icon-renewable;
    }
}
.icon-non-renewable {
    &:before {
        content: @icon-non-renewable;
    }
}
.icon-coca {
    &:before {
        content: @icon-coca;
    }
}
.icon-oil {
    &:before {
        content: @icon-oil;
    }
}
.icon-subnational-predominace {
    &:before {
        content: @icon-subnational-predominace;
    }
}
.icon-national-power {
    &:before {
        content: @icon-national-power;
    }
}
.icon-system-ideology {
    &:before {
        content: @icon-system-ideology;
    }
}
.icon-Ico-26 {
    &:before {
        content: @icon-Ico-26;
    }
}
.icon-plant-based-drugs {
    &:before {
        content: @icon-plant-based-drugs;
    }
}
.icon-gas {
    &:before {
        content: @icon-gas;
    }
}
.icon-autonomy {
    &:before {
        content: @icon-autonomy;
    }
}
.icon-timber {
    &:before {
        content: @icon-timber;
    }
}
.icon-profile {
    &:before {
        content: @icon-profile;
    }
}
.icon-water-resources {
    &:before {
        content: @icon-water-resources;
    }
}
.icon-agriculture {
    &:before {
        content: @icon-agriculture;
    }
}
.icon-water-sanitation {
    &:before {
        content: @icon-water-sanitation;
    }
}
.icon-air-quality {
    &:before {
        content: @icon-air-quality;
    }
}
.icon-fisheries {
    &:before {
        content: @icon-fisheries;
    }
}
.icon-forests {
    &:before {
        content: @icon-forests;
    }
}
.icon-biodiversity-habitat {
    &:before {
        content: @icon-biodiversity-habitat;
    }
}
.icon-climate-energy {
    &:before {
        content: @icon-climate-energy;
    }
}
.icon-territiry {
    &:before {
        content: @icon-territiry;
    }
}
.icon-coal {
    &:before {
        content: @icon-coal;
    }
}
.icon-gold {
    &:before {
        content: @icon-gold;
    }
}
.icon-fish {
    &:before {
        content: @icon-fish;
    }
}
.icon-secession {
    &:before {
        content: @icon-secession;
    }
}
.icon-hydrocarbons {
    &:before {
        content: @icon-hydrocarbons;
    }
}
.icon-specific-ore {
    &:before {
        content: @icon-specific-ore;
    }
}
.icon-alert {
    &:before {
        content: @icon-alert;
    }
}
.icon-discuss {
    &:before {
        content: @icon-discuss;
    }
}
.icon-write {
    &:before {
        content: @icon-write;
    }
}
.icon-pin {
    &:before {
        content: @icon-pin;
    }
}
.icon-sort {
    &:before {
        content: @icon-sort;
    }
}
.icon-cluster {
    &:before {
        content: @icon-cluster;
    }
}
.icon-delete {
    &:before {
        content: @icon-delete;
    }
}
.icon-link {
    &:before {
        content: @icon-link;
    }
}
.icon-video {
    &:before {
        content: @icon-video;
    }
}
.icon-photo {
    &:before {
        content: @icon-photo;
    }
}
.icon-facebook {
    &:before {
        content: @icon-facebook;
    }
}
.icon-twitter {
    &:before {
        content: @icon-twitter;
    }
}
.icon-google {
    &:before {
        content: @icon-google;
    }
}
.icon-image {
    &:before {
        content: @icon-image;
    }
}
.icon-on {
    &:before {
        content: @icon-on;
    }
}
.icon-off {
    &:before {
        content: @icon-off;
    }
}
.icon-mail {
    &:before {
        content: @icon-mail;
    }
}
.icon-info {
    &:before {
        content: @icon-info;
    }
}
.icon-check {
    &:before {
        content: @icon-check;
    }
}
.icon-search {
    &:before {
        content: @icon-search;
    }
}
.icon-rate {
    &:before {
        content: @icon-rate;
    }
}
.icon-add {
    &:before {
        content: @icon-add;
    }
}
.icon-track {
    &:before {
        content: @icon-track;
    }
}
.icon-23 {
    &:before {
        content: @icon-23;
    }
}
.icon-chat {
    &:before {
        content: @icon-chat;
    }
}
.icon-edit {
    &:before {
        content: @icon-edit;
    }
}
.icon-pin-2 {
    &:before {
        content: @icon-pin-2;
    }
}
.icon-expand {
    &:before {
        content: @icon-expand;
    }
}
.icon-menu {
    &:before {
        content: @icon-menu;
    }
}
.icon-list {
    &:before {
        content: @icon-list;
    }
}
.icon-profile-2 {
    &:before {
        content: @icon-profile-2;
    }
}
.icon-drop-down-1 {
    &:before {
        content: @icon-drop-down-1;
    }
}
.icon-regional {
    &:before {
        content: @icon-regional;
    }
}
.icon-drop-down-2 {
    &:before {
        content: @icon-drop-down-2;
    }
}
.icon-drop-up-2 {
    &:before {
        content: @icon-drop-up-2;
    }
}
.icon-global {
    &:before {
        content: @icon-global;
    }
}
.icon-drop-up-1 {
    &:before {
        content: @icon-drop-up-1;
    }
}
.icon-celsius {
    &:before {
        content: @icon-celsius;
    }
}
.icon-fahrenheit {
    &:before {
        content: @icon-fahrenheit;
    }
}
.icon-sunny {
    &:before {
        content: @icon-sunny;
    }
}
.icon-cloudy {
    &:before {
        content: @icon-cloudy;
    }
}
.icon-clouds {
    &:before {
        content: @icon-clouds;
    }
}
.icon-rain {
    &:before {
        content: @icon-rain;
    }
}
.icon-thunder {
    &:before {
        content: @icon-thunder;
    }
}
.icon-snow {
    &:before {
        content: @icon-snow;
    }
}
.icon-close {
    &:before {
        content: @icon-close;
    }
}
.icon-minus {
    &:before {
        content: @icon-minus;
    }
}
.icon-plus {
    &:before {
        content: @icon-plus;
    }
}
.icon-no-sound {
    &:before {
        content: @icon-no-sound;
    }
}
.icon-sound {
    &:before {
        content: @icon-sound;
    }
}
.icon-play {
    &:before {
        content: @icon-play;
    }
}
.icon-pause {
    &:before {
        content: @icon-pause;
    }
}
.icon-sections {
    &:before {
        content: @icon-sections;
    }
}
.icon-diamonds {
    &:before {
        content: @icon-diamonds;
    }
}
.icon-resources {
    &:before {
        content: @icon-resources;
    }
}
.icon-movie .path1 {
    &:before {
        content: @icon-movie-path1;
        color: rgb(0, 105, 184);
    }
}
.icon-movie .path2 {
    &:before {
        content: @icon-movie-path2;
        margin-left: -1em;
        color: rgb(220, 220, 219);
    }
}
.icon-comments .path1 {
    &:before {
        content: @icon-comments-path1;
        color: rgb(255, 255, 255);
    }
}
.icon-comments .path2 {
    &:before {
        content: @icon-comments-path2;
        margin-left: -1em;
        color: rgb(255, 255, 255);
    }
}
.icon-comments .path3 {
    &:before {
        content: @icon-comments-path3;
        margin-left: -1em;
        color: rgb(0, 105, 184);
    }
}
.icon-comments .path4 {
    &:before {
        content: @icon-comments-path4;
        margin-left: -1em;
        color: rgb(0, 105, 184);
    }
}
.icon-comments .path5 {
    &:before {
        content: @icon-comments-path5;
        margin-left: -1em;
        color: rgb(0, 105, 184);
    }
}
.icon-youtube {
    &:before {
        content: @icon-youtube;
    }
}
.icon-vimeo {
    &:before {
        content: @icon-vimeo;
    }
}
.icon-dropbox .path1 {
    &:before {
        content: @icon-dropbox-path1;
        color: rgb(0, 137, 207);
    }
}
.icon-dropbox .path2 {
    &:before {
        content: @icon-dropbox-path2;
        margin-left: -1em;
        color: rgb(0, 137, 207);
    }
}
.icon-dropbox .path3 {
    &:before {
        content: @icon-dropbox-path3;
        margin-left: -1em;
        color: rgb(15, 129, 222);
    }
}
.icon-pintrest .path1 {
    &:before {
        content: @icon-pintrest-path1;
        color: rgb(206, 32, 32);
    }
}
.icon-pintrest .path2 {
    &:before {
        content: @icon-pintrest-path2;
        margin-left: -1em;
        color: rgb(255, 255, 255);
    }
}
.icon-flickr .path1 {
    &:before {
        content: @icon-flickr-path1;
        color: rgb(226, 226, 226);
    }
}
.icon-flickr .path2 {
    &:before {
        content: @icon-flickr-path2;
        margin-left: -1em;
        color: rgb(255, 0, 132);
    }
}
.icon-flickr .path3 {
    &:before {
        content: @icon-flickr-path3;
        margin-left: -1em;
        color: rgb(0, 99, 219);
    }
}
.icon-child-mortality {
    &:before {
        content: @icon-child-mortality;
    }
}
.icon-prisoned {
    &:before {
        content: @icon-prisoned;
    }
}
.icon-death {
    &:before {
        content: @icon-death;
    }
}
.icon-basic-human-needs {
    &:before {
        content: @icon-basic-human-needs;
    }
}
.icon-wellbeing {
    &:before {
        content: @icon-wellbeing;
    }
}
.icon-opportunity {
    &:before {
        content: @icon-opportunity;
    }
}
.icon-nutrition {
    &:before {
        content: @icon-nutrition;
    }
}
.icon-knowledge {
    &:before {
        content: @icon-knowledge;
    }
}
.icon-personal-rights {
    &:before {
        content: @icon-personal-rights;
    }
}
.icon-climate-change {
    &:before {
        content: @icon-climate-change;
    }
}
.icon-human {
    &:before {
        content: @icon-human;
    }
}
.icon-water-2 {
    &:before {
        content: @icon-water-2;
    }
}
.icon-acess-to-information {
    &:before {
        content: @icon-acess-to-information;
    }
}
.icon-freedome-of-choice {
    &:before {
        content: @icon-freedome-of-choice;
    }
}
.icon-inequality {
    &:before {
        content: @icon-inequality;
    }
}
.icon-quality-of-life {
    &:before {
        content: @icon-quality-of-life;
    }
}
.icon-conflicts {
    &:before {
        content: @icon-conflicts;
    }
}
.icon-health-wellness {
    &:before {
        content: @icon-health-wellness;
    }
}
.icon-shelter {
    &:before {
        content: @icon-shelter;
    }
}
.icon-ecosystem-sustainability {
    &:before {
        content: @icon-ecosystem-sustainability;
    }
}
.icon-tolerance {
    &:before {
        content: @icon-tolerance;
    }
}
.icon-migration {
    &:before {
        content: @icon-migration;
    }
}
.icon-public-life {
    &:before {
        content: @icon-public-life;
    }
}
.icon-humanitarian-assistance {
    &:before {
        content: @icon-humanitarian-assistance;
    }
}
.icon-demographics {
    &:before {
        content: @icon-demographics;
    }
}
.icon-sustainability {
    &:before {
        content: @icon-sustainability;
    }
}
.icon-economics {
    &:before {
        content: @icon-economics;
    }
}
.icon-advanced-education {
    &:before {
        content: @icon-advanced-education;
    }
}
.icon-animal {
    &:before {
        content: @icon-animal;
    }
}
.icon-safety {
    &:before {
        content: @icon-safety;
    }
}


@font-face {
	font-family: 'epi';
	src:url('fonts/epi.eot?-47ygze');
	src:url('fonts/epi.eot?#iefix-47ygze') format('embedded-opentype'),
		url('fonts/epi.ttf?-47ygze') format('truetype'),
		url('fonts/epi.woff?-47ygze') format('woff'),
		url('fonts/epi.svg?-47ygze#epi') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="epi-icon-"], [class*=" epi-icon-"] {
	font-family: 'epi';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.epi-icon-empty:before {
	content: "\e600";
}
.epi-icon-agrar:before {
	content: "\e600";
}
.epi-icon-anchor:before {
	content: "\e601";
}
.epi-icon-butterfly:before {
	content: "\e602";
}
.epi-icon-energy:before {
	content: "\e603";
}
.epi-icon-sink:before {
	content: "\e604";
}
.epi-icon-man:before {
	content: "\e605";
}
.epi-icon-fabric:before {
	content: "\e606";
}
.epi-icon-tree:before {
	content: "\e607";
}
.epi-icon-water:before {
	content: "\e608";
}
