@import (less) 'colors.less';

.info-container {
    line-height: 1em;
    top:calc(~"48px + 1em");
    left:1em;
    position:absolute;
    color: @grey;
    transition: all .3s ease;
    transform: translateX(0);
    padding-bottom:2em;
    &.out {
        transform: translateX(-380px);
    }
    .info-box {
        background-color: #fff;
        //margin-left: 1em;
        //margin-top: 1em;
        width:360px;
        position: relative;


        &:hover {
            &.closed {
                transform: translateX(-95%);

                .close-it {
                    width: 100%;
                }
            }
        }
        .header, md-toolbar{
          .title{
            font-size:1.5em;
          }
          .subtitle{
            font-size:0.9em;
          }
          .md-button{
            border: 0px;
            padding: 0px;
            min-width: 0;
            line-height: 1em;
            margin: 0;
          }
        }
        md-content{
          color:inherit;
        }
         md-tabs .md-tab:not(.md-active){
            color:inherit;
         }
        .header {
            padding: 0.6em 1em;
            //margin-bottom:1em;
            position:relative;
            &::after{
              content:'';
              width:100%;
              height: 1px;
              border-bottom:1px solid @base;
              position:absolute;
              bottom:0px;
              left:0px;
              opacity: 0.2;
            }
            .title {
                font-weight: normal;
                color: @base;
                padding: 0;
                margin: 0;
                line-height: 0.8em;
                font-size: 1.5em;
            }

            .subtitle {
                color: @base;
                line-height: 1em;
                font-size:0.9em;
            }

            .info-icon {
                cursor: pointer;
                fill: @base;
            }


            &.info {
              border: 0;
              //margin: 1em;
              padding: 1em 2em;


                .title {
                    line-height: 1.2em;
                }

                .md-button {
                    margin:0px;
                    margin-right: -0.5em;
                }
                &::after{
                  border:0px;
                }
            }
            &.center{
              .title{
                margin-top:0.5em;
                font-size:1.8em;
                text-align: center;
                line-height: 1em;
              }
            }
            &.smaller{
              .title{
                font-size:1.3em;
                font-style:italic;
              }
            }
        }

        .close-it {
            position: absolute;
            top: 0;
            right: 0;
            transition: all 0.25s ease;
            cursor: pointer;
            padding: 0.5em;
            height: 100%;

            * {
                fill: @grey-light;
            }

            &:hover {
                * {
                    fill: @grey;
                }
            }
        }

        .module {
            margin:0 2em;
            //padding:2em;
            &.no-margin{
              margin:0px;
            }
            &.mt{
              margin-top:2em;
            }
            &.mb{
              margin-bottom:2em;
            }
            &.rank {
                .chart {
                    color: @grey;

                    .title {
                        margin-bottom: 0.5em;
                    }

                    .data {
                        .value {
                            border: 2px solid @green;
                            border-radius: 50%;
                            height: 80px;
                            width: 80px;
                        }
                    }

                    /*.tendency {
                        path {
                            fill: @grey-light;
                        }


                    }*/
                }

                .mini-list {
                    font-size: 0.9em;

                    .title {
                        margin-bottom: 0.5em;
                    }

                    .list {
                        height: 3.5em;
                        overflow: hidden;

                        ul {
                            transition: all 0.5s ease-out;
                            padding: 0;
                            margin: 0;

                            li {
                                list-style-type: none;
                                cursor: pointer;
                                transition: all 0.5s ease-out;

                                &.active {
                                    color: @green;
                                }

                                .number {
                                    margin-right: 0.5em;
                                }

                                .value {

                                }
                            }
                        }
                    }
                }
            }
            &:last-child{
              //margin-bottom:0px;

            }
            &.tabs{
              .header{
                .title{
                  opacity: 0.5;
                  transition:all .2s ease-in-out;
                  &.active{
                    opacity: 1;
                  }
                }
                *{
                  cursor:pointer;
                }
              }
              .md-tab{
                font-size:1.2em;
                font-style:italic;
              }

            }
            &.description{
              .header{
                .sub-title{
                  color:@base;

                }
              }
              .text{
                color:@base;
                margin-bottom:2em;
                text-align:justify;
                line-height: 1.2em;
              }
              .caption{
                font-style:italic;
                padding:1em;
              }
            }
            &.comparison{
              h4{
                color:@base;
                font-weight:normal;
                font-size:1.2em;
                line-height: 1em;
                margin-bottom:1.5em;
                .number{
                  color:@green;
                  font-size:0.9em;

                }
              }
              .country{
                text-align:center;
              }
            }

        }

        .country_list {
            position: absolute;
            left: 100%;
            top: 0;
            height: 100%;
            background-color: #fff;
            overflow-y: auto;
            width: 300px;

            md-content {
                height: 100%;
            }
        }

        .md-button {
            border-radius: 20px;
            padding: 0 30px;
            text-transform: none;
            border: 1px solid;
        }

        .md-ripple-container {
            border-radius: 20px;
        }
        .close-box{
          margin-bottom:0px;
          text-align:left;
          cursor:pointer;
          path{
            fill:@base;
          }
        }
        &.sub-box{
          position:absolute;
          top:0px;
          //left:365px;




          &#sub-info{
            width:700px; //calc(~"100% - 420px - 5em");
            left:380px;
          }
        }
    }
   .md-tab{
     text-transform: none;
   }
}
.nvd3{
  text{
    font-family:Georgia;

  }
  &.nv-legend{
    text{
      font-size:1em;
    }
  }
  .nv-axis{
     .nv-axisMaxMin{
       text{
        font-weight: normal;
        }
     }
  }
  &.nv-sunburst{
    g{
      &:first-child{
        text{
            font-size:2em;
            top:0.25em;
        }

      }
    }
  }

}
.nvtooltip {
  border-radius:0px;
}
