@import (less) 'colors.less';
.md-toolbar-tools{

}
.md-blueframe-z1 {
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 255, 0.14), 0px 2px 2px 0px rgba(0, 0, 255, 0.098), 0px 1px 5px 0px rgba(0, 0, 255, 0.084);
}

.md-ripple-container{
  border-radius: 20px;
}
md-fab-toolbar md-fab-trigger ng-md-icon {
    position: relative;
    z-index: 22;
    opacity: 1;
    transition: all 200ms ease-in;
    transition-delay: 0.3s;
}
md-fab-toolbar.md-is-open{
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 255, 0.14), 0px 2px 2px 0px rgba(0, 0, 255, 0.098), 0px 1px 5px 0px rgba(0, 0, 255, 0.084);
    md-fab-trigger ng-md-icon {
      opacity: 0;
      transition-delay: 0s;
    }
}
.md-subheader{
  font-size:1.5em;
}
