@import (less) 'colors.less';


.md-toolbar-tools{
  font-size:16px;
}
.md-blueframe-z1 {
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 255, 0.14), 0px 2px 2px 0px rgba(0, 0, 255, 0.098), 0px 1px 5px 0px rgba(0, 0, 255, 0.084);
}
.md-button{
  border-radius:20px;
  padding:0 30px;
  text-transform: none;
}

md-dialog{
  padding:24px;
}
md-toast{
  position:fixed;
}
.md-button{
  .md-ripple-container{
    border-radius: 20px;
  }
  ng-md-icon{
    position:relative;
    top:0.5em;
  }

}
a{
  &.md-button{
    span{
      margin: 0;
  margin-left: 5px;
    }
  }


}
md-list-item{
  color:@dark-color;
  path{
    fill:@grey;
  }
}
.md-border{
  border:1px solid;
  &.md-focused{
    border:1px solid;
  }
}
md-input-container{
  &.md-has-icon{
    padding-left: 36px;
  }
  ng-md-icon {
    position: absolute;
    top: 5px;
    left: 2px;
  }
}
md-menu-content{
  padding:0px;

}
.md-open-menu-container {
  md-menu-divider{
    margin:0;
  }
}
ng-md-icon{
  path{
    fill:@base;
  }
}
