<div ng-controller="ImportcsvCtrl as ctrl" class="editContent" >
				<md-toolbar class="md-menu-toolbar">
								<div layout="row">
												<md-toolbar-filler layout layout-align="center center">
																<ng-md-icon icon="menu" style="fill:rgba(255,255,255,0.87);margin:0px 1em;"></ng-md-icon>
												</md-toolbar-filler>
												<div>
																<h2 class="md-toolbar-tools">Import CSV File</h2>
																<md-menu-bar>
																				<md-menu>
																								<button ng-click="$mdOpenMenu($event)">
																												File
																								</button>
																								<md-menu-content width="6">
																												<md-menu-item>
																																<md-button ng-click="ctrl.openCsvUpload()">
																																				<ng-md-icon icon="file_upload"></ng-md-icon>
																																				Upload CSV
																																</md-button>
																												</md-menu-item>
																												<md-menu-divider role="separator"></md-menu-divider>
																												<md-menu-item>
																																<md-button ng-click="">
																																				<ng-md-icon icon="save"></ng-md-icon>
																																				Save to DB
																																</md-button>
																												</md-menu-item>
																								</md-menu-content>
																				</md-menu>
																</md-menu-bar>
												</div>
								</div>
				</md-toolbar>
				<div class="page-container">
								<div class="page">sdfdsf
								</div>
				</div>
</div>
