<div class="module tabs mb no-margin" layout="column">
				<md-tabs md-border-bottom   md-center-tabs="true" md-dynamic-height md-no-ink-bar md-no-pagination="true">
								<md-tab label="Rank History">
												<simplelinechart data="chartdata" options="{invert:true,max:178}" selection="display.rank"></simplelinechart>
								</md-tab>
								<md-tab label="Score History">
												<simplelinechart data="chartdata" selection="display.score"></simplelinechart>
								</md-tab>
				</md-tabs>
</div>
