<section class="table ">
				<md-data-table-toolbar >
								<div flex layout-align="start center" layout="row">
												<h2 class="md-title">Data Overview</h2>
												<div layout-align="space-between center" layout="row">
																<md-button class="md-raised md-warn anim-fade icon-space" ng-click="vm.selectErrors()" ng-if="vm.errors.length || vm.iso_errors.length">
																				<md-tooltip md-direction="bottom">
																								Select all rows with errors
																				</md-tooltip>
																				<ng-md-icon class="middle" icon="bug_report"></ng-md-icon>

																</md-button>
																<md-button class="md-raised md-warn anim-fade icon-space" ng-click="vm.deleteSelected()" ng-if="vm.selected.length">
																				<ng-md-icon class="middle" icon="delete"></ng-md-icon>
																</md-button>
																<md-button class="md-raised md-primary anim-fade icon-space" layout-align="center center" layout="row" ng-click="vm.editRow()" ng-if="vm.selected.length == 1">
																				<ng-md-icon class="middle" icon="mode_edit"></ng-md-icon>
																</md-button>

												</div>
								</div>
				</md-data-table-toolbar>
				<md-data-table-container>
								<table md-data-table md-row-select="vm.selected">
												<thead md-order="vm.query.order" md-trigger="vm.onOrderChange">
																<tr >
																				<th name="Errors" ng-if="vm.errors.length || vm.iso_errors.length" order-by="errors"></th>
																				<th class="iconed" name="{{key}}" ng-class="{'globe': key == vm.meta.iso_field || key == vm.meta.country_field || key == vm.meta.year_field}" ng-repeat="(key, item) in vm.data[0].data[0]" order-by="{{key}}">
																								<span class="icon" ng-if="key == vm.meta.iso_field">
																												<ng-md-icon icon="public"></ng-md-icon>
																								</span>
																								<span class="icon" ng-if="key == vm.meta.country_field">
																												<ng-md-icon icon="my_location"></ng-md-icon>
																								</span>
																								<span class="icon" ng-if="key == vm.meta.year_field">
																												<ng-md-icon icon="event"></ng-md-icon>
																								</span>

																								<!--<span class="icon" ng-click="vm.editColumnData($event, key)" ng-if="key != vm.meta.iso_field && key != vm.meta.country_field">
                                                        <ng-md-icon icon="mode_edit"></ng-md-icon>
                                                </span>-->
																								<span class="icon" ng-click="vm.deleteColumn($event, key)" ng-if="key != vm.meta.iso_field && key != vm.meta.country_field">
																												<ng-md-icon icon="delete"></ng-md-icon>
																								</span>
																				</th>
																</tr>
												</thead>
												<tbody>

																<tr class="{{ vm.checkForErrors(item) }}" md-auto-select ng-repeat="item in vm.data | orderBy:vm.query.order | limitTo: vm.query.limit : (vm.query.page-1)*vm.query.limit">
																				<td ng-if="vm.errors.length || vm.iso_errors.length">{{item.errors.length}}</td>
																				<td ng-class="{'md-warn': vm.meta.iso_field == k && !column}" ng-repeat="(k, column) in item.data[0]">{{column}}</td>
																</tr>
												</tbody>
								</table>
				</md-data-table-container>
				<md-data-table-pagination md-limit="vm.query.limit" md-page="vm.query.page" md-total="{{vm.data.length}}" md-trigger="vm.onPaginationChange"></md-data-table-pagination>
</section>
<!--<section class="anim md-whiteframe-z2" ng-if="vm.data.length && vm.step == 1">
        <md-data-table-toolbar class="md-whiteframe-z1">
                <div flex layout-align="space-between center" layout="row">
                        <h2 class="md-title">CSV Import 1/4</h2>
                        <span flex></span>
                        <div layout-align="space-between center" layout="row">
                                <md-button ui-sref="app.index.create.check">
                                        Next
                                        <ng-md-icon class="middle" icon="chevron_right"></ng-md-icon>
                                </md-button>
                        </div>
                </div>
        </md-data-table-toolbar>
        <md-tabs class="md-accent" flex layout="column" layout-fill>
                <md-tab label="New">
                        <md-content>
                                <div layout-align="center center" layout-padding layout="row">
                                        <div flex="50">
                                                <div layout layout-sm="column">
                                                        <md-input-container flex="80">
                                                                <label>Title</label>
                                                                <input ng-model="vm.meta.name" required type="text">
                                                        </md-input-container>
                                                        <md-input-container flex="20">
                                                                <label>Year</label>
                                                                <input ng-model="vm.meta.year" required>
                                                        </md-input-container>
                                                </div>
                                                <md-input-container class="md-block">
                                                        <label>Description</label>
                                                        <textarea name="description" ng-model="vm.meta.description"></textarea>
                                                </md-input-container>
                                                <md-input-container class="md-block">
                                                        <label>Caption</label>
                                                        <textarea name="caption" ng-model="vm.meta.caption"></textarea>
                                                </md-input-container>

                                        </div>
                                </div>
                        </md-content>
                </md-tab>
                <md-tab label="Add to Existing">

                                <section flex layout="row" layout-fill>
                                        <md-content flex >
                                                <md-list>
                                                        <md-list-item class="md-3-line" ng-click="vm.addDataTo = data" ng-repeat="data in vm.myData">
                                                                <div class="md-list-item-text" layout="column">
                                                                        <h3>{{ data.title }}</h3>
                                                                        <h4>{{ data.name }}</h4>
                                                                        <p>{{ vm.checkFields(data) }}</p>
                                                                </div>
                                                                <ng-md-icon icon="check" ng-if="vm.addDataTo == data"></ng-md-icon>
                                                        </md-list-item>
                                                </md-list>

                                        </md-content>
                                        <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right" md-is-locked-open="vm.addDataTo.id">
                                                <md-toolbar class="md-theme-light">
                                                        <h1 class="md-toolbar-tools">Additional Info</h1>
                                                </md-toolbar>
                                                <md-content layout-padding>
                                                        <form>
                                                                <md-input-container>
                                                                        <label for="testInput">Year</label>
                                                                        <input id="testInput" md-autofocus ng-model="vm.meta.year" type="number">
                                                                </md-input-container>
                                                        </form>
                                                        <md-button class="md-primary" ng-click="close()">
                                                                Close Sidenav Right
                                                        </md-button>
                                                </md-content>
                                        </md-sidenav>
                                </section>

                </md-tab>
        </md-tabs>
</section>-->
