<div class="conflict">
<section class="header" >
  <div layout="column" layout-align="space-between ">
      <div layout-align="space-between start" layout="column">
        <img src="/images/hiik_logo.png" />
      </div>
      <div layout-align="space-between center" layout="row">
          <span class="title">HIIK Conflict Barometer</span>
        <span class="info-icon">
            <md-icon>	<i class="icon-acess-to-information"></i></md-icon>
        </span>
      </div>
    </div>
</section>
<section class="info-text">
  <div class="text slide-toggle">
  <p>The Conflict Barometer has been published since 1992 and is our annual analysis of the global conflict events and the main publication of the HIIK. Non-violent and violent crises, wars, coup d'etats as well as peace negotiations are observed in it. In the summary of the course of conflicts globally, the HIIK presents each year's developments in the form of texts and graphics. </p>
</div>
<a href="">... read more ...</a>
</section>
<section ng-if="vm.ready" class="slide-toggle" style="padding-bottom:0">
  <h3>number of conflicts according to conflict intensities</h3>
<!--<div layout="row" layout-align="space-between center">
  <span>{{vm.conflictIntensities.veryLow}}</span>
  <span>{{vm.conflictIntensities.low}}</span>
  <span>{{vm.conflictIntensities.mid}}</span>
  <span>{{vm.conflictIntensities.high}}</span>
  <span>{{vm.conflictIntensities.veryHigh}}</span>
</div>-->
<roundbar  active-type="vm.active.type" active-conflict="vm.active.conflict" chart-data="vm.chartData"></roundbar>
</section>
<section ng-if="vm.ready" class="slide-toggle">
  <h3 style="margin-bottom:1em;">conflict types</h3>
  <div layout="row" layout-align="space-between center">
    <div layout="column">
        <div class="interstate info-field" layout="row" ng-class="{'off': vm.active.type.indexOf(1) == -1}" ng-click="vm.toggleConflictFilter(1)">
          <div class="value">{{ vm.conflictTypes[0].count | percent: vm.conflictFilterCount:true}}%</div>
          <div class="label">interstate</div>
          <md-tooltip md-direction="right">two or more states</md-tooltip>

        </div>
        <div class="intrastate info-field" layout="row" ng-class="{'off': vm.active.type.indexOf(2) == -1}" ng-click="vm.toggleConflictFilter(2)">
          <div class="value">{{ vm.conflictTypes[1].count | percent: vm.conflictFilterCount:true}}%</div>
          <div class="label">intrastate</div>
          <md-tooltip md-direction="right">non-state actors and national government</md-tooltip>

        </div>
        <div class="substate info-field" layout="row" ng-class="{'off': vm.active.type.indexOf(3) == -1}" ng-click="vm.toggleConflictFilter(3)">

          <div class="value">{{ vm.conflictTypes[2].count | percent: vm.conflictFilterCount:true}}%</div>
          <div class="label">substate</div>
          <md-tooltip md-direction="right">non-state actors without government involvement</md-tooltip>
        </div>
      </div>
      <piechart ng-if="vm.ready" active-type="vm.active.type" active-conflict="vm.active.conflict" chart-data="vm.conflictTypes"></piechart>
  </div>
</section>
</div>
