<section class="table anim md-whiteframe-z2" layout="column">
        <md-data-table-toolbar class="md-whiteframe-z1">
                <div flex layout-align="space-between center" layout="row">
                        <div layout="column" layout-align="center start">
                        <h2 style="margin:0" class="md-title">Upload Information</h2>
                        <h3 style="margin:0" class="md-subhead">CSV Import 3/3</h3>
                      </div>
                        <span flex></span>
                        <div layout-align="space-between center" layout="row">
                                <md-button ui-sref="app.index.meta">
                                        <ng-md-icon class="middle" icon="chevron_left"></ng-md-icon>
                                        Prev
                                </md-button>

                        </div>
                </div>
        </md-data-table-toolbar>
        <div layout-align="center center" layout-padding layout="row">
                <div flex="50">
                        <div layout layout-sm="column">
                                <md-input-container flex="80">
                                        <label>Title</label>
                                        <input ng-model="vm.meta.name" required type="text">
                                </md-input-container>
                                <md-input-container flex="20">
                                        <label>Year</label>
                                        <input ng-model="vm.meta.year" required>
                                </md-input-container>
                        </div>
                        <md-input-container class="md-block">
                                <label>Description</label>
                                <textarea name="description" ng-model="vm.meta.description"></textarea>
                        </md-input-container>
                        <md-input-container class="md-block">
                                <label>Caption</label>
                                <textarea name="caption" ng-model="vm.meta.caption"></textarea>
                        </md-input-container>

                        <div layout-align="space-between center" layout="row">

                                <md-button class="md-primary md-raised" flex ng-click="vm.saveData()">
                                        Save
                                </md-button>
                        </div>
                </div>
        </div>
</section>
