<section class="table" layout="column">
        <md-data-table-toolbar>
                <div flex layout-align="space-between center" layout="row">
                        <div layout="column" layout-align="center start">
                        <h2 style="margin:0" class="md-title">Upload Information</h2>
                      </div>

                </div>
        </md-data-table-toolbar>
        <div layout-align="center center" layout-padding layout="row">
                <div>
                        <div layout layout-sm="column">
                                <md-input-container flex="80">
                                        <label>Title</label>
                                        <input ng-model="vm.meta.name" required type="text">
                                </md-input-container>
                                <md-input-container flex="20">
                                        <label>Year</label>
                                        <input ng-model="vm.meta.year" required>
                                </md-input-container>
                        </div>
                        <md-input-container class="md-block">
                                <label>Description</label>
                                <textarea name="description" ng-model="vm.meta.description"></textarea>
                        </md-input-container>
                        <md-input-container class="md-block">
                                <label>Caption</label>
                                <textarea name="caption" ng-model="vm.meta.caption"></textarea>
                        </md-input-container>

                        <div layout-align="space-between center" layout="row">

                                <md-button class="md-primary md-raised" ng-disabled="vm.loading" flex ng-click="vm.saveData()">
                                        Save
                                </md-button>
                        </div>
                </div>
        </div>
</section>
