#Map_Container{
  height:calc(~"100% - 165px");
}
#map{
  position:fixed;
  width:100%;
  top:64px;
  height:calc(~"100% - 64px");
}
.angular-leaflet-map {
  width:100%;
  height:100%;
  background-color: #ccdddd;
}
.greyed{
  .angular-leaflet-map {
    background-color: #d9d9d9;
  }
  img.leaflet-tile{
    transition: filter 0.5s ease-in-out;
    filter: grayscale(1);
  	-webkit-filter: grayscale(1);
  	-moz-filter: grayscale(1);
  	-o-filter: grayscale(1);
  	-ms-filter: grayscale(1);
  }

}
.country_info{
  background-color:#fff;
  padding:00px;
  padding-right:00px;
  position:fixed;
  bottom:20px;
  right:00px;
}
