<md-content class="indicator-tabs" layout-fill>
				<md-tabs md-dynamic-height md-no-ink-bar md-no-pagination md-stretch-tabs="always">
								<md-tab ng-class="{'md-warn': !vm.checkBase()}">
												<md-tab-label>
																<ng-md-icon icon="info_outline" ng-class="{'valid': vm.checkBase()}"></ng-md-icon>
												</md-tab-label>
												<md-tab-body >
																<form name="baseForm" novalidate>
																				<md-content class="md-accent" layout-padding>
																								<div class="mb25" layout-align="space-between center" layout="row" style="height:68px">

																												<span class="info" layout-align="space-between center" layout="row" ng-class="{'warning':!vm.checkBase(), 'info': vm.checkBase()}">
																																<ng-md-icon icon="{{vm.checkBase() ? 'check_circle': 'error'}}"></ng-md-icon>
																																<div ng-if="vm.checkBase()">&nbsp;Completed</div>
																																<div ng-if="!vm.checkBase()">&nbsp;Uncompleted</div>
																												</span>
																												<span flex></span>
																												<md-button class="md-primary md-fab md-mini doAnim-bottom" ng-click="vm.save()" ng-disabled="baseForm.$invalid || !vm.checkBase()" ng-if="vm.options.withSave && vm.item.isDirty">
																														<md-icon class="material-icons">save</md-icon>
																														<md-tooltip md-delay="500" >Save changes</md-tooltip>
																												</md-button>
																								</div>
																								<div class="indicator-fields">
																												<md-input-container class="md-block big">
																																<label>Title*</label>
																																<input maxlength="56" minlength="3" name="title" ng-model="vm.item.title" required type="text"/>
																																<div ng-messages="baseForm.title.$error" ng-show="baseForm.title.$error">
																																				<div ng-message="required">You
																																								<b>must</b>
																																								enter a title.</div>
																																				<div ng-message="minlength">The title is not long enough. At least 3 characters!</div>
																																				<div ng-message="maxlength">The name has to be less than 56 characters long.</div>
																																</div>
																												</md-input-container>

																												<md-input-container class="md-block">
																																<label>Description</label>
																																<textarea ng-model="vm.item.description"></textarea>
																												</md-input-container>
																												<div layout-align="center center" layout="row">
																																<md-switch aria-label="Public" class="md-primary" ng-model="vm.item.is_public">
																																				Public
																																</md-switch>
																												</div>
																								</div>
																				</md-content>
																</form>
												</md-tab-body>
								</md-tab>
								<md-tab ng-disabled="!vm.checkFull()">
												<md-tab-label>
																<ng-md-icon icon="insert_chart" ></ng-md-icon>
												</md-tab-label>
												<md-tab-body></md-tab-body>
								</md-tab>
								<md-tab ng-disabled="!vm.checkFull()">
												<md-tab-label>
																<ng-md-icon icon="format_list_bulleted" ng-class="{'valid': vm.item.children.length}"></ng-md-icon>
												</md-tab-label>
												<md-tab-body>
																<md-content >
																		<treemenu options="vm.baseOptions" item="vm.item"></treemenu>
																		<treeview items="vm.item.children" item="vm.item" options="vm.baseOptions"></treeview>
																</md-toolbar>
												</md-content>
								</md-tab-body>
				</md-tab>
				<md-tab ng-disabled="!vm.checkFull()">
								<md-tab-label>
												<ng-md-icon icon="brush" ng-class="{'valid': vm.item.style_id}"></ng-md-icon>
								</md-tab-label>
								<md-tab-body>
												<styles item="vm.item" styles="vm.styles" save="vm.save()" options="{globalSave:vm.options.withSave}"></styles>
								</md-tab-body>
				</md-tab>
				<md-tab>
								<md-tab-label>
												<ng-md-icon icon="settings_input_component" ng-class="{'valid': vm.item.categories.length}"></ng-md-icon>
								</md-tab-label>
								<md-tab-body>
												<categories item="vm.item" categories="vm.categories" save="vm.save()" options="{globalSave:vm.options.withSave}"></categories>
								</md-tab-body>
				</md-tab>
</md-tabs>
</md-content>
