<div class="conflict">
	<div layout-align="start center" class="back-button" layout="row" ng-click="$root.goBack()">
			<ng-md-icon icon="chevron_left" style="fill:#4fb0e5"></ng-md-icon>
			back
	</div>
				<section class="header noPaddingOnClosed">
								<div layout-align="space-between " layout="column">

												<div layout-align="space-between start" layout="column" class="pullToTopOnClosed">
																<a ui-sref="app.conflict.index">
																				<img src="/images/hiik_logo.png"/>
																</a>
												</div>
												<div layout-align="space-between center" layout="row">
																<span class="title tinyOnClosed">
																				<a ui-sref="app.conflict.index">Conflict Barometer</a>
																</span>
																<span class="info-icon hideOnClosed"  ng-click="vm.showMethod()">
																				<md-icon>
																								<i class="icon-acess-to-information"></i>
																				</md-icon>
																</span>
												</div>
								</div>
								<span class="outlink" layout="column" layout-align="space-between end">
									<a href="http://www.hiik.de" target="_blank">hiik.de</a>
								</span>
				</section>
				<section class="noPaddingOnClosed" >
								<h3 class="main-title">{{vm.conflict.title}}</h3>
				</section>
        <section class="info-text slide-toggle hideOnClosed" ng-if="vm.conflict.text" style="padding-top:0px">
          <div class="text slide-toggle">
          <p ng-bind-html="vm.conflict.text"></p>
        </div>
        <a href="" ng-click="vm.showText()">... read more ...</a>
        </section>
				<section class="scaleSmallOnClosed noPaddingOnClosed portUpOnClosed" >
								<!--<h3>conflict intensity</h3>-->
								<div layout-align="space-between center" layout="row">
												<circlegraph class="scaleSmallOnClosed scaleCenter" item="vm.conflict" options="vm.circleOptions"></circlegraph>
												<div layout-align="center center" layout="column" style="height:80px;">
																<h4 style="margin:0;font-size:0.9em">start</h4>
																<h3 style="margin:0">{{vm.conflict.year}}</h3>
												</div>
												<div layout-align="center center" layout="column"  style="height:80px;">
																<h4 style="margin:0;font-size:0.9em">change</h4>
																<h3 style="margin:0;height:22px">
																				<ng-md-icon icon="{{vm.getTendency()}}" options='{"rotation": "none"}'></ng-md-icon>
																</h3>
												</div>
												<div layout-align="center center" layout="column"  style="height:80px;">
																<h4 style="margin:0;font-size:0.9em">type</h4>
																<h3 style="margin:0">
																		<span ng-if="vm.conflict.type_id == 1">interstate<md-tooltip md-direction="right">two or more states</md-tooltip></span>
																		<span ng-if="vm.conflict.type_id == 2">intrastate<md-tooltip md-direction="right">non-state actors and national government</md-tooltip></span>
																		<span ng-if="vm.conflict.type_id == 3">substate<md-tooltip md-direction="right">non-state actors without government involvement</md-tooltip></span>
																</h3>
												</div>
								</div>
				</section>
				<section class="inset">
								<!--<h3 style="margin-bottom:1em;">conflict items</h3>-->
								<div layout="column">
												<div class="conflict-icon" layout-align="space-between center" layout="row" ng-if="item == 1 && vm.conflictItems.indexOf(key) > -1 " ng-repeat="(key,item) in vm.conflict">
																<div ng-if="key == 'other'" layout="row" layout-align="start center">
																				<i class="icon-other-resources"></i>
																				<span>others</span>
																</div>
																<div ng-if="key == 'territory'"  layout="row" layout-align="start center">
																				<i class="icon-territiry"></i>
																				<span>territory</span>
																				<md-tooltip md-direction="right">change in interstate borders</md-tooltip>

																</div>
																<div ng-if="key == 'secession'"  layout="row" layout-align="start center">
																				<i class="icon-secession"></i>
																				<span>secession</span>
																				<md-tooltip md-direction="right">separation of a part of a state's territory</md-tooltip>

																</div>
																<div ng-if="key == 'autonomy'"  layout="row" layout-align="start center">
																				<i class="icon-autonomy"></i>
																				<span>autonomy</span>
																				<md-tooltip md-direction="right">acquirement or expansion of political autonomy</md-tooltip>

																</div>
																<div ng-if="key == 'system'"  layout="row" layout-align="start center">
																				<i class="icon-system-ideology"></i>
																				<span>system/ideology</span>
																				<md-tooltip md-direction="right">changes in ideological, religious, socio-economic or juridical agenda of a political system – or change of the type of a regime</md-tooltip>

																</div>
                                <div ng-if="key == 'national_power'"  layout="row" layout-align="start center">
																				<i class="icon-national-power"></i>
																				<span>national power</span>
																				<md-tooltip md-direction="right">political authority in a state</md-tooltip>

																</div>
																<div ng-if="key == 'international_power'"  layout="row" layout-align="start center">
																				<i class="icon-international-power"></i>
																				<span>international power</span>
																				<md-tooltip md-direction="right">change in the constellation of power in an international or regional system</md-tooltip>

																</div>
																<div ng-if="key == 'subnational_predominance'"  layout="row" layout-align="start center">
																				<i class="icon-subnational-predominace"></i>
																				<span>subnational predominance</span>
																				<md-tooltip md-direction="right">de facto control of a government, a non-governmental organization, or a population over a region or a population</md-tooltip>

																</div>
																<div ng-if="key == 'resources'"  layout="row" layout-align="start center">
																				<i class="icon-resources"></i>
																				<span>resources</span>
																				<md-tooltip md-direction="right">ownership of natural resources and resulting profit</md-tooltip>

																</div>

												</div>
								</div>
				</section>
        <section ng-if="vm.countries.length > 1" class="slide-toggle">
          <h3 ng-click="vm.showCountries = !vm.showCountries" style="cursor:pointer;margin-bottom:1em;">countries {{vm.countries.length}} <ng-md-icon class="icon-space" icon="{{vm.showCountriesButton()}}" ></ng-md-icon></h3>
          <div layout="column" class="slide-toggle" ng-if="vm.showCountries">
            <div ui-sref="app.conflict.index.nation({iso:country.iso})" layout="row" layout-align="space-between center" class="conflict-item conflict{{vm.conflict.int2015}}" ng-repeat="country in vm.countries | orderBy:'intensity':true">
              <div>{{country.country}}</div>
            </div>
          </div>
        </section>
        </div>

</div>
