#main-logo {
    position: fixed;
    top: 1em;
    right: 0;
    text-align: center;
    /*&:hover{
    -webkit-animation: tada 1s;
    -moz-animation: tada 1s;
    -ms-animation: tada 1s;
    animation: tada 1s;
  }*/
    a {
        cursor: pointer;
        color: #004288;
        text-decoration: none;
        
        span {
            font-size: 0.8em;
        }
    }

    @media screen and (max-width: 600px) {
        display: block;
        bottom: 80px;
    }
}