<section class="table anim" >
        <md-data-table-toolbar class="md-whiteframe-z1">
                <div flex layout-align="space-between center" layout="row">
                        <div layout="column" layout-align="center start">
                        <h2 style="margin:0" class="md-title">{{vm.indicator.title || vm.indicator.column_name || 'Select Item on the left'}}</h2>
                        <h3 style="margin:0" class="md-subhead">CSV Import 2/3</h3>
                      </div>
                        <span flex></span>
                        <div layout-align="space-between center" layout="row">
                                <md-button ui-sref="app.index.check">
                                        <ng-md-icon class="middle" icon="chevron_left"></ng-md-icon>
                                        Prev
                                </md-button>
                                <md-button ui-sref="app.index.final">
                                        Next
                                        <ng-md-icon class="middle" icon="chevron_right"></ng-md-icon>
                                </md-button>
                        </div>
                </div>
        </md-data-table-toolbar>
        <md-content class="fill-noheader" layout-fill>
                <section flex layout-fill layout="row">
                        <md-content flex>
                                <div layout-align="top center" layout-fill layout="column" ng-if="vm.indicator">
                                        <indicator item="vm.indicator"></indicator>
                                </div>
                                <div layout-fill ng-if="!vm.indicator" layout="column" layout-align="center center">

                                    <h1 class="md-display-2" layout="row" layout-align="center center"><ng-md-icon size="64" icon="keyboard_arrow_left"></ng-md-icon> Choose entry from list</h1>
                                </div>
                        </md-content>
                </section>
        </md-content>
</section>
