<md-subheader class="md-accent filled">
<md-toolbar>
  <div flex layout-align="space-between center" layout="row">
                <div layout="column" layout-align="center start">
                <!--<h2 style="margin:0" class="md-title">{{vm.indicator.title || vm.indicator.column_name || 'Select Item on the left'}}</h2>-->
                <h3 style="margin:0" class="md-subhead">CSV Import 2/3</h3>
              </div>
                <span flex></span>
                <div layout-align="space-between center" layout="row">
                        <md-button  ui-sref="app.index.check">
                                <ng-md-icon class="middle" icon="chevron_left"></ng-md-icon>
                                Prev
                        </md-button>
                        <md-button   ui-sref="app.index.final">
                                Next
                                <ng-md-icon class="middle" icon="chevron_right"></ng-md-icon>
                        </md-button>
                </div>
        </div>
</md-toolbar>
</md-subheader>
<md-list class="selector">
        <md-list-item class="md-2-line" ng-class="{'active': key == vm.editingItem, 'md-warn': !vm.checkFull(vm.indicators[key])}" ng-click="vm.selectForEditing(key)" ng-if="key != vm.meta.iso_field && key != vm.meta.country_field && key != vm.meta.year_field" ng-repeat="(key, item) in vm.data[0].data[0]">
                <div class="md-list-item-text">
                        <h3>{{vm.indicators[key].title || key}}</h3>
                        <p>
                            {{ key }}
                        </p>
                </div>
                <ng-md-icon icon="{{vm.checkFull(vm.indicators[key]) ? 'check_circle': 'error'}}" layout-align="center center" layout="row" size="18"></ng-md-icon>
        </md-list-item>
</md-list>
