<style type="text/css">
	md-tabs .md-tab.md-active,
	md-tabs .md-tab.md-focused {
		color: {{vm.structure.color || 'rgba(128, 243, 198,1)' }}
	}

	md-tabs .md-tab .md-ripple-container {
		color: {{vm.structure.color || 'rgba(128, 243, 198,1)'}};
	}

	md-tabs md-ink-bar {
			color: {{vm.structrue.color || 'rgba(128, 243, 198,1)'}};
		background:{{vm.structure.color || 'rgba(128, 243, 198,1)'}};
	}
	.info-container .info-box .module.rank .mini-list .list ul li.active {
				color: {{vm.structure.color || 'rgba(128, 243, 198,1)'}};
	}
</style>

				<div class="info-box anim-fade md-whiteframe-z3" flex layout-fill layout="column" ng-if="vm.structure && vm.data">
								<section ng-if="!vm.structure.parent_id" class="header" layout-align="space-between center" layout="row" ng-style="{'color':vm.display.selectedCat.color}">
												<span class="title">{{vm.structure.title}}</span>
												<span class="subtitle">{{vm.structure.full_name}}</span>
												<md-button>
																<ng-md-icon icon="info_outline" ng-click="vm.toggleInfo()" style="fill:#006bb9"></ng-md-icon>
												</md-button>
								</section>
								<section class="header" style="padding:1em" ng-if="vm.structure.parent_id">
									<div layout="row" layout-align="space-between center">
											<div layout="row" layout-align="center center">
												<div class="close-box" ng-click="goBack()" ui-sref="app.index.show.selected({index:vm.structure.parent.name,item:vm.current.iso})">
															<ng-md-icon icon="{{closeIcon || 'close'}}"  ng-mouseleave="closeIcon = 'close'" ng-mouseover="closeIcon = 'chevron_left'" options='{"rotation": "none", "duration":375}' size="32"></ng-md-icon>
												</div>
											</div>
											<div layout-align="space-between center" layout="column">
												<span class="icon slide-toggle" style="margin-bottom:1em">
														<i ng-if="vm.structure.icon || vm.structure.parent.icon" class="icon icon-bubble icon-{{vm.structure.icon || vm.structure.parent.icon}}" ng-style="{'background-color':vm.structure.color}"></i>
															<div ng-if="!vm.structure.icon && !vm.structure.parent.icon" class="icon-bubble" ng-style="{'background-color':vm.structure.color,'width': '1em'}">&nbsp;</div>
												</span>
												<span class="title" style="font-size:1.2em;text-align:center;line-height:1em">{{vm.structure.title}}</span>
											</div>
											<div>
												<span class="info-icon">
																<ng-md-icon icon="info_outline" ng-click="vm.toggleInfo()"></ng-md-icon>
												</span>
											</div>
										</div>
								</section>
								<md-content>

												<section class="header info slide-toggle" layout-align="space-between center" layout="row" ng-if="vm.current">
																<span class="title">{{vm.countryList[vm.current.iso]}}</span>
																<span class="info-icon" ng-click="vm.mapGotoCountry(vm.current.iso)">
																				<ng-md-icon icon="chevron_right"></ng-md-icon>
																</span>
												</section>
												<section class="rank module slide-toggle" layout-align="space-between center" layout="row" ng-if="vm.current  && !vm.compare.active">
												        <div class="chart" layout="row">
												                <div layout-align="center center" layout="column">
												                        <div class="title" layout-align="center center" layout="row">Rank</div>
												                        <div layout="row">
												                              <circlegraph ng-model="vm.current" options="vm.circleOptions"></circlegraph>
												                        </div>
												                </div>
												                <div class="tendency" layout-align="center center" layout="column" ng-class="{active:vm.current}">
												                        <div>&nbsp;</div>
												                        <ng-md-icon class="icon-space" icon="{{vm.getTendency()}}" style="fill:{{vm.structure.color}}" options='{"rotation": "none"}'></ng-md-icon>
												                </div>
												        </div>
												        <div class="mini-list">
												                <div class="title">
												                        <span ng-if="!vm.current.id">Top</span>
												                        <span ng-if="vm.current.id">Actual</span>
												                </div>
												                <div class="list">
												                        <ul style="transform:translateY(-{{vm.getOffset()}}px)">
												                                <li ng-class="{active: nat.iso == vm.current.iso}" ng-click="vm.setCurrent(nat)" ng-repeat="(key, nat) in vm.data | orderBy:'-'+vm.structure.name">
												                                        <span class="number">{{key+1}}.</span>
												                                        <span class="value">{{nat.iso}}</span>
												                                        <md-tooltip md-delay="700" md-direction="right">
												                                                {{vm.countryList[nat.iso]}}
												                                        </md-tooltip>
												                                </li>
												                        </ul>
												                </div>
												        </div>
												        <div class="mini-list">
												                <div class="title">Bottom</div>
												                <div class="list">
												                        <ul>
												                                <li ng-click="vm.setCurrent(nat)" ng-repeat="(key, nat) in vm.data | orderBy:vm.structure.name | limitTo:3">
												                                        <span class="number">{{vm.getRank(nat)}}.</span>
												                                        <span class="value">{{nat.iso}}</span>
												                                        <md-tooltip md-delay="700" md-direction="right">
												                                                {{vm.countryList[nat.iso]}}
												                                        </md-tooltip>
												                                </li>
												                        </ul>
												                </div>
												        </div>
												</section>

												<section class="module slide-toggle" layout-align="center center" layout="column" ng-if="vm.current  && !vm.compare.active">
																<median data="vm.data" ng-model="vm.current" options="{color: vm.structure.color,handling: true, field: vm.structure.name}" style="margin:2em 0"></median>
												</section>
												<section class="action module slide-toggle mb mt" layout-align="center center" layout="row" ng-if="!vm.current">
																<md-button flex="50" ng-disabled="true">click on a country</md-button>
												</section>
												<section>
																<md-tabs md-center-tabs="true" md-dynamic-height md-no-pagination="true" md-swipe-content="true" ng-if="vm.current" md-selected="vm.activeTab">
																				<md-tab label="Details" md-active="vm.activeTab == 0" md-on-select="vm.setTab(0)">
																								<div class="module bubbles slide-toggle mt mb" layout="column">
																												<bubbles chartdata="vm.current" height="320" indexer="vm.structure" ng-model="vm.display.selectedCat" sizefactor="3" width="300"></bubbles>
																								</div>
																				</md-tab>
																				<md-tab label="History" md-active="vm.activeTab == 1" md-on-select="vm.setTab(1)">
																								<div class="module tabs no-margin" layout="column">
																												<history chartdata="vm.current.data.data" options="{field:vm.structure.name, color:vm.structure.color}"></history>
																								</div>
																				</md-tab>
																				<md-tab label="Compare" md-active="vm.activeTab == 2" md-on-deselect="vm.checkComparison(false)" md-on-select="vm.checkComparison(true)">
																								<div class="module comparison">
																												<div layout-wrap layout="row">
																																<div class="country anim-opacity" flex="50" ng-repeat="country in vm.compare.countries">
																																				<h4 ng-click="vm.setCurrent(country)">
																																								<span class="number">N°{{vm.getRank(country)}}</span>
																																								{{vm.countryList[country.iso]}}</h4>
																																				<median data="vm.data" height="20" info="false" options="{'color': vm.structure.color, field: vm.structure.name}" ng-model="country" width="120"></median>
																																				<bubbles borders="false" chartdata="country" height="150" indexer="vm.structure" labels="false" ng-model="vm.display.selectedCat" sizefactor="5" width="120"></bubbles>

																																</div>
																												</div>
																								</div>
																				</md-tab>
																</md-tabs>
												</section>
								</md-content>
				</div>
				<div class="info-box md-whiteframe-z2 anim sub-box" id="sub-info" ng-if="vm.info">
								<div class="close-box">
												<ng-md-icon icon="{{vm.closeIcon || 'close'}}" ng-click="vm.toggleInfo()" ng-mouseleave="vm.closeIcon = 'close'" ng-mouseover="vm.closeIcon = 'chevron_left'" options='{"rotation": "none", "duration":375}' size="32"></ng-md-icon>
								</div>
								<div class="module description">
												<div layout="row">
																<div class="header" flex="50" layout-align="space-between end" layout="row" flex-offset="25">
																				<div class="title">{{ vm.structure.title}}</div>
																				<div class="sub-title">{{vm.structure.full_name}}</div>
																</div>
												</div>
												<div layout="row">
																<div class="content" flex="50" flex-offset="25">
																				<div class="text" ng-bind-html="vm.structure.description"></div>
																</div>
												</div>
												<div layout-align="center" layout-margin layout="row">
																<div class="framework" layout-align="space-between center" layout="column">
																				<sunburst data="vm.structure"></sunburst>
																</div>
												</div>
												<div layout="row">
																<div class="caption" flex="60" ng-bind-html="vm.structure.caption" flex-offset="20"></div>
												</div>
								</div>

				</div>
