<style type="text/css">
				md-tabs .md-tab.md-active,
				md-tabs .md-tab.md-focused
}
};
}
md-tabs .md-tab.md-active,
md-tabs .md-tab.md-focused
}
}
md-tabs .md-tab.md-active,
md-tabs .md-tab.md-focused
};
}
}
vm.structure.style.base_color || 'rgba(128, 243, 198,1)'{
{:color{
.info-container .info-box .module.rank .mini-list .list ul li.active
};
}
background:{{
vm.structure.style.base_color || 'rgba(128, 243, 198,1)'
};

md-tabs md-ink-bar {
color:{{
vm.structrue.style.base_color || 'rgba(128, 243, 198,1)'
}
}
vm.structure.style.base_color || 'rgba(128, 243, 198,1)'{
{:color{
md-tabs .md-tab.md-active,
md-tabs .md-tab.md-focused
}

md-tabs .md-tab .md-ripple-container {
color:{{
vm.structure.style.base_color || 'rgba(128, 243, 198,1)'
}
}
vm.structure.style.base_color || 'rgba(128, 243, 198,1)'{
{:color{
.info-box .module.rank .mini-list .list ul li.active,
.info-box .module.comparison h4 .number ;
}

</style>
<div class="info-box">
				<div class="cssload-container doAnim-fade" ng-if="!vm.data.length">
								<div class="cssload-whirlpool"></div>
								<div class="cssload-text">23°</div>
				</div>
				<section class="header noPaddingOnClosed"  layout-align="space-between center" layout="row" ng-if="vm.structure.parent_id == 0" ng-style="{'color':vm.display.selectedCat.color}">
								<span class="title " ng-class="{'tinyOnClosed': vm.current && vm.data.length }">{{vm.structure.title}}</span>
								<span class="subtitle hideOnClosed">{{vm.structure.full_name}}</span>
								<md-button class="md-icon-button hideOnClosed" ui-sref="app.index.show.info({id:vm.structure.id,name:vm.structure.name})">
												<i class="icon-acess-to-information"></i>
								</md-button>
				</section>
				<section class="header noPaddingOnClosed" ng-if="vm.structure.parent_id != 0 && vm.data.length">
								<div layout-align="space-between center" layout="row">
												<div layout-align="center center" class="hideOnClosed" layout="row">
																<div class="close-box" ng-click="goBack()" ui-sref="app.index.show.selected({id:vm.structure.parent.id,index:vm.structure.parent.name,item:vm.current.iso})">
																				<ng-md-icon icon="{{closeIcon || 'close'}}" ng-mouseleave="closeIcon = 'close'" ng-mouseover="closeIcon = 'chevron_left'" options='{"rotation": "none", "duration":375}' size="32"></ng-md-icon>
																</div>
												</div>
												<div layout-align="space-between center" layout="column">
																<span class="icon slide-toggle hideOnClosed" style="margin-bottom:1em">
																				<i class="icon icon-bubble icon-{{vm.structure.icon || vm.structure.parent.icon}}" ng-if="vm.structure.icon || vm.structure.parent.icon" ng-style="{'background-color':vm.structure.style.base_color || 'rgba(128, 243, 198,1)'}"></i>
																				<div class="icon-bubble" ng-if="!vm.structure.icon && !vm.structure.parent.icon" ng-style="{'background-color':vm.structure.style.base_color || 'rgba(128, 243, 198,1)','width': '1em'}">&nbsp;</div>
																</span>
																<span class="title" ng-class="{'tinyOnClosed': vm.current && vm.data.length }" >{{vm.structure.title}}</span>
												</div>
												<div class="hideOnClosed">
																<span class="info-icon" ui-sref="app.index.show.info({id:vm.structure.id,name:vm.structure.name})">
																				<ng-md-icon icon="info_outline"></ng-md-icon>
																</span>
												</div>
								</div>
				</section>
				<md-content>

								<section class="header info slide-toggle noPaddingOnClosed" layout-align="space-between center" layout="row" ng-if="vm.current">
												<span class="title">{{vm.countryList[vm.current.iso]}}</span>
												<span class="info-icon hideOnClosed" ng-click="vm.mapGotoCountry(vm.current.iso)">
																<ng-md-icon icon="chevron_right"></ng-md-icon>
												</span>
								</section>
								<section class="rank module slide-toggle hideOnClosed" layout-align="space-between center" layout="row" ng-if="vm.current  && !vm.compare.active">
												<div class="chart" layout="row">
																<div layout-align="center center" layout="column">
																				<div class="title" layout-align="center center" layout="row">Rank</div>
																				<div layout="row">
																								<circlegraph item="vm.current" options="vm.circleOptions"></circlegraph>
																				</div>
																</div>
																<div class="tendency" layout-align="center center" layout="column" ng-class="{active:vm.current}">
																				<div>&nbsp;</div>
																				<ng-md-icon class="icon-space" icon="{{vm.getTendency()}}" options='{"rotation": "none"}' style="fill:{{vm.structure.color}}"></ng-md-icon>
																</div>
												</div>
												<div class="mini-list">
																<div class="title">
																				<span ng-if="!vm.current.id">Top</span>
																				<span ng-if="vm.current.id">Actual</span>
																</div>
																<div class="list">
																				<ul style="transform:translateY(-{{vm.getOffset()}}px)">
																								<li ng-class="{active: nat.iso == vm.current.iso}" ng-click="vm.setCurrent(nat)" ng-repeat="(key, nat) in vm.data | orderBy: vm.structure.name">
																												<span class="number">{{key+1}}.</span>
																												<span class="value">{{nat.iso}}</span>
																												<md-tooltip md-delay="700" md-direction="right">
																																{{vm.countryList[nat.iso]}}
																												</md-tooltip>
																								</li>
																				</ul>
																</div>
												</div>
												<div class="mini-list">
																<div class="title">Bottom</div>
																<div class="list">
																				<ul>
																								<li ng-click="vm.setCurrent(nat)" ng-repeat="(key, nat) in vm.data | orderBy:vm.structure.name:true | limitTo:3">
																												<span class="number">{{vm.getRank(nat)}}.</span>
																												<span class="value">{{nat.iso}}</span>
																												<md-tooltip md-delay="700" md-direction="right">
																																{{vm.countryList[nat.iso]}}
																												</md-tooltip>
																								</li>
																				</ul>
																</div>
												</div>
								</section>

								<section class="module slide-toggle" layout-align="center center" layout="column" ng-if="vm.current  && !vm.compare.active">
												<median data="vm.data" ng-model="vm.current" options="{color: vm.structure.style.base_color,handling: true, field: vm.structure.name}" style="margin:2em 0"></median>
								</section>
								<section class="action module slide-toggle mb mt" layout-align="center center" layout="row" ng-if="!vm.current && vm.data.length">
												<md-button flex="50" ng-disabled="true" hide-xs>click on a country</md-button>
												<div flex hide-gt-xs layout="column">
												<md-subheader class="md-primary">Select a country</md-subheader>
												<md-input-container>
												<md-list flex>

																<md-list-item  ng-repeat="(key, nat) in vm.data | orderBy:vm.structure.name">
																		<p class="cursor" ng-click="vm.setCurrent(nat)">{{vm.countryList[nat.iso]}}</p>
																</md-list-item>
												</md-list>
											</div>
								</section>
								<section>
												<md-tabs md-center-tabs="true" md-dynamic-height md-no-pagination="true" md-selected="vm.activeTab" md-stretch-tabs="true" md-swipe-content="true" ng-if="vm.current">
																<md-tab label="Details" md-active="vm.activeTab == 0" md-on-select="vm.setTab(0)" ng-if="vm.structure.children.length > 0">
																				<div class="module bubbles slide-toggle mt mb" layout="column" ng-show="!vm.isPrelast()">
																								<bars data="vm.current.data.data[0]" options="{'titled': false, color:vm.structure.style.base_color, onClick: vm.goToIndex}" structure="vm.structure.children"></bars>
																				</div>
																				<div class="module bubbles slide-toggle mt mb" layout="column" ng-show="vm.isPrelast()">
																								<bubbles chartdata="vm.current" height="320" indexer="vm.structure" ng-model="vm.display.selectedCat" sizefactor="3" width="300"></bubbles>
																				</div>
																</md-tab>
																<md-tab label="History" md-active="vm.activeTab == 1" md-on-select="vm.setTab(1)">
																				<div class="module tabs no-margin" layout="column">
																								<history chartdata="vm.current.data.data" options="{field:vm.structure.name, color:vm.structure.style.base_color || 'rgba(128, 243, 198,1)'}"></history>
																				</div>
																</md-tab>
																<md-tab label="Compare" md-active="vm.activeTab == 2" md-on-deselect="vm.checkComparison(false)" md-on-select="vm.checkComparison(true)">
																				<div class="module comparison">
																								<div layout-wrap layout="row">
																												<div class="country anim-opacity" flex="50" ng-repeat="country in vm.compare.countries">
																																<h4 ng-click="vm.setCurrent(country)">
																																				<span class="number">N°{{vm.getRank(country)}}</span>
																																				{{vm.countryList[country.iso]}}</h4>
																																<median data="vm.data" height="20" info="false" ng-model="country" options="{'color': vm.structure.style.base_color, field: vm.structure.name}" width="120"></median>
																																<bubbles borders="false" chartdata="country" height="150" indexer="vm.structure" labels="false" ng-if="vm.structure.children.length" ng-model="vm.display.selectedCat" sizefactor="5" width="120"></bubbles>

																												</div>
																								</div>
																				</div>
																</md-tab>
												</md-tabs>
								</section>
				</md-content>
</div>
<!--<div class="info-box md-whiteframe-z2 anim sub-box" id="sub-info" ng-if="vm.info">
								<div class="close-box">
												<ng-md-icon icon="{{vm.closeIcon || 'close'}}" ng-click="vm.toggleInfo()" ng-mouseleave="vm.closeIcon = 'close'" ng-mouseover="vm.closeIcon = 'chevron_left'" options='{"rotation": "none", "duration":375}' size="32"></ng-md-icon>
								</div>


				</div>-->
