<md-content class="indicator-tabs" layout-fill>
	<md-tabs md-dynamic-height md-no-ink-bar md-no-pagination md-stretch-tabs="always">
		<md-tab ng-class="{'md-warn': !vm.checkBase()}">
			<md-tab-label>
				<ng-md-icon icon="info_outline" ng-class="{'valid': baseForm.$valid}"></ng-md-icon>
			</md-tab-label>
			<md-tab-body>
				<form name="baseForm" novalidate>
					<md-content class="md-accent" layout-padding>
						<div class="mb25" layout-align="space-between center" layout="row" style="height:68px">

							<!-- <span class="info" layout-align="space-between center" layout="row" ng-class="{'warning':!vm.checkBase(), 'info': vm.checkBase()}">
																																<ng-md-icon icon="{{vm.checkBase() ? 'check_circle': 'error'}}"></ng-md-icon>
																																<div ng-if="vm.checkBase()">&nbsp;Completed</div>
																																<div ng-if="!vm.checkBase()">&nbsp;Uncompleted</div>
																												</span> -->
							<span flex></span>
							<md-button class="md-primary md-fab md-mini doAnim-bottom" ng-click="vm.baseOptions.saveClick()" ng-disabled="baseForm.$invalid" ng-if="vm.baseOptions.allowSave">
								<md-icon class="material-icons">save</md-icon>
								<md-tooltip md-delay="500">Save changes</md-tooltip>
							</md-button>
						</div>
						<div class="indicator-fields">
							<md-input-container class="md-block big">
								<label>Title*</label>
								<input maxlength="56" minlength="3" name="title" ng-model="vm.item.title" required type="text" />
								<div ng-messages="baseForm.title.$error" ng-show="baseForm.title.$error">
									<div ng-message="required">You
										<b>must</b> enter a title.</div>
									<div ng-message="minlength">The title is not long enough. At least 3 characters!</div>
									<div ng-message="maxlength">The name has to be less than 56 characters long.</div>
								</div>
							</md-input-container>
							<md-input-container class="md-block">
								<label>Customer</label>
								<input maxlength="255" minlength="3" name="business" ng-model="vm.item.business" type="text" />
								<div ng-messages="baseForm.business.$error" ng-show="baseForm.business.$error">
									<div ng-message="minlength">The title is not long enough. At least 3 characters!</div>
									<div ng-message="maxlength">The name has to be less than 25 characters long.</div>
								</div>
							</md-input-container>
							<md-input-container class="md-block">
											<label>Url</label>
											<input maxlength="255" minlength="5" name="url" ng-model="vm.item.url" type="url"/>
											<div ng-messages="baseForm.url.$error">
															<div ng-message="minlength">The url is not long enough. At least 5 characters!</div>
															<div ng-message="pattern">This is not a valid url!</div>
															<div ng-message="maxlength">The name has to be less than 255 characters long.</div>
											</div>
							</md-input-container>
							<md-input-container class="md-block">
								<label>Description</label>
								<textarea ng-model="vm.item.description" md-select-on-focus></textarea>
							</md-input-container>
							<div label="Color" md-color-picker ng-model="vm.item.base_color"></div>
							<image-uploader ng-model="vm.item" label="Upload Image"></image-uploader>
						</div>
					</md-content>
				</form>
			</md-tab-body>
		</md-tab>
		<md-tab ng-disabled="vm.item.id == 0 || !vm.item.id">
			<md-tab-label>
				<ng-md-icon icon="format_list_bulleted" ng-class="{'valid': vm.item.items.length}"></ng-md-icon>
			</md-tab-label>
			<md-tab-body>
				<md-content>
					<treemenu options="vm.baseOptions" item="vm.item" selection="vm.selected"></treemenu>
					<treeview items="vm.item.items" item="vm.item" selection="vm.selected" options="vm.baseOptions"></treeview>
				</md-content>
			</md-tab-body>
		</md-tab>
		<md-tab ng-disabled="(vm.item.id == 0 || !vm.item.id) || !vm.item.items.length ">
			<md-tab-label>
				<ng-md-icon icon="send" ng-class="{'valid': vm.item.items.length}"></ng-md-icon>
			</md-tab-label>
			<md-tab-body>
				<md-content>
					<md-content md-padding layout="row" style="padding:1em .5em">

						<md-button class="md-primary md-fab md-mini doAnim-bottom" ng-click="vm.baseOptions.saveClick()" ng-disabled="baseForm.$invalid" ng-if="vm.baseOptions.allowSave">
							<md-icon class="material-icons">save</md-icon>
							<md-tooltip md-delay="500">Save changes</md-tooltip>
						</md-button>
							<span flex></span>
						<md-button class="md-primary md-fab md-mini doAnim-bottom" ng-click="vm.getCode()" >
							<md-icon class="material-icons">send</md-icon>
							<md-tooltip md-delay="500">Get embed code</md-tooltip>
						</md-button>
					</md-content>
					<md-subheader>Choose your Layout</md-subheader>

					<div class="p1">
						<md-button class="thumb-chooser md-primary" md-whiteframe="1" layout="column" layout-align="center center">
							<h3 class="colored">Standard</h3>
						</md-button>
					</div>
					<div class="p1">

						<md-button class="thumb-chooser" md-whiteframe="1" layout="column" layout-align="center center" ui-sref="app.index.exports.details.layout({id:vm.item.id, name:vm.item.name})">
							<div class="panel-preview" layout="row">
								<div style="background-image: url('/img/img-1.jpg')" flex="25"></div>
								<div style="background-image: url('/img/img-2.jpg')" flex="25"></div>
								<div style="background-image: url('/img/img-3.jpg')" flex="25"></div>
								<div style="background-image: url('/img/img-4.jpg')" flex="25"></div>
							</div>
							<h3 class="colored">Split</h3>
						</md-button>
					</div>
				</md-content>
			</md-tab-body>
		</md-tab>

	</md-tabs>
</md-content>
