<div class="info-container" ng-class="{'out': country  && display.selectedCat }">
	<div class="info-box  md-whiteframe-z3" layout="column">

		<div class="header" layout-align="space-between center" layout="row">
			<span class="title">{{indexData.name}}</span>
			<span class="subtitle">{{indexData.full_name}}</span>
			<span class="info-icon">
				<ng-md-icon icon="info_outline" ng-click="toggleInfo()"></ng-md-icon>
			</span>
		</div>
		<div class="header info slide-toggle" layout-align="space-between end" layout="row" ng-if="current">
			<span class="title">{{current.country}}</span>
			<span class="info-icon">
				<ng-md-icon icon="chevron_right"></ng-md-icon>
			</span>
		</div>
		<div class="rank module slide-toggle" layout-align="space-between center" layout="row" ng-if="current  && !compare.active">
			<div class="chart" layout="row">
				<div layout-align="center center" layout="column">
					<div class="title" layout-align="center center" layout="row">Rank</div>
					<div layout="row">
						<circlegraph ng-model="current"></circlegraph>
					</div>
				</div>
				<div class="tendency" layout-align="center center" layout="column" ng-class="{active:current}">
					<div>&nbsp;</div>
					<ng-md-icon class="icon-space" icon="{{getTendency()}}" options='{"rotation": "none"}'></ng-md-icon>
				</div>
			</div>
			<div class="mini-list">
				<div class="title">
					<span ng-if="!current.id">Top</span>
					<span ng-if="current.id">Actual</span>
				</div>
				<div class="list">
					<ul style="transform:translateY(-{{getOffset()}}px)">
						<li ng-class="{active: nat.id == current.id}" ng-click="setCurrent(nat)" ng-repeat="(key, nat) in epi | orderBy:'+rank'">
							<span class="number">{{key+1}}.</span>
							<span class="value">{{nat.iso}}</span>
							<md-tooltip md-delay="700" md-direction="right">
								{{nat.country}}
							</md-tooltip>
						</li>
					</ul>
				</div>
			</div>
			<div class="mini-list">
				<div class="title">Bottom</div>
				<div class="list">
					<ul>
						<li ng-click="setCurrent(nat)" ng-repeat="(key, nat) in epi | orderBy:'-rank' | limitTo:3">
							<span class="number">{{getRank(nat)}}.</span>
							<span class="value">{{nat.iso}}</span>
							<md-tooltip md-delay="700" md-direction="right">
								{{nat.country}}
							</md-tooltip>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="module no-margin slide-toggle" layout-align="center center" layout="column" ng-if="current  && !compare.active">
			<p>Score</p>
			<median data="epi" ng-model="current" options="{handling:true}"></median>
			<p>median</p>
		</div>
		<div class="action module slide-toggle" layout-align="center center" layout="row" ng-if="!current">
			<md-button flex="50" ng-disabled="true">click on a country</md-button>
		</div>
		<md-tabs md-center-tabs="true" md-dynamic-height md-no-pagination="true" md-selected="activeTab" md-swipe-content="true" ng-if="current">
			<md-tab label="Details">
				<div class="module bubbles slide-toggle " layout="column">
					<bubbles chartdata="current" height="320" indexer="indexData.children" ng-model="display.selectedCat" sizefactor="3" width="300"></bubbles>
				</div>
			</md-tab>
			<md-tab label="History">
				<div class="module tabs" layout="column">
					<md-tabs md-border-bottom md-dynamic-height md-no-ink-bar md-no-pagination="true">
						<md-tab label="Rank History">
							<simplelinechart data="country.epi" invert="true" max="178" selection="display.rank"></simplelinechart>
						</md-tab>
						<md-tab label="Score History">
							<simplelinechart data="country.epi" selection="display.score"></simplelinechart>
						</md-tab>
					</md-tabs>
				</div>
			</md-tab>
			<md-tab label="Compare" md-on-deselect="checkComparison(false)" md-on-select="checkComparison(true)">
				<div class="module comparison">
					<div layout-wrap layout="row">
						<div class="country" flex="50" ng-repeat="country in compare.countries">
							<h4 ng-click="setCurrent(country)">
								<span class="number">N°{{getRank(country)}}</span>
								{{country.country}}</h4>
							<median data="epi" height="20" info="false" ng-model="country" width="120"></median>
							<bubbles borders="false" chartdata="country" height="150" indexer="indexData.children" labels="false" ng-model="display.selectedCat" sizefactor="5" width="120"></bubbles>

						</div>
					</div>
				</div>
			</md-tab>
		</md-tabs>
	</div>
	<div class="info-box md-whiteframe-z2 anim sub-box" id="sub-index" ng-if="country && display.selectedCat">
		<div class="close-box">
			<ng-md-icon icon="{{closeIcon || 'close'}}" ng-click="display.selectedCat = ''" ng-mouseleave="closeIcon = 'close'" ng-mouseover="closeIcon = 'chevron_left'" options='{"rotation": "none", "duration":375}' size="32"></ng-md-icon>
		</div>
		<subindex country="country" data="epi" selected="display.selectedCat"></subindex>
	</div>
	<div class="info-box md-whiteframe-z2 anim sub-box" id="sub-info" ng-if="info">
		<div class="close-box">
			<ng-md-icon icon="{{closeIcon || 'close'}}" ng-click="toggleInfo()" ng-mouseleave="closeIcon = 'close'" ng-mouseover="closeIcon = 'chevron_left'" options='{"rotation": "none", "duration":375}' size="32"></ng-md-icon>
		</div>
		<div class="module description">
			<div layout="row">
				<div class="header" flex="50" layout-align="space-between end" layout="row" offset="25">
					<div class="title">{{ indexData.name}}</div>
					<div class="sub-title">{{indexData.full_name}}</div>
				</div>
			</div>
			<div layout="row">
				<div class="content" flex="50" offset="25">
					<div class="text" ng-bind-html="indexData.description"></div>
				</div>
			</div>
			<div layout-align="center" layout-margin layout="row">
				<div class="framework" layout-align="space-between center" layout="column">
					<sunburst data="indexData"></sunburst>
				</div>
			</div>
			<div layout="row">
				<div class="caption" flex="60" ng-bind-html="indexData.caption" offset="20"></div>
			</div>
		</div>

	</div>
</div>
