<!-- <md-toolbar md-scroll-shrink ng-style="{'background-color':'#fff', 'color': vm.chapter.style.base_color}">
   <div class="md-toolbar-tools">
     <span>Chapter {{vm.chapterId}}: {{ vm.chapter.title}}</span>
     <span flex></span>
     <md-button class="md-icon-button" ng-click="vm.showInfo()">
       <md-icon>info</md-icon>
     </md-button>
   </div>
 </md-toolbar> -->
<md-content layout-padding hide-xs hide-sm>
	<div style="padding: 0 8px">
		<md-input-container class="md-block no-margin">
			<md-select ng-model="vm.selectedIndicator" aria-label="Select Indidicator" ng-change="vm.gotoIndicator()">
				<md-optgroup ng-if="chapter.type == 'group'" label="{{chapter.title}}" ng-repeat="chapter in vm.ExportService.exporter.items" ng-style="{'color': vm.ExportService.indicator.style.base_color}">
					<md-option ng-value="item" ng-repeat="item in chapter.children">{{ item.title}}</md-option>
				</md-optgroup>
				<md-optgroup ng-if="chapter.type != 'group'" label="{{vm.ExportService.exporter.title}}"  ng-style="{'color': vm.ExportService.indicator.style.base_color}">
					<md-option ng-value="item" ng-if="item.type == 'indicator'" ng-repeat="item in vm.ExportService.exporter.items">{{ item.title}}</md-option>
				</md-optgroup>
			</md-select>
		</md-input-container>
	</div>
</md-content>
<!-- <div class="chapter-image" hide-xs hide-sm layout="column" layout-align="center center" ng-class="{'dark': !vm.isDark}"> -->
<div class="chapter-image" hide-xs hide-sm layout="column" layout-align="center center" ng-if="vm.ExportService.chapter.style.image.src" ng-class="{'dark': !vm.isDark}">

	<!-- <h2 class="doAnim-right">
    <div>
      <md-input-container class="md-block">
        <label ng-if="!vm.nation">Choose from countries list</label>
        <md-select ng-model="vm.nation" aria-label="Choose Country from List" ng-change="vm.selectCountry(nation)">
          <md-option ng-value="nation" ng-repeat="(key, nation) in vm.countries">{{ nation }}</md-option>
        </md-select>
    </md-input-container>
  </div></h2> -->
	<div style="background-image:url('{{vm.ExportService.chapter.style.image.src}}')" class="image">
		<div class="tint"></div>
		<img color="vm.isDark" image-color src="{{vm.ExportService.chapter.style.image.src}}" style="display:none" />
	</div>

</div>
<md-subheader class="md-primary selector" hide-gt-sm>
	<div>
		<md-input-container class="md-block">
			<md-select ng-model="vm.selectedIndicator" aria-label="Select Indidicator" ng-change="vm.gotoIndicator()">
				<md-optgroup label="{{chapter.title}}" ng-repeat="chapter in vm.ExportService.exporter.items" ng-style="{'color': vm.ExportService.indicator.style.base_color}">
					<md-option ng-value="item" ng-repeat="item in chapter.children">{{ item.title}}</md-option>
				</md-optgroup>
			</md-select>
		</md-input-container>
	</div>
</md-subheader>
<section class="mobile-container">
	<div ng-if="!vm.selectedCountry.iso">
		<div layout="column" layout-align="center center">
		<div class="hint" >Click on a Country</div>
		<div> or </div>
	</div>
		<export-chooser countries="vm.data" nation="vm.selectedCountry"  changed="vm.selectCountry(nation)"></export-chooser>
	</div>
	<md-tabs md-center-tabs="true" ng-if="vm.selectedCountry.iso" md-dynamic-height md-no-pagination="true" md-selected="vm.activeTab" md-stretch-tabs="always" md-swipe-content="true" ng-if="vm.ExportService.indicator">
		<md-tab label="Details" md-active="vm.activeTab == 0" md-on-select="vm.setTab(0)">
			  <export-chooser countries="vm.data" nation="vm.selectedCountry" selected="vm.selectedIndicator" changed="vm.selectCountry(nation)"></export-chooser>
				<div layout="column">
					<div layout="row" layout-align="start center" style="padding-left:18px">
						<span class="colored">Rank&nbsp;&nbsp;</span>
						<circlegraph item="vm.selectedCountry" options="vm.circleOptions"></circlegraph>
					</div>
					<section class="module slide-toggle hideOnClosed" layout-align="center center" layout="column" ng-if="vm.current  && !vm.compare.active">
						<median data="vm.data" ng-model="vm.selectedCountry" options="{color: vm.ExportService.indicator.style.base_color,handling: true, field: 'score', max:	vm.structure.max, min:	vm.structure.min}" style="margin:2em 0"></median>
					</section>
				</div>
		</md-tab>
		<md-tab label="History" ng-if="vm.current.length > 1" md-active="vm.activeTab == 1" md-on-select="vm.setTab(1)" ng-disabled="!vm.current">
      <export-chooser countries="vm.data" nation="vm.selectedCountry" selected="vm.selectedIndicator" changed="vm.selectCountry(nation)"></export-chooser>
			<div class="module tabs mb1" layout="column">
				<history chartdata="vm.current" options="{field:'score', color:vm.ExportService.indicator.style.base_color || 'rgba(128, 243, 198,1)'}"></history>
			</div>
		</md-tab>
		<md-tab label="Compare" md-active="vm.activeTab == 2" md-on-deselect="vm.setCompare(false)" md-on-select="vm.setCompare(true)" ng-disabled="!vm.selectedCountry.iso">
      <export-chooser countries="vm.data" nation="vm.selectedCountry" selected="vm.selectedIndicator" changed="vm.selectCountry(nation)"></export-chooser>
			<div class="module comparison">
				<div layout-wrap layout="row" ng-if="vm.current && vm.structure">
					<compare-countries style="margin-top:2em;margin-left:8px;" country="vm.selectedCountry" countries="vm.countriesList" options="{field: 'score', height: 25, margin:5, color:vm.ExportService.indicator.style.base_color, duration:500, min:vm.structure.min, max:vm.structure.max}"></compare-countries>
					<div class="country anim-opacity" flex="50" ng-repeat="country in vm.compare.countries">
						<!-- <h4 ng-click="vm.setCurrent(country)">
                                                        <span class="number">N°{{vm.getRank(country)}}</span>
                                                        {{vm.countryList[country.iso]}}</h4>
						<median data="vm.data" height="20" info="false" ng-model="country" options="{'color': vm.structure.style.base_color, field: vm.structure.name}" width="120"></median>
						<bubbles borders="false" chartdata="country" height="150" indexer="vm.structure" labels="false" ng-if="vm.structure.children.length" ng-model="vm.display.selectedCat" sizefactor="5" width="120"></bubbles> -->

					</div>
				</div>
			</div>
		</md-tab>
	</md-tabs>
</section>
<style>
	.chapter-image,
	md-tabs md-ink-bar,
	.tint {
		background-color: {{vm.ExportService.indicator.style.base_color	}};
	}

	.chapter-image img {
		opacity: 0.8;
	}
	md-input-container:not(.md-input-invalid).md-input-focused label,
	.md-subheader.md-primary,
	md-tabs .md-tab.md-active,
	.colored {
		color: {{	vm.ExportService.indicator.style.base_color	}} !important;
	}
	.hint,
	md-select-menu.md-default-theme md-option[selected],
	md-select-menu md-option[selected] {
		background-color: {{vm.ExportService.indicator.style.base_color}}	!important;
		color:#fff !important;
		border:1px solid;
	}
	md-select:not([disabled]):focus .md-select-value{
		border-bottom-color:{{vm.ExportService.indicator.style.base_color}};
	}
</style>
