<div class="conflict">
  <div layout-align="start center" class="back-button" layout="row" ng-click="$root.goBack()">
			<ng-md-icon icon="chevron_left" style="fill:#4fb0e5"></ng-md-icon>
			back
	</div>
  <section class="header noPaddingOnClosed">
          <div layout-align="space-between " layout="column">
                  <div layout-align="space-between start" class="pullToTopOnClosed" layout="column">
                          <a ui-sref="app.conflict.index">
                                  <img src="/images/hiik_logo.png"/>
                          </a>
                  </div>
                  <div layout-align="space-between center" layout="row">
                          <span class="title tinyOnClosed">
                                  <a ui-sref="app.conflict.index">Conflict Barometer</a>
                          </span>
                          <span class="info-icon hideOnClosed"  ng-click="vm.showMethod()">
                                  <md-icon>
                                          <i class="icon-acess-to-information"></i>
                                  </md-icon>
                          </span>
                  </div>
          </div>
          <span class="outlink" layout="column" layout-align="space-between end">
            <a href="http://www.hiik.de" target="_blank">hikk.de und so</a>
          </span>
  </section>
<section class="noPaddingOnClosed">
  <h3 class="main-title">{{vm.nation.country}}</h3>
</section>
<section class="noPaddingOnClosed scaleSmallOnClosed">
  <h3 layout="row" layout-align="start center">
      <circlegraph class="scaleSmallOnClosed scaleCenter" item="vm.nation" options="vm.circleOptions" style="margin-right:.5em"></circlegraph>
      <div layout="row" layout-align="start center">
      <span class="lower-text">highest conflict intensity</span>
      <div>
        <ng-md-icon class="icon-space" icon="{{vm.getTendency()}}" options='{"rotation": "none"}'></ng-md-icon>
        <md-tooltip md-direction="right">change in conflict intensity since 2014</md-tooltip>
      </div>
    </div>
  </h3>



</section>
<section>
  <h3 style="margin-bottom:1em;">conflicts: {{vm.nation.conflicts.length}}</h3>
  <div layout="column">
    <div layout="row" class="conflict-legend" layout-align="space-between center">
      <div>conflict</div>
      <div>intensity</div>
    </div>
    <div ui-sref="app.conflict.index.details({id:conflict.id})" layout="row" layout-align="space-between center" class="conflict-item conflict{{conflict.int2015}} list-anim" ng-repeat="conflict in vm.nation.conflicts | orderBy:'int2015':true">
      <div>{{conflict.title}}</div>
      <div>{{conflict.int2015}}</div>
    </div>
  </div>
</section>
</div>
